<input type="hidden" name="cmd" value="AddToFichotheque">
<input type="hidden" name="json" value="userstate">
<input type="hidden" name="sphere" value="{{> user.sphere}}">
<input type="hidden" name="fichotheque" value="{{> fichothequeName}}">
<input type="hidden" name="login" value="{{> user.login}}">
<div class="grid-Table">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.person')}}</span>
        <span class="grid-ColonCell">{{colon /}}</span>
        <span class="grid-InputCell">{{> user.login}} – {{> user.name}}</span>
    </p>
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.fichotheque')}}</span>
        <span class="grid-ColonCell">{{colon /}}</span>
        <span class="grid-InputCell">
            <span class="multi-stats-Title">{{> fichothequeTitle}}</span>
            <span class="multi-stats-Name">[{{: fichothequeName}}]</span>
        </span>
    </p>
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.sphere.userstatus')}}</span><span class="grid-ColonCell">{{colon /}}</span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            {{for levelArray tmpl="centralsphere:overlay/leveloption" /}}
        </div>
    </fieldset>
</div>
