<input type="hidden" name="cmd" value="CopyFromFichotheque">
<input type="hidden" name="json" value="user-array,centralspherestats">
<input type="hidden" name="sphere" value="{{> sphereName}}">
<input type="hidden" name="fichotheque" value="{{> fichothequeName}}">
<div class="grid-Table">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.fichotheque')}}</span>
        <span class="grid-ColonCell">{{colon /}}</span>
        <span class="grid-InputCell">
            <span class="multi-stats-Title">{{> fichothequeTitle}}</span>
            <span class="multi-stats-Name">[{{: fichothequeName}}]</span>
        </span>
    </p>
    <p class="grid-Row">
        <label for="{{: formId}}_logins" class="grid-LabelCell">
            {{> ~loc('_ label.multi.loginstocopy')}}
        </label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <textarea id="{{: formId}}_logins" type="text" cols="30" rows="8" name="logins">{{for logins}}{{> #data}}
{{/for}}</textarea>
        </span>
    </p>
</div>
