<input type="hidden" name="cmd" value="CentralEmailChange">
<input type="hidden" name="json" value="user">
<input type="hidden" name="sphere" value="{{> user.sphere}}">
<input type="hidden" name="login" value="{{> user.login}}">
<div class="grid-Table">
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_email">{{> ~loc('_ label.sphere.email')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_email" name="email" size="30" value="{{> email}}">
        </span>
    </p>
</div>