<input type="hidden" name="cmd" value="FichothequeSphereCreate">
<input type="hidden" name="json" value="centralspherestats">
<input type="hidden" name="sphere" value="{{> sphereName}}">
<input type="hidden" name="fichotheque" value="{{> fichothequeName}}">
<div class="grid-Table">
     <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.sphere')}}</span>
        <span class="grid-ColonCell">{{colon /}}</span>
        <span class="grid-InputCell">
            {{> sphereName}}
        </span>
    </p>
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.fichotheque')}}</span>
        <span class="grid-ColonCell">{{colon /}}</span>
        <span class="grid-InputCell">
            <span class="multi-stats-Title">{{> fichothequeTitle}}</span>
            <span class="multi-stats-Name">[{{: fichothequeName}}]</span>
        </span>
    </p>
</div>

