<span class="grid-choice-InputCell">
    <input type="radio" value="{{: level.name}}" id="{{: formId}}_status_{{: level.name}}" name="status" {{if checked}}checked{{/if}}>
</span>
<span class="grid-choice-LabelCell">
    <label for="{{: formId}}_status_{{: level.name}}"><span class="multi-user-LevelSpan  multi-user-Level_{{: level.name}}">{{: level.symbol}}</span> {{> ~loc(level.locKey)}}</label>
</span>
