<input type="hidden" name="cmd" value="CentralPasswordChange">
<input type="hidden" name="json" value="user">
<input type="hidden" name="sphere" value="{{> user.sphere}}">
<input type="hidden" name="login" value="{{> user.login}}">
<div class="grid-Table">
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_password_1">{{> ~loc('_ label.sphere.password_1')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="password" id="{{: formId}}_password_1" name="password1" size="30" value="">
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_password_2">{{> ~loc('_ label.sphere.password_2')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="password" id="{{: formId}}_password_2" name="password2" size="30" value="">
        </span>
    </p>
</div>
