<input type="hidden" name="cmd" value="CentralPersonChange">
<input type="hidden" name="json" value="user">
<input type="hidden" name="sphere" value="{{> user.sphere}}">
<input type="hidden" name="login" value="{{> user.login}}">
<div class="grid-Table">
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_surname">{{> ~loc('_ label.sphere.surname')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_surname" name="surname" size="30" value="{{> user.person.surname}}">
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_forename">{{> ~loc('_ label.sphere.forename')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_forename" name="forename" size="30" value="{{> user.person.forename}}">
        </span>
    </p>
    <p class="grid-Row">
        <span class="grid-InputCell">
            <span class="command-FlexInput command-Smaller">
                <input type="checkbox" value="1" id="{{: formId}}_surnamefirst" name="surnamefirst" {{if user.person.surnamefirst}}checked{{/if}}>
                <label for="{{: formId}}_surnamefirst">{{> ~loc('_ label.sphere.surnamefirst')}}</label>
            </span>
        </span>
    </p>
</div>
