<input type="hidden" name="cmd" value="CentralStatusChange">
<input type="hidden" name="json" value="user,userstate">
<input type="hidden" name="sphere" value="{{> user.sphere}}">
<input type="hidden" name="login" value="{{> user.login}}">
<div class="grid-Table">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.sphere.userstatus')}}</span><span class="grid-ColonCell">{{colon /}}</span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            {{for levelArray tmpl="centralsphere:overlay/leveloption" /}}
        </div>
    </fieldset>
</div>