<input type="hidden" name="cmd" value="CentralUserCreation">
<input type="hidden" name="json" value="user-array">
<input type="hidden" name="sphere" value="{{> sphere}}">
<div class="grid-Table">
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_newlogin">{{> ~loc('_ label.sphere.login')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_newlogin" pattern="[a-zA-Z][a-zA-Z0-9]*" name="newlogin" size="15" value="" required>
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_surname">{{> ~loc('_ label.sphere.surname')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_surname" name="surname" size="30" value="">
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_forename">{{> ~loc('_ label.sphere.forename')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_forename" name="forename" size="30" value="">
        </span>
    </p>
    <p class="grid-Row">
        <span class="grid-InputCell">
            <span class="command-FlexInput command-Smaller">
                <input type="checkbox" value="1" id="{{: formId}}_surnamefirst" name="surnamefirst">
                <label for="{{: formId}}_surnamefirst">{{> ~loc('_ label.sphere.surnamefirst')}}</label>
            </span>
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_email">{{> ~loc('_ label.sphere.email')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_email" name="email" size="30" value="">
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_password_1">{{> ~loc('_ label.sphere.password_1')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="password" id="{{: formId}}_password_1" name="password1" size="30" value="">
        </span>
    </p>
    <p class="grid-Row">
        <label class="grid-LabelCell" for="{{: formId}}_password_2">{{> ~loc('_ label.sphere.password_2')}}</label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input type="password" id="{{: formId}}_password_2" name="password2" size="30" value="">
        </span>
    </p>
</div>
