<div class="illustration-change-Tools">
    <button type="button" class="global-button-Transparent action-Crop" id="{{: genId}}_crop" title="{{> ~loc('_ label.album.tool_crop')}}">
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" class="global-button-Transparent action-Resize" id="{{: genId}}_resize" title="{{> ~loc('_ label.album.tool_resize')}}">
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" class="global-button-Transparent action-Replace" id="{{: genId}}_replace" title="{{> ~loc('_ label.album.tool_replace')}}">
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" class="global-button-Transparent action-Previous" id="{{: genId}}_previous" title="{{> ~loc('_ label.album.tool_previous')}}" disabled="disabled">
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" class="global-button-Transparent action-Next" id="{{: genId}}_next" title="{{> ~loc('_ label.album.tool_next')}}" disabled="disabled">
        <span class="global-button-Icon"></span>
    </button>
{{if (args.illustrationId) && (args.tmpFileName !== "_ORIGINAL")}} 
    <button type="button" class="global-button-Transparent action-Reset" id="{{: genId}}_reset" title="{{> ~loc('_ label.album.tool_reset')}}">
        <span class="global-button-Icon"></span>
    </button>
{{/if}}
</div>
<div class="illustration-change-InfosPanel">
    <div class="illustration-change-Infos" id="{{: genId}}_panel_cropinfos">
        <form action="album" method="GET" id="{{: genId}}_cropform">
            <input type="hidden" name="cmd" value="ToolCrop">
            <input type="hidden" name="album" value="{{: args.album}}">
        {{if args.illustrationId}} 
            <input type="hidden" name="id" value="{{: args.illustrationId}}">
        {{/if}}
            <input type="hidden" name="x" value="0">
            <input type="hidden" name="y" value="0">
            <input type="hidden" name="width" value="8">
            <input type="hidden" name="height" value="8">
            <input type="hidden" name="tmpfile" value="{{: args.tmpFileName}}">
            <input type="hidden" name="jsontype" value="json">
            <span class="illustration-Label">{{> ~loc('_ label.album.croparea')}}{{colon /}}</span> <span id="{{: genId}}_cropbounds" class="illustration-change-CropBounds"></span>
            <span class="global-Glue"></span>
            <button type="submit" id="{{: genId}}_cropsubmit" disabled="disabled" class="global-button-Standard action-Crop">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ submit.album.tool_crop')}}</span>
            </button>
        </form>
    </div>
    <div class="illustration-change-Infos" id="{{: genId}}_panel_resizeinfos">
        <form action="album" method="GET" id="{{: genId}}_resizeform">
            <input type="hidden" name="cmd" value="ToolResize">
            <input type="hidden" name="album" value="{{: args.album}}">
        {{if args.illustrationId}} 
            <input type="hidden" name="id" value="{{: args.illustrationId}}">
        {{/if}}
            <input type="hidden" name="tmpfile" value="{{: args.tmpFileName}}">
            <input type="hidden" name="jsontype" value="json">
            <label class="illustration-Label" for="{{: genId}}_input_width">{{> ~loc('_ label.album.width')}}{{colon /}}</label> <input type="text" size="4" id="{{: genId}}_input_width" name="width">
            <label class="illustration-Label" for="{{: genId}}_input_height">{{> ~loc('_ label.album.height')}}{{colon /}}</label> <input type="text" size="4" id="{{: genId}}_input_height" name="height">
            <span class="global-Glue"></span>
            <button type="submit" id="{{: genId}}_resizesubmit" disabled="disabled" class="global-button-Standard action-Resize">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ submit.album.tool_resize')}}</span>
            </button>
        </form>
    </div>
</div>
<main class="illustration-Main illustration-change-Main">
    <img src="{{: args.imagePath}}" id="{{: genId}}_image" class="illustration-Image">
</main>
<footer class="illustration-Buttons">
    <button id="{{: genId}}_confirm" class="global-button-Standard action-Save" {{if args.changeType !== "creation"}}disabled="disabled"{{/if}}>
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
    </button>
    <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
    </button>
</footer>
