<section class="unit-Unit illustration-upload-Unit {{if !isWindow}}illustration-upload-IframeUnit{{/if}}">
    {{if isWindow}}<header class="unit-Header">
        <h1 class="unit-Title action-Album"><span class="global-button-Icon"></span><span class="unit-TitleSpan">{{> ~loc(titleKey)}}</span></h1>
    </header>
    {{/if}}
    <div class="unit-Body">
    {{if args.errorMessage}}
        <p><span class="global-ErrorMessage">{{> args.errorMessage}}</span></p>
    {{/if}}
        <p class="illustration-upload-Info">{{> ~loc('_ info.album.illustrationformat')}}</p>
        <form action="album" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="cmd" value="IllustrationFileUpload">
            <input type="hidden" name="album" value="{{: args.album}}">
            <input type="hidden" name="page-err" value="{{: args.errorPage}}">
            <input type="hidden" name="page" value="{{: args.resultPage}}">
            <input type="hidden" name="appelant" value="{{: args.appelant}}">
            <p>{{> ~loc('_ label.album.illustrationfile')}}{{colon /}}</p>
            <p class="illustration-upload-Input"><input type="file" name="file" size="45" class="global-FileInput" accept="png,jpg,jpeg,bmp,png"></p>
            <p class="illustration-upload-DragAndDropInfo">{{> ~loc('_ info.edition.draganddrop_one')}}</p>
            <p class="illustration-upload-Buttons">
                <input type="submit" value="{{> ~loc('_ submit.album.illustrationfileupload')}}">
            </p>
        </form>
        <p class="illustration-upload-Or">{{> ~loc('_ label.global.or')}}</p>
        <form action="album" method="POST">
            <input type="hidden" name="cmd" value="IllustrationFileDownload">
            <input type="hidden" name="album" value="{{: args.album}}">
            <input type="hidden" name="page-err" value="{{: args.errorPage}}">
            <input type="hidden" name="page" value="{{: args.resultPage}}">
            <input type="hidden" name="appelant" value="{{: args.appelant}}">
            <p>{{> ~loc('_ label.album.illustrationurl')}}{{colon /}}</p>
            <p class="illustration-upload-Input"><input type="text" name="url" value="" size="45" class="illustration-upload-Url"></p>
            <p class="illustration-upload-Buttons">
                <input type="submit" value="{{> ~loc('_ submit.album.illustrationfiledownload')}}">
            </p>
        </form>
    </div>
</section>
{{if isWindow}}
<footer class="illustration-Buttons">
    <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
    </button>
</footer>
{{/if}}
