<header>
    <p class="illustration-Label">{{> ~loc('_ title.album.replaceconfirm')}}{{colon /}}</p>
</header>
<main class="illustration-Main">
    <div class="illustration-uploadconfirm-Mini">
        <img src="{{: args.imagePath}}" class="illustration-Image">
    </div>
</main>
<footer class="illustration-Buttons">
    <button id="{{: genId}}_confirm" class="global-button-Standard action-Save">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.confirm')}}</span>
    </button>
    <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
    </button>
</footer>
