 <span class="command-FlexInput">
    <label>
        <input type="checkbox" name="checkbox" value="1" id="{{: formId}}_checkbox" {{if checked}}checked{{/if}}>
        <label for="{{: formId}}_checkbox">{{: ~loc(l10nKey)}}</label>
    </label>
</span>

