<form action="#" id="{{: formId}}">
<div class="grid-Table">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.selection.corpus')}}</span>
            <span class="grid-ColonCell">{{colon/}} </span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            <span class="grid-choice-InputCell">
                <input type="radio" value="all" {{if all}}checked{{/if}} id="{{: formId}}_scope_all" name="scope">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: formId}}_scope_all">{{> ~loc('_ label.selection.corpus_all')}}</label>
            </span>
            <span class="grid-choice-InputCell">
                <input type="radio" value="selection" {{if !all}}checked{{/if}} id="{{: formId}}_scope_selection" name="scope" data-deploy-role="radio" data-deploy-target="#{{: formId}}_corpustree">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: formId}}_scope_selection">{{> ~loc('_ label.selection.selectlist')}}…</label>
            </span>
            <div class="global-DetailPanel grid-choice-DetailCell {{if all}}hidden{{/if}}" id="{{: formId}}_corpustree">
                <div class="fqleditor-subsets-OptionList">
                    <div class="fqleditor-subsets-OptionItem">
                        <input type="checkbox" id="{{: formId}}_current" name="current" value="1" {{if current}}checked{{/if}}>
                        <label for="{{: formId}}_current">{{> ~loc('_ label.fqleditor.current_corpus')}}</label>
                    </div>
                    <div class="fqleditor-subsets-OptionItem">
                        <input type="checkbox" id="{{: formId}}_exclude" name="exclude" value="1" {{if exclude}}checked{{/if}}>
                        <label for="{{: formId}}_exclude">{{> ~loc('_ label.fqleditor.exclude_corpus')}}</label>
                    </div>
                </div>
                {{for corpusArray tmpl="fqleditor:corpus-checkbox"/}}
            </div>
        </div>
    </fieldset>
</div>
</form>