<div class="grid-Table" id="{{: formId}}">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.fqleditor.modes')}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" name="modes" value="{{> modes}}" id="{{: formId}}_modes">
        </span>
    </p>
    <p class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.fqleditor.weight')}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" name="end" value="{{> weight}}" id="{{: formId}}_weight">
        </span>
        <span class="grid-InputCell">
            <span class="command-FlexInput command-Smaller">
                <input type="checkbox" value="1" id="{{: formId}}_weightexclude" name="weightexclude" {{if weightexclude}}checked{{/if}}>
                <label for="{{: formId}}_weightexclude">{{> ~loc('_ label.fqleditor.exclude_range')}}</label>
            </span>
        </span>
    </p>
</div>
