<div class="grid-Table" id="{{: formId}}">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{: ~loc('_ label.selection.discardfilter')}}</span>
            <span class="grid-ColonCell">{{colon/}} </span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            {{for discardArray}}
                <span class="grid-choice-InputCell">
                    <input type="radio" value="{{: name}}" {{if checked}}checked{{/if}} id="{{: ~root.formId}}_scope_{{: name}}" name="discard">
                </span>
                <span class="grid-choice-LabelCell">
                    <label for="{{: ~root.formId}}_scope_{{: name}}">{{> ~loc(l10nKey)}}</label>
                </span>
            {{/for}}
        </div>
    </fieldset>
</div>
