<div class="fqleditor-Buttons">
<button id="{{: formId}}_button_edit" class="global-button-Standard action-Edit" type="button">
    <span class="global-button-Icon"></span>
    <span class="global-button-Text">{{: ~loc('_ link.global.change')}}</span>
</button>
</div>
