<div class="grid-Table" id="{{: formId}}">
<p class="grid-Row" >
<span class="grid-LabelCell">{{: ~loc(l10nKey)}}</span>
    <span class="grid-ColonCell">{{colon/}} </span>
    <span class="grid-InputCell">
        <label><input type="radio" value="and" name="operator" {{if operator=="and"}}checked{{/if}}>{{> ~loc('_ label.global.and')}}</label>
        <label><input type="radio" value="or" name="operator" {{if operator=="or"}}checked{{/if}}>{{> ~loc('_ label.global.or')}}</label>
    </span>
</p>
</div>