<div class="grid-Table" id="{{: formId}}">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{: ~loc('_ label.selection.period_start')}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" name="start" value="{{> start}}" id="{{: formId}}_start">
        </span>
    </p>
    <p class="grid-Row">
        <span class="grid-LabelCell">{{: ~loc('_ label.selection.period_end')}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" name="end" value="{{> end}}" id="{{: formId}}_end">
        </span>
    </p>
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{: ~loc('_ label.selection.scope')}}</span>
            <span class="grid-ColonCell">{{colon/}} </span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
        {{for scopeArray}}
            <span class="grid-choice-InputCell">
                <input type="checkbox" value="{{: name}}" {{if checked}}checked{{/if}} id="{{: ~root.formId}}_scope_{{: name}}" name="scope">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: ~root.formId}}_scope_{{: name}}">{{> ~loc(l10nKey)}}</label>
            </span>
        {{/for}}
            <span class="grid-choice-InputCell">
                <input type="checkbox" value="fields" {{if withFields}}checked{{/if}} id="{{: formId}}_scope_fields" name="scope" data-deploy-role="checkbox" data-deploy-target="#{{: formId}}_fields">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: formId}}_scope_fields">{{> ~loc('_ label.selection.period_fieldlist')}}…</label>
            </span>
            <div class="global-DetailPanel grid-choice-DetailCell {{if !withFields}}hidden{{/if}}" id="{{: formId}}_fields">
                <input type="text" value="{{> fields}}" class="selectform-Input" id="{{: formId}}_input_fields" name="" data-appelant-role="input" data-appelant-type="field">
            </div>
        </div>
    </fieldset>
</div>
