<div class="grid-Table" id="{{: formId}}">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{: ~loc(l10nKey)}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_range" value="{{> range}}">
        </span>
        <span class="grid-InputCell">
            <span class="command-FlexInput command-Smaller">
                <input type="checkbox" value="1" id="{{: formId}}_exclude" name="exclude" {{if exclude}}checked{{/if}}>
                <label for="{{: formId}}_exclude">{{> ~loc('_ label.fqleditor.exclude_range')}}</label>
            </span>
        </span>
    </p>
</div>
