<div class="grid-Table" id="{{: formId}}">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{: ~loc(l10nKey)}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" id="{{: formId}}_status" value="{{> status}}">
        </span>
    </p>
</div>
