<div class="grid-Table" id="{{: formId}}">
    <p class="grid-Row">
        <span class="grid-LabelCell">{{: ~loc('_ label.selection.users')}}</span>
        <span class="grid-ColonCell">{{colon/}} </span>
        <span class="grid-InputCell">
            <input type="text" name="users" value="{{> users}}" id="{{: formId}}_users" data-appelant-role="input" data-appelant-type="user" size="60">
        </span>
    </p>
</div>