<button id="main_body_tool_onoff" type="button" class="main-button-Small" title="{{> ~loc('_ link.layout.onoff')}}">
    <span>◐</span>
</button>
<button id="main_body_tool_increase" type="button" class="main-button-Small" title="{{> ~loc('_ link.layout.increasewidth')}}">
    <span>▶</span>
</button>
<button id="main_body_tool_decrease" type="button" class="main-button-Small" title="{{> ~loc('_ link.layout.decreasewidth')}}">
    <span>◀</span>
</button>
