<select class="menu-action-Select" id="menu_action_select">
<option value="">{{> ~loc('_ title.menu.actions')}}</option>
<option value="misc?page=tableexportform" data-target="Edition" data-action="action-Ods">{{> ~loc('_ link.misc.ods_export')}}</option>
<option value="sphere?page=redacteur-userform" data-target="Edition" data-action="action-Preferences">{{> ~loc('_ link.sphere.userprefs')}}</option>
<option value="misc?page=memento" data-target="List" data-action="action-Memento">{{> ~loc('_ link.misc.memento')}}</option>
{{for actionGroupArray}}
<optgroup label="{{> title}}">
    {{for actionArray}}
    <option value="{{> url}}" data-target="{{> target}}" data-icon="{{> icon}}">{{> title}}</option>
    {{/for}}
</optgroup>
{{/for}}
</select>
<span class="menu-EmptySpace" id="menu_action_redo"></span>
