<a href="{{: url}}" target="{{: target}}" class="global-button-Link {{: action}}">
    <span class="global-button-Icon" {{if icon}}style="background-image: url('{{> icon}}')"{{/if}}></span>
    <span class="global-button-Text">{{> text}}</span>
</a>
