<a href="selection?page=selectform" target="Edition" class="global-button-Link action-Selection">
    <span class="global-button-Icon"></span>
    <span class="global-button-Text">{{> ~loc('_ link.selection.form')}}</span>
</a>
{{if links.administration}}
<a href="administration?page=index" target="List" class="global-button-Link action-Admin">
    <span class="global-button-Icon"></span>
    <span class="global-button-Text">{{> ~loc('_ link.administration.index')}}</span>
</a>
{{else}}
<span class="menu-EmptySpace"></span>
{{/if}}

