<div class="menu-fiche-CreationForm">
    <form action="edition" method="GET" target="Edition">
        <select id="menu_fiche_select" name="corpus">
        </select>
        {{if !readOnly}}
        <a href="#"  id="menu_fiche_create" target="Edition" class="global-button-Link action-FicheCreate">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.edition.fichecreation')}}</span>
        </a>
        {{/if}}
    </form>
</div>
<div class="menu-fiche-DirectAccess">
    {{> ~loc('_ label.menu.goto')}}{{colon /}}
    <input type="text" size="6" id="menu_fiche_goto" name="goto">
    <a href="#" target="Edition" class="global-button-Transparent action-FicheDisplay" data-fiche-goto-key="read" title="{{> ~loc('_ link.fiches.fiche_long')}}">
        <span class="global-button-Icon"></span>
    </a>
    {{if !readOnly}}
    <a href="#" target="Edition" class="global-button-Transparent action-FicheEdit" data-fiche-goto-key="write" title="{{> ~loc('_ link.edition.fichechange_long')}}">
        <span class="global-button-Icon"></span>
    </a>
    {{/if}}
    {{if bdfUser.admin}}<a href="#" target="Edition" class="global-button-Transparent action-FicheIndexation" data-fiche-goto-key="indexation" title="{{> ~loc('_ link.edition.ficheindexation_long')}}">
        <span class="global-button-Icon"></span>
    </a>{{/if}}
    <a href="#" target="List" class="global-button-Transparent action-FicheSelection" data-fiche-goto-key="selection" title="{{> ~loc('_ link.selection.byfiche')}}">
        <span class="global-button-Icon"></span>
    </a>
</div>
