<a href="main?page=fiches&reload=1" target="List" class="global-button-Link action-Fiches">
    <span class="global-button-Icon"></span>
    <span class="global-button-Text">{{> ~loc('_ link.main.fiches')}}</span>
</a>
<a href="main?page=collections" target="List" class="global-button-Link action-Collections">
    <span class="global-button-Icon"></span>
    <span class="global-button-Text">{{> ~loc('_ link.main.collections')}}</span>
</a>
