<div class="menu-LogoBlock" id="menu_logo">{{include tmpl="menu:logoblock"/}}</div>
<div class="menu-ListBlock" id="menu_list">{{include tmpl="menu:listblock"/}}</div>
<div class="menu-AdminBlock" id="menu_admin">{{include tmpl="menu:adminblock"/}}</div>
<div class="menu-ActionBlock" id="menu_action">{{include tmpl="menu:actionblock"/}}</div>
<div class="menu-FicheBlock invisible" id="menu_fiche">{{include tmpl="menu:ficheblock"/}}</div>
<div class="menu-CustomBlock" id="menu_custom">{{include tmpl="menu:customblock"/}}</div>
<div class="global-Glue"></div>
<div class="menu-SessionBlock" id="menu_session">{{include tmpl="menu:sessionblock"/}}</div>