{{if node === "subset"}}
<option value="{{: name}}" {{if _selected}}selected{{/if}}>{{: indent}}{{if title}}{{> title}}{{else}}[{{: name}}]{{/if}}</option>
{{else node == "group"}}
<optgroup label="{{: indent}}{{> title}}"></optgroup>
{{for array tmpl="menu:node"/}}
{{/if}}
