<a href="session?bdf-exit=1&bdf-default-sphere={{> bdfUser.sphere}}" target="_top" class="global-button-Transparent action-SessionClose" title="{{> ~loc('_ link.session.new')}}">
    <span class="global-button-Icon"></span>
</a
><a href="session" target="_blank" class="global-button-Transparent action-SessionDuplicate" title="{{> ~loc('_ link.session.duplicate')}}">
    <span class="global-button-Icon"></span>
</a>
