<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: sqlExportName}}" data-sql-export-name="{{: sqlExportName}}" data-timer-type="form">
<input type="hidden" name="cmd" value="SqlExportChange">
<input type="hidden" name="json" value="sqlexport">
<input type="hidden" name="sqlexport" value="{{: sqlExportName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title"><span class="pane-form-Key">[{{: sqlExportName}}]</span> <span data-role="metadata-title">{{> title}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.exportation.sqlexportchange')}}</span>
        </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Admin"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.generaloptions')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
                <p class="grid-Row">
                    <label for="{{: formId}}_tableexportname" class="grid-LabelCell">
                        {{> ~loc('_ label.global.tableexport')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <select name="tableexportname" id="{{: formId}}_tableexportname">
                            <option value=""{{if !currentTableExportName}} selected{{/if}}>
                                       ---
                            </option>
                    {{for tableExportArray}}
                            <option value="{{: name}}"{{if name===~root.currentTableExportName}} selected{{/if}}>
                                [{{: name}}]{{if title}} {{> title}}{{/if}}
                            </option>
                    {{/for}}
                        </select>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_customclassname" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.sqlexportclassname')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span> 
                    <span class="grid-InputCell">
                         <input id="{{: formId}}_customclassname" type="text" size="60" name="customclassname" value="{{> customClassName}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_path" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.sql_path')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_path" type="text" size="60" name="path" value="{{> path}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_params" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.params')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <textarea id="{{: formId}}_params" cols="60" rows="7" name="params">{{> params}}</textarea>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_postcommand" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.postcommand')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_postcommand" type="text" size="30" name="postcommand" value="{{> postCommand}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetname" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetname')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <select name="targetname" id="{{: formId}}_targetname">
                            <option value="_public" {{if ((!targetName) || (targetName == "_public"))}}selected{{/if}}>{{> ~loc('_ label.configuration.publicpath')}}</option>
                        {{for availableTargetArray}}
                            <option value="{{: #data}}" {{if #data == ~root.targetName}}selected{{/if}}>{{: #data}}</option>
                        {{/for}}
                        </select>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetpath" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetpath')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_targetpath" type="text" size="20" name="targetpath" value="{{> targetPath}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_filename" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.filename')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_filename" type="text" size="20" name="filename" value="{{> fileName}}">
                    </span>
                </p>
            </div>
        </div>
    </details>
    
    {{include tmpl="pane:details_query"/}}  
    
    {{include tmpl="pane:details_attributes"/}}

    {{include tmpl="pane:commandkey_form"/}}
</div>
</form>