<input type="hidden" name="cmd" value="SqlExportCreation">
<input type="hidden" name="json" value="sqlexport">
<p>
    {{> ~loc('_ label.exportation.newexportname')}}{{colon /}}
    <input type="text" name="newsqlexport" value="" size="30">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
