<p>{{> ~loc('_ label.global.sqlexport')}}{{colon /}} <span class="pane-form-Key">[{{: name}}]</span>{{if title}} {{> title}}{{/if}}</p>
<div id="{{: resultDestinationId}}">
    <p>{{> ~loc('_ info.exportation.running')}}</p>
    <div style="width: 400px;height:10px"></div>
</div>
