<p>{{> ~loc('_ done.exportation.sqlexportrun')}}</p>
<p>
    {{> ~loc('_ label.exportation.sql_path')}}{{colon /}}
    <br>
    {{: paths.path}}
    {{if paths.url}}
    <br>
    <a href="{{: rootUrl}}{{: paths.url}}" target="blank">{{: paths.url}}</a>
    {{/if}}   
</p>

