<div class="pane-form-CommandKey">
    <a class="pane-form-CommandLink" href="{{: commandUrl}}" target="_blank" title="{{> ~loc('_ info.global.commandhelp')}}"><span class="pane-form-CommandText">{{: commandKey}}</span></a>
</div>
