<div class="pane-overlay-CommandKey">
    <a class="pane-overlay-CommandLink" href="{{: commandUrl}}" target="_blank" title="{{> ~loc('_ info.global.commandhelp')}}"><span class="pane-overlay-CommandText">{{: commandKey}}</span></a>
</div>
