<details class="unit-Unit pane-form-Unit" open>
    <summary class="pane-form-Summary action-Labels"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc(labelsLocKey)}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
    {{for labelArray}}
            <p class="grid-Row">
                <label for="{{: ~root.formId}}_label_{{: lang}}" class="grid-LabelCell">
                    {{: lang}}
                </label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <input id="{{: ~root.formId}}_label_{{: lang}}" type="text" value="{{> value}}" size="50" name="title/{{: lang}}">
                </span>
            </p>
    {{/for}}
            </div>
        </div>
</details>
