<details class="unit-Unit pane-form-Unit" {{if attributes.length > 0}}open{{/if}}>
    <summary class="pane-form-Summary action-Advanced"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc(attributesLocKey)}}</span></summary>
    <div class="unit-Body">
        <textarea cols="75" rows="8" name="attributes" id="{{: formId}}_attributes">{{> attributes}}</textarea>
    </div>
</details>
