<div id="layout_list">
</div>
<div id="layout_main">
</div>
{{if withStock}}
<div id="layout_stock">
</div>
{{/if}}
<div id="layout_tool_list">
    <button id="layout_tool_list_onoff" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.onoff')}}">
        <span>◐</span>
    </button>
    <button id="layout_tool_list_increase" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.increasewidth')}}">
        <span>▶</span>
    </button>
    <button id="layout_tool_list_decrease" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.decreasewidth')}}">
        <span>◀</span>
    </button>
</div>
{{if withStock}}
<div id="layout_tool_stock">
    <button id="layout_tool_stock_onoff" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.onoff')}}">
        <span>◐</span>
    </button>
    <button id="layout_tool_stock_increase" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.increasewidth')}}">
        <span>◀</span>
    </button>
    <button id="layout_tool_stock_decrease" type="button" class="pane-button-Small" title="{{> ~loc('_ link.layout.decreasewidth')}}">
        <span>▶</span>
    </button>
</div>
{{/if}}
