<details class="pane-stock-Unit" id="{{: unitId}}" {{if open}}open{{/if}}>
    <summary>
        <span class="pane-stock-Title">{{> title}}</span>
        <span class="pane-stock-Tools">
            <button id="{{: unitId}}_button_stock_up" type="button" class="global-button-Transparent action-stock-Up" title="{{> ~loc('_ link.stock.up')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button id="{{: unitId}}_button_stock_down" type="button" class="global-button-Transparent action-stock-Down" title="{{> ~loc('_ link.stock.down')}}">
                <span class="global-button-Icon"></span>
            </button>
        </span>
    </summary>
    <div class="pane-stock-Body">
        <div id="{{: unitId}}_content" class="pane-stock-HelpContent {{if hidden}}pane-stock-Hidden{{/if}}"></div>
    </div>
</details>
