<details class="pane-stock-Unit" id="{{: unitId}}" data-content-key="{{: contentKey}}" open>
    <summary>
        <span class="pane-stock-Title" id="{{: unitId}}_title"></span>
        <span class="pane-stock-Tools">
            <button id="{{: unitId}}_button_destock" type="button" class="global-button-Transparent action-stock-Destock" title="{{> ~loc('_ link.stock.destock')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button id="{{: unitId}}_button_switch" type="button" class="global-button-Transparent action-stock-Switch" title="{{> ~loc('_ link.stock.switch')}}" data-state-enable="!change with_main">
                <span class="global-button-Icon"></span>
            </button>
            <button id="{{: unitId}}_button_stock_remove" type="button" class="global-button-Transparent action-stock-Remove" title="{{> ~loc('_ link.stock.remove')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button id="{{: unitId}}_button_stock_up" type="button" class="global-button-Transparent action-stock-Up" title="{{> ~loc('_ link.stock.up')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button id="{{: unitId}}_button_stock_down" type="button" class="global-button-Transparent action-stock-Down" title="{{> ~loc('_ link.stock.down')}}">
                <span class="global-button-Icon"></span>
            </button>
        </span>
    </summary>
    <div class="pane-stock-Body pane-stock-KeyContent" id="{{: unitId}}_body">
        
    </div>
</details>
