<li class="tree-Node">
    <div class="tree-Leaf pane-subsettree-Pattern">
        <span class="cm-tableexport-formatpattern">{
        {{: name}}</span>
{{if directValueArray}}
    {{if directValueArray.length > 0}}
        <span class="cm-bracket"> (<span class="cm-operator">= </span>
        {{for directValueArray}}
            {{if #index > 0}}
                <span class="cm-bracket"> / </span>
            {{/if}}
            <span class="cm-quote">{{> #data}}</span>
        {{/for}}
        <span class="cm-bracket">)</span>
    {{/if}}
{{else directValueType}}
        <span class="cm-bracket"> (<span class="cm-operator">= </span><em class="cm-quote">{{: directValueType}}</em>)
{{/if}}
{{for parameterArray}}
    <span class="cm-operator">, </span>
    <span class="cm-tableexport-formatpattern">{{:name}}</span>
    {{if availableValueArray.length > 0}}
    <span class="cm-operator">=</span><span class="cm-string"> "
        {{for availableValueArray}}
            {{if #index > 0}}<span>, </span>{{/if}}
            {{> #data}}
        {{/for}}
        "</span>
    {{/if}}
{{/for}}

	<span class="cm-tableexport-formatpattern">}</span>
</div>
</li>

