<ul class="pane-subsettree-ComponentBranch tree-Top">
 {{for}}
  <li class="tree-Node">
    <details>
        <summary class="pane-subsettree-Component">
       {{for cmSpanArray}}<span class="{{: cm}}">{{: text}}</span>{{/for}} {{if title}}<span class="cm-comment">({{> title}})</span>{{/if}}
        </summary>
    {{if withPatterns}}
        <ul class="pane-subsettree-PatternBranch">
        {{clean}}{{for patternArray tmpl="pane:subsettree-patterndef"/}}{{/clean}}
        </ul>
    {{/if}}
    </details>
  </li>
 {{/for}}
</ul>
