<li class="tree-Node">
    <details>
{{if node === "subset"}}
<summary class="pane-subsettree-Subset">
    {{clean}}
    <span class="subset-Icon subset-Icon_{{: category}}"></span>
    {{if title}}
        {{> title}} <span class="subset-Key">[{{: name}}]</span>
    {{else}}
        [{{: name}}]
    {{/if}}
    {{/clean}}
</summary>
<div>
{{if details["ui"]}}
<p class="pane-subsettree-ComponentTitle">{{> ~loc('_ title.subsettrees.detail_ui')}}</p>
{{include details["ui"] tmpl="pane:subsettree-detail"/}}
{{/if}}
{{if details["misc"]}}
<p class="pane-subsettree-ComponentTitle">{{> ~loc('_ title.subsettrees.detail_misc')}}</p>
{{include details["misc"] tmpl="pane:subsettree-detail"/}}
{{/if}}
{{if details["core"]}}
<p class="pane-subsettree-ComponentTitle">{{> ~loc('_ title.subsettrees.detail_core')}}</p>
{{include details["core"] tmpl="pane:subsettree-detail"/}}
{{/if}}
{{if details["supp"]}}
<p class="pane-subsettree-ComponentTitle">{{> ~loc('_ title.subsettrees.detail_supp')}}</p>
{{include details["supp"] tmpl="pane:subsettree-detail"/}}
{{/if}}
{{if details["parentage"]}}
<p class="pane-subsettree-ComponentTitle">{{> ~loc('_ title.subsettrees.detail_satellites')}}</p>
{{include details["parentage"] tmpl="pane:subsettree-detail"/}}
{{/if}}
</div>
{{else node == "group"}}
<summary class="pane-subsettree-Group">
    {{> title}}
</summary>
<ul class="pane-subsettree-GroupBranch">
    {{for array tmpl="pane:subsettree-node"/}}
</ul>
{{/if}}
</details>
</li>

