<header id="dashboard_header">
{{if withNav}}
    <button id="dashboard_header_burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
{{/if}}
    <h1 id="dashboard_header_title"></h1>
    <div id="dashboard_header_toolbar"></div>
    <div id="dashboard_header_session">
{{if withRefresh}}
        <button id="dashboard_header_session_refresh" title="{{> ~loc('_ link.global.refresh_dashboard')}}">♻</button>
{{/if}}
        <a href="?bdf-exit=1" id="dashboard_header_session_exit" title="{{> ~loc('_ link.global.close_session')}}">⏻</a>
    </div>
</header>
<div id="dashboard_body">
{{if withNav}}
    <nav id="dashboard_body_nav"></nav>
{{/if}}
    <main role="main" id="dashboard_body_main"></main>
</div>
