<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: balayageName}}" data-balayage-name="{{: balayageName}}" data-timer-type="form">
    <input type="hidden" name="cmd" value="BalayageDefChange">
    <input type="hidden" name="json" value="balayage">
    <input type="hidden" name="balayage" value="{{: balayageName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title"><span class="pane-form-Key">[{{: balayageName}}]</span> <span data-role="metadata-title">{{> title}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.exportation.balayagedefchange')}}</span>
        </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Admin"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.generaloptions')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
                <p class="grid-Row">
                    <label for="{{: formId}}_langs" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.langcustom')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_langs" type="text" size="20" name="langs" value="{{> langs}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_defaultlangoption" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.langoption')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <select id="{{: formId}}_defaultlangoption" name="defaultlangoption">
                        {{for langOptions}}
                            <option value="{{: value}}" {{if selected}}selected{{/if}}>{{> title}}</option>
                        {{/for}}
                        </select>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetname" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetname')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <select name="targetname" id="{{: formId}}_targetname">
                        {{for targetOptionArray}}
                            <option value="{{:value}}" {{if selected}}selected{{/if}}>{{> label}}</option>
                        {{/for}}
                        </select>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetpath" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetpath')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_targetpath" type="text" size="20" name="targetpath" value="{{> targetPath}}">
                    </span>
                </p>
                <div class="grid-Row">
                    <div class="grid-UniqueCell">
                        <span class="command-FlexInput">
                        <input type="checkbox" value="1" id="{{: formId}}_ignoretransformation" name="ignoretransformation" {{if ignoreTransformation}}checked{{/if}}><label for="{{: formId}}_ignoretransformation">{{> ~loc('_ label.exportation.ignoretransformation')}}</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </details>
    
    {{include tmpl="pane:details_query"/}}
    
    {{if postcriptumArray.length > 0}}
     <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Run"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.balayagepostscriptum')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
        {{for postcriptumArray}}
                <fieldset class="grid-Row grid-choice-Fieldset">
                    <legend class="grid-choice-Legend grid-Ignore">
                        <span class="grid-LabelCell">{{> ~loc(titleKey)}}</span>
                        <span class="grid-ColonCell">{{colon /}} </span>
                    </legend>
                    <div class="grid-choice-Content grid-Ignore">
            {{for checkboxArray}}
                        <span class="grid-choice-InputCell">
                            <input id="{{: id}}" type="checkbox" value="{{: value}}" name="{{: name}}"{{if checked}} checked{{/if}}>
                        </span>
                        <span class="grid-choice-LabelCell">
                            <label for="{{: id}}">{{> label}}</label>
                        </span>
            {{/for}}
                    </div>
                </fieldset>
        {{/for}}
            </div>
        </div>
    </details>
    {{/if}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Balayages"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.balayageunits')}}</span></summary>
        <div class="unit-Body">
            <textarea type="text" cols="70" rows="8" name="unitsxml" id="{{: formId}}_unitsxml">{{> unitsXml}}</textarea>
            <br>
            <button id="{{: formId}}_button_addbalayageunit" class="global-button-Standard action-New" type="button">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.exportation.addbalayageunit')}}</span>
            </button>
        </div>
    </details>
    
    {{include tmpl="pane:details_attributes"/}}
    
    {{include tmpl="pane:commandkey_form"/}}

</div>
</form>
