<table>
{{for urlInfos.array}}
<tr data-url="{{> url}}">
    <td data-role="category" class="diagnostic-cell-Button">{{include tmpl="diagnostic:urlscan-category"/}}</td>
    <td class="diagnostic-cell-Url"><span class="diagnostic-Prefix">{{> _prefix}}</span>{{> _sortKey}}</td>
    <td data-role="link" class="diagnostic-cell-Button">{{include tmpl="diagnostic:urlscan-link"/}}</td>
    <td class="diagnostic-cell-Button">
        <button type="button" data-generated-id="{{: _generatedId}}" data-action="deployFiches" class="diagnostic-Fiches global-button-Link action-Fiches">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{: ficheArray.length}}</span>
        </button>
    </td>
    <td data-role="report" class="diagnostic-cell-Report">{{include tmpl="diagnostic:urlscan-report"/}}</td>
</tr>
<tr class="hidden" id="{{: _generatedId}}_fiches">
    <td></td>
    <td colspan="4">
        <ul class="diagnostic-FicheList">
    {{for ficheArray}}
    <li><a href="edition?page=fiche-change&amp;corpus={{: _fiche.corpus}}&amp;id={{: _fiche.id}}" target="_blank">{{> _fiche.title}}</a> <span class="diagnostic-Fields">({{for _fieldTitleArray}}{{if #index > 0}}, {{/if}}{{> #data}}{{/for}})</span></li>
    {{/for}}
        </ul>
    </td>
</tr>
{{/for}}
</table>
