<div id="{{: containerId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="urlscan">
    <div class="pane-form-Head pane-HiddenInStock">
        <h1 class="pane-form-Title" data-stock-role="title">{{> ~loc('_ title.diagnostic.urlscan')}} ({{> ~loc(modeLocKey)}})</h1>
        <div class="pane-form-Toolbar">
            <span class="global-Glue"></span>
            <!--<button id="{{: containerId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
            </button>-->
        </div>
    </div>
    <div class="pane-form-MetadataBody" id="{{: containerId}}_body">
        <span class="diagnostic-Running">{{include tmpl="bdf:running"/}}</span>
    </div>
    
    
</div>
