{{if _significantRedirection}}
<a href="{{> _finalRedirection.url}}" target="_blank">{{> _finalRedirection.url}}</a>
{{else _errorLocKey}}
<span class="diagnostic-Error">{{> ~loc(_errorLocKey)}}</span>
    {{if _finalResponse}}
        ({{: _finalResponse.code}} {{: _finalResponse.message}}) 
    {{/if}}
{{/if}}

