<input type="hidden" name="bdf-sphere" value="{{: sphereName}}">
<table>
    <tr>
    <td><label for="{{: genId}}_login">{{> ~loc('_ label.session.login')}}</label></td>
    <td> : &nbsp;</td>
    <td><input type="text" id="{{: genId}}_login" name="bdf-login" value="{{> login}}"></td>
    </tr>
    <tr>
    <td><label for="{{: genId}}_password">{{> ~loc('_ label.session.password')}}</label></td>
    <td> : &nbsp;</td>
    <td><input type="password" id="{{: genId}}_password" name="bdf-password"></td>
    </tr>
</table>
<div id="{{: genId}}_error"></div>

