<table id="{{: generatedId}}" class="tablesorter tabledisplay-Table">
    <col span="{{> coldef.length}}" class="tabledisplay-Column">
<thead>
    <tr>
{{if withKeyHeader}}
    {{for coldef}}
        <th title="{{> title}}">{{: name}}</th>
    {{/for}}
{{else}}
    {{for coldef}}
        <th>{{> title}}</th>
    {{/for}}
{{/if}}
    </tr>
</thead>
{{if sum}}
<tfoot>
    <tr>
    {{for sum}} 
        <td class="tabledisplay-Number">
        {{if integer}}
            {{: integer}}
        {{else decimal}}
            {{: decimal}}
        {{else moneyArray}}
            {{for moneyArray}}
                {{if #index > 0}}<br>{{/if}}
                {{> text}}
            {{/for}}
        {{/if}}
        </td>
    {{/for}}
    </tr>
</tfoot>
{{/if}}
<tbody>
{{for data}}
    <tr>
    {{for #data}}
        {{if isString}}
        <td>{{> text}}</td>
        {{else}}
        <td class="tabledisplay-Number" {{if currency}}data-value="{{: value}}"{{/if}}>
            {{if withLink}}
            <a href="{{> ~root.editUrl}}{{: integer}}" target="_BLANK">{{: integer}}</a>
            {{else}}
                {{if integer}}
                    {{: integer}}
                {{else decimal}}
                    {{: decimal}}
                {{else currency}}
                    {{> text}}
                {{/if}}
            {{/if}}
        </td>
        {{/if}}
    {{/for}}
    </tr>
{{/for}}
</tbody>
</table>
