<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="tableexport">
<input type="hidden" name="cmd" value="TableExportContentRemove">
<input type="hidden" name="tableexport" value="{{: tableExportName}}">
<input type="hidden" name="path" value="{{: contentPath}}">
<p>
    {{> ~loc('_ label.global.tableexport')}}{{colon /}} <span class="pane-form-Key">[{{: tableExportName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>
    {{> ~loc('_ label.global.content')}}{{colon /}} {{: tableExportName}}/{{: contentPath}}
</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc('_ label.global.confirmationcheck_remove')}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}