<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="tableexport">
<input type="hidden" name="cmd" value="TableExportContentCreation">
<input type="hidden" name="tableexport" value="{{: tableExportName}}">
<p>
    {{> ~loc('_ label.global.tableexport')}}{{colon /}} <span class="pane-form-Key">[{{: tableExportName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
{{if disabled}}
<p class="tableexport-EmptyAlert">{{> ~loc('_ info.tableexport.full_corpus')}}</p>
{{else}}
<select class="tableexport-overlay-UniqueSelect" name="subset">
{{for options.array tmpl="bdf:selectoption"/}}
</select>
{{include tmpl="tableexport:overlay/corpusinputs"/}}
{{/if}}

{{include tmpl="pane:commandkey_overlay"/}}
