<p>
    <label><input type="checkbox" value="section" name="with">{{> ~loc('_ label.tableexport.with_section')}}</label><br>
    <label><input type="checkbox" value="chrono" name="with">{{> ~loc('_ label.tableexport.with_chrono')}}</label><br>
    <label><input type="checkbox" value="addendainclude" name="with">{{> ~loc('_ label.tableexport.with_addendainclude')}}</label><br>
    <label><input type="checkbox" value="albuminclude" name="with">{{> ~loc('_ label.tableexport.with_albuminclude')}}</label><br>
    <label><input type="checkbox" value="corpusinclude" name="with">{{> ~loc('_ label.tableexport.with_corpusinclude')}}</label><br>
    <label><input type="checkbox" value="thesaurusinclude" name="with">{{> ~loc('_ label.tableexport.with_thesaurusinclude')}}</label>
</p>
<p>
    <label><input type="radio" value="standard" name="patternmode" checked>{{> ~loc('_ label.tableexport.patternmode_standard')}}</label><br>
    <label><input type="radio" value="code" name="patternmode">{{> ~loc('_ label.tableexport.patternmode_code')}}</label><br>
    <label><input type="radio" value="formsyntax" name="patternmode">{{> ~loc('_ label.tableexport.patternmode_formsyntax')}}</label>
</p>
