<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="cmd" value="TableExportCopy">
<input type="hidden" name="json" value="tableexport">
<input type="hidden" name="tableexport" value="{{: tableExportName}}">
<p>
    {{> ~loc('_ label.global.tableexport')}}{{colon /}} <span class="pane-form-Key">[{{: tableExportName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>{{> ~loc('_ label.tableexport.newtableexportname')}}{{colon /}} <input type="text" name="newtableexport" value="" size="30"></p>

{{include tmpl="pane:commandkey_overlay"/}}
