<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="tableexport">
<input type="hidden" name="cmd" value="TableExportCreation">
<table class="tableexport-overlay-SubsetTable">
    <tr>
        <th>{{> ~loc('_ title.global.corpus_collection')}}</th>
        <th>{{> ~loc('_ title.global.thesaurus_collection')}}</th>
    </tr>
    <tr>
        <td><select class="tableexport-overlay-BothSelect" id="{{: corpusSelectId}}" name="corpuslist" multiple="multiple">{{for corpusOptions.array tmpl="bdf:selectoption"/}}</select></td>
        <td><select class="tableexport-overlay-BothSelect" id="{{: thesaurusSelectId}}" name="thesauruslist" multiple="multiple">{{for thesaurusOptions.array tmpl="bdf:selectoption"/}}</select></td>
    </tr>
</table>
{{include tmpl="tableexport:overlay/corpusinputs"/}}
<p>{{> ~loc('_ label.tableexport.newtableexportname')}}{{colon /}} <input type="text" name="newtableexport" value="" size="30"></p>

{{include tmpl="pane:commandkey_overlay"/}}
