<div class="ficheform-document-Block ficheform-document-Added" id="{{: documentDivId}}">
    <span class="ficheform-document-Uri" data-ficheform-role="document-uri">{{: code}}</span> – 
    <span class="ficheform-document-Basename" data-ficheform-role="document-basename">{{: basename}}</span>
    <span class="ficheform-document-Extensions">
    [
    {{for extensions}}
    {{if #index > 0}} / {{/if}}<a href="documents/doc/{{: ~root.basename}}.{{: #data}}" target="_blank" {{if noTab}}tabindex="-1"{{/if}}>.{{: #data}}</a>
    {{/for}}
    ]
    </span>
    <span>
        <button type="button" id="{{: documentDivId}}_up" class="ficheform-SmallButton ficheform-UpHidden" {{if noTab}}tabindex="-1"{{/if}}>
            ▲
        </button>
        <button type="button" id="{{: documentDivId}}_down" class="ficheform-SmallButton ficheform-DownHidden" {{if noTab}}tabindex="-1"{{/if}}>
            ▼
        </button>
    </span>
    <span class="ficheform-document-Buttons">
        <button type="button" data-show-state="active" id="{{: documentDivId}}_remove" class="global-button-Transparent action-document-Remove" title="{{> ~loc('_ link.edition.document_remove')}}" {{if noTab}}tabindex="-1"{{/if}}>
            <span class="global-button-Icon"></span>
        </button>
    </span>
</div>
