<span>
    <button type="button" id="{{: documentDivId}}_up" class="ficheform-SmallButton ficheform-UpHidden" {{if noTab}}tabindex="-1"{{/if}}>
        ▲
    </button>
    <button type="button" id="{{: documentDivId}}_down" class="ficheform-SmallButton ficheform-DownHidden" {{if noTab}}tabindex="-1"{{/if}}>
        ▼
    </button>
</span>
<span class="ficheform-document-Buttons">
    <button type="button" data-show-state="active" id="{{: documentDivId}}_change" class="global-button-Transparent action-document-Change" title="{{> ~loc('_ link.edition.document_change')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" data-show-state="active" id="{{: documentDivId}}_remove" class="global-button-Transparent action-document-Remove" title="{{> ~loc('_ link.edition.document_remove')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" data-show-state="restore" id="{{: documentDivId}}_restore" class="global-button-Transparent action-document-Restore hidden" title="{{> ~loc('_ link.edition.document_restore')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</span>
