<div class="ficheform-document-Tools">
    <button type="button" id="{{: toolsId}}_create" class="global-button-Transparent global-button-Transparent32 action-document-Create" title="{{> ~loc('_ link.edition.document_create')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
{{if addAllowed}}
    <button type="button" id="{{: toolsId}}_add" class="global-button-Transparent global-button-Transparent32 action-ficheform-Document" title="{{> ~loc('_ link.pioche.document', addendaTitle)}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
{{/if}}
    <button type="button" id="{{: toolsId}}_sort_asc" class="global-button-Transparent action-Sort_Asc hidden" title="{{> ~loc('_ link.global.sort_asc')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" id="{{: toolsId}}_sort_desc" class="global-button-Transparent action-Sort_Desc hidden" title="{{> ~loc('_ link.global.sort_desc')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</div>