<div class="index-search-Container">
<div class="index-search-List">

<form action="#" method="GET" id="{{: formId}}_search">
<div class="index-search-form-Block">
	<div class="index-search-form-Input"><input type="text" size="25" name="q" value="{{> q}}"></div> 
	<div class="index-search-form-Button">
		<button class="global-button-Standard action-Search" type="submit" title="{{> ~loc('_ link.global.search')}}" id="{{: formId}}_button_submit" disabled><span class="global-button-Icon"></span></button>
	</div>
</div>
<div class="index-search-form-Select">
{{include tmpl="index:select-scope"/}}
</div>
<div class="index-search-form-Select">
{{include tmpl="index:select-sort"/}}
</div>

</form>

{{for targetArray}}
<h2 class="index-search-list-Fichotheque">{{> title}} <span class="index-search-FicheCount" id="{{: ~root.formId}}_fichecount_{{: name}}"></span></h2>
<div id="{{: ~root.formId}}_target_{{: name}}" class="index-search-list-Entries">

</div>
{{/for}}
</div>
<div class="index-search-Viewer">
<div class="index-search-Tools">
<a class="global-button-Standard action-FicheDisplay hidden" title="{{> ~loc('_ link.fiches.fiche_blank')}}" id="{{: formId}}_button_blank" target="_blank"><span class="global-button-Icon"></span></a>
<a class="global-button-Standard action-Odt hidden" type="" title="{{> ~loc('_ link.global.version', 'ODT')}}" id="{{: formId}}_button_odt" href="#"><span class="global-button-Icon"></span></a>
<a class="global-button-Standard action-FicheEdit hidden" title="{{> ~loc('_ link.edition.fichechange_long')}}" id="{{: formId}}_button_edit" target="search_fiche"><span class="global-button-Icon"></span></a>
</div>
<div id="{{: formId}}_iframe_toolbar" class="index-search-IframeToolbar hidden">
</div>
<div id="{{: formId}}_iframe_fieldedit" class="index-search-IframeFieldedit hidden">
</div>
<iframe id="{{: formId}}_iframe" src="{{: href}}" name="search_fiche" class="index-search-Iframe">

</iframe>
</div>
</div>


