<li class="tree-Node">
{{if node === "group"}}
<details {{if !hidden}}open{{/if}}>
    <summary class="pane-form-SubsetGroup">{{> title}}</summary>
    <ul class="pane-form-SubsetBranch">
         {{for items tmpl="scrutariexport:form-nodes_thesaurus"/}}
    </ul>
</details>
{{else node === "subset"}}
<div class="tree-Leaf">
    <p>
        <input type="checkbox" name="{{: subsetKey}}|selected" value="1" id="{{: generatedId}}_input" data-deploy-role="checkbox" data-deploy-target="#{{: generatedId}}_details" {{if checked}}checked{{/if}}>
        <label for="{{: generatedId}}_input">
        {{if title}}{{> title}} <span class="subset-Key">[{{: subsetName}}]</span>{{else}}[{{: subsetName}}]{{/if}}
        </label>
    </p>
    <div class="global-DetailPanel grid-Table {{if !checked}}hidden{{/if}}" id="{{: generatedId}}_details">
        <p class="grid-Row">
            <label for="{{: generatedId}}_fieldgenerationsource" class="grid-LabelCell">{{> ~loc('_ label.exportation.fieldgenerationsource')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <textarea  id="{{: generatedId}}_fieldgenerationsource" cols="45" rows="8" name="{{: subsetKey}}|fieldgenerationsource">{{> thesaurusScrutari.fieldGenerationSource}}</textarea>
            </span>
        </p>
        <div class="grid-InputCell pane-form-Log hidden" data-role="log" data-group="{{: subsetKey}}"></div>
        <p class="grid-Row">
            <label for="{{: generatedId}}_wholethesaurus" class="grid-LabelCell">{{> ~loc('_ label.exportation.wholethesaurus')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell grid-StartAlign">
                <input id="{{: generatedId}}_wholethesaurus" type="checkbox" name="{{: subsetKey}}|wholethesaurus" value="1" {{if isWholeThesaurus}}checked{{/if}}>
            </span>
        </p>
        <p class="grid-Row">
            <label for="{{: generatedId}}_includetokens" class="grid-LabelCell">{{> ~loc('_ label.exportation.includetokens')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <input  id="{{: generatedId}}_includetokens" size="70" type="text" name="{{: subsetKey}}|includetokens" value="{{> includeTokens}}">
            </span>
        </p>
    </div>
</div>
{{/if}}
</li>