<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: scrutariExportName}}" data-scrutari-export-name="{{: scrutariExportName}}" data-timer-type="form">
<input type="hidden" name="cmd" value="ScrutariExportChange">
<input type="hidden" name="json" value="scrutariexport">
<input type="hidden" name="scrutariexport" value="{{: scrutariExportName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title"><span class="pane-form-Key">[{{: scrutariExportName}}]</span> <span data-role="metadata-title">{{> title}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.exportation.scrutariexportchange')}}</span>
        </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Admin"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.generaloptions')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
                <p class="grid-Row">
                    <label for="{{: formId}}_authority" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.authority')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_authority" type="text" size="40" name="authority" value="{{: authority}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_basename" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.basename')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_basename" type="text" size="25" name="basename" value="{{: baseName}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_baseicon" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.baseicon')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_baseicon" type="text" size="70" name="baseicon" value="{{: baseIcon}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_fichehrefpattern" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.hrefpattern_fiche')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_fichehrefpattern" type="text" size="70" name="fichehrefpattern" value="{{: ficheHrefPattern}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_motclehrefpattern" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.hrefpattern_motcle')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_motclehrefpattern" type="text" size="70" name="motclehrefpattern" value="{{: motcleHrefPattern}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_langsui" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.langsui')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input id="{{: formId}}_langsui" type="text" size="20" name="langsui" value="{{> langsUi}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_shortbaseintitule" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.intitule_short')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <textarea id="{{: formId}}_shortbaseintitule" type="text" cols="70" rows="4" name="shortbaseintitule">{{> shortTitles}}</textarea>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_longbaseintitule" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.intitule_long')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <textarea id="{{: formId}}_longbaseintitule" type="text" cols="70" rows="4" name="longbaseintitule">{{> longTitles}}</textarea>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_includetokens" class="grid-LabelCell">{{> ~loc('_ label.exportation.includetokens')}}</label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <input  id="{{: formId}}_includetokens" size="70" type="text" name="base|includetokens" value="{{> includeTokens}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetname" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetname')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                        <select id="{{: formId}}_targetname" name="targetname">
                            <option value="_public" {{if ((!targetName) || (targetName == "_public"))}}selected{{/if}}>{{> ~loc('_ label.configuration.publicpath')}}</option>
                        {{for availableTargetArray}}
                            <option value="{{: #data}}" {{if #data == ~root.targetName}}selected{{/if}}>{{: #data}}</option>
                        {{/for}}
                        </select>
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_targetpath" class="grid-LabelCell">
                        {{> ~loc('_ label.exportation.targetpath')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span id="{{: formId}}_targetpath" class="grid-InputCell">
                        <input type="text" size="20" name="targetpath" value="{{> targetPath}}">
                    </span>
                </p>
            </div> 
        </div>
    </details>
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary family-CRP family-Colors"><span class="subset-Icon subset-Icon_corpus"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.corpusoptions')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for corpusTree tmpl="scrutariexport:form-nodes_corpus" /}}
            </ul>
        </div>
    </details>
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary family-THS family-Colors"><span class="subset-Icon subset-Icon_thesaurus"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.thesaurusoptions')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for thesaurusTree tmpl="scrutariexport:form-nodes_thesaurus" /}}
            </ul>
        </div>
    </details>
    
    {{include tmpl="pane:details_query"/}}
    
    {{include tmpl="pane:details_attributes"/}}
    
    {{include tmpl="pane:commandkey_form"/}}
</div>
</form>