<div class="ficheform-FicheRefOverlay" data-ficheform-role="block" data-ficheform-key="overlayFicheRef" data-ficheform-limit="1">
<p>
    <label for="{{: ficherefId}}">{{> ~loc('_ label.edition.ficheref')}}</label>{{colon /}}
    <input name="overlayficheref" type="text" id="{{: ficherefId}}" value="" size="30">
    <button type="button" id="{{: ficherefId}}_pioche" class="global-button-Transparent global-button-Transparent32 action-ficheform-Liage" title="{{> ~loc('_ link.pioche.fiche_all')}}">
        <span class="global-button-Icon"></span>
    </button>
</p>
</div>
