<div class="grid-Table">
    <p class="grid-Row">
        <label for="{{: genId}}_reference" class="grid-LabelCell">
            {{> ~loc('_ label.edition.footnoteref')}}
        </label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <input name="reference" type="text" id="{{: genId}}_reference" value="{{: number}}" size="10">
        </span>
    </p>
    <p class="grid-Row">
        <label for="{{: genId}}_text" class="grid-LabelCell">
            {{> ~loc('_ label.edition.footnotetext')}}
        </label>
        <span class="grid-ColonCell">{{colon /}} </span>
        <span class="grid-InputCell">
            <textarea id="{{: genId}}_text" cols="50" rows="4" name="text"></textarea>
        </span>
    </p>
</div>
