<table class="ficheform-paste-Container">
    <tr>
        <td><div class="ficheform-paste-Label">{{> ~loc('_ label.edition.pastedestination')}} (Crtl+V){{colon /}}</div></td>
        <td><div class="ficheform-paste-Label">{{> ~loc('_ label.edition.ficheblockconversion')}}{{colon /}}</div></td>
    </tr>
    <tr>
        <td class="ficheform-paste-Input">
            <div id="{{: id}}_target" contenteditable="true" class="ficheform-paste-Target">
                
                 
            </div>
        </td>
        <td class="ficheform-paste-Input">
            <textarea name="ficheblock" id="{{: id}}_ficheblock"></textarea>
        </td>
    </tr>
</table>

