<div id="{{: genId}}_column1" style="display: inline-block; margin-right: 10px; vertical-align: top;">
    
    <h3>{{> ~loc('_ title.edition.styles_semantic')}}</h3>
    <p>
        <label>
            <input name="type" type="radio" value="?" id="{{: genId}}_input_dfn" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_dfn" data-subfields="">
            {{> ~loc('_ label.edition.style_dfn')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_dfn" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_dfn__ref">{{> ~loc('_ label.edition.urlref')}}{{colon /}}</label><br>
            <input type="text" value="" name="dfn__ref" id="{{: genId}}_input_dfn__ref">
        </p>
    </div>

    <p>
        <label>
            <input name="type" type="radio" value="@" id="{{: genId}}_input_cite" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_cite" data-subfields="">
            {{> ~loc('_ label.edition.style_cite')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_cite" class="hidden global-DetailPanel_P">
        <p>
            <label>{{> ~loc('_ label.edition.urlref')}}{{colon /}}<br>
            <input type="text" value="" name="cite__ref" id="{{: genId}}_input_cite__ref">
            </label>
        </p>
    </div>

    <p>
        <label>
            <input name="type" type="radio" value=":" id="{{: genId}}_input_quote" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_quote" data-subfields="">
            {{> ~loc('_ label.edition.style_quote')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_quote" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_quote__ref">{{> ~loc('_ label.edition.urlref')}}{{colon /}}</label><br>
            <input type="text" value="" name="quote__ref" id="{{: genId}}_input_quote__ref">
        </p>
    </div>
    
    <p>
        <label>
            <input name="type" type="radio" value="=" id="{{: genId}}_input_abbr" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_abbr" data-subfields="title">
            {{> ~loc('_ label.edition.style_abbr')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_abbr" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_abbr_title">{{> ~loc('_ label.edition.abbrtitle')}}{{colon /}}</label><br>
            <input type="text" value="" name="abbr_title" id="{{: genId}}_input_abbr_title">
        </p>
    </div>
    
    <h3>{{> ~loc('_ title.edition.styles_computer')}}</h3>
    
    <p>
        <label>
            <input name="type" type="radio" value="`" id="{{: genId}}_input_code"> {{> ~loc('_ label.edition.style_code')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="&amp;" id="{{: genId}}_input_var"> {{> ~loc('_ label.edition.style_var')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="$" id="{{: genId}}_input_kbd"> {{> ~loc('_ label.edition.style_kbd')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="<" id="{{: genId}}_input_samp"> {{> ~loc('_ label.edition.style_samp')}}
        </label>
    </p>
    
</div>

 <div id="{{: genId}}_column2" style="display: inline-block; margin-left: 25px; vertical-align: top;">
     
     <h3>{{> ~loc('_ title.edition.styles_misc')}}</h3>
     
     <p>
        <label>
            <input name="type" type="radio" value="_" id="{{: genId}}_input_sub"> {{> ~loc('_ label.edition.style_sub')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="^" id="{{: genId}}_input_sup"> {{> ~loc('_ label.edition.style_sup')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="+" id="{{: genId}}_input_ins"> {{> ~loc('_ label.edition.style_ins')}}
        </label>
    </p>

    <p>
        <label>
            <input name="type" type="radio" value="-" id="{{: genId}}_input_del"> {{> ~loc('_ label.edition.style_del')}}
        </label>
    </p>

     <p>
        <label>
            <input name="type" type="radio" value="i" id="{{: genId}}_input_img" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_img" data-subfields="">
            {{> ~loc('_ label.edition.style_img')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_img" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_img__ref">{{> ~loc('_ label.edition.imgref')}}{{colon /}}</label><br>
            <input type="text" value="" name="img__ref" id="{{: genId}}_input_img__ref">
        </p>
    </div>

    <p>
        <label>
            <input name="type" type="radio" value="m" id="{{: genId}}_input_motcle" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_motcle" data-subfields="">
            {{> ~loc('_ label.edition.style_motcle')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_motcle" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_motcle__ref">{{> ~loc('_ label.edition.motcleref')}}{{colon /}}</label><br>
            <input type="text" value="" name="motcle__ref" >
        </p>
    </div>
    
    <p>
        <label>
            <input name="type" type="radio" value="#" id="{{: genId}}_input_anchor" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_" data-subfields="">
            {{> ~loc('_ label.edition.style_anchor')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_anchor" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_anchor__ref">{{> ~loc('_ label.edition.anchorref')}}{{colon /}}</label><br>
            <input type="text" value="" name="anchor__ref" id="{{: genId}}_input_anchor__ref">
        </p>
    </div>
    
    <p>
        <label>
            <input name="type" type="radio" value=">" id="{{: genId}}_input_iref" data-deploy-role="radio"
                   data-deploy-target="#{{: genId}}_deploy_iref" data-subfields="">
            {{> ~loc('_ label.edition.style_iref')}}
        </label>
    </p>
    <div id="{{: genId}}_deploy_iref" class="hidden global-DetailPanel_P">
        <p>
            <label for="{{: genId}}_input_iref__ref">{{> ~loc('_ label.edition.anchorref')}}{{colon /}}</label><br>
            <input type="text" value="" name="iref__ref" id="{{: genId}}_input_iref__ref">
        </p>
    </div>

    <p>
        <label>
            <input name="type" type="radio" value="*" id="{{: genId}}_input_span"> {{> ~loc('_ label.edition.style_span')}}
        </label>
    </p>

</div>
