<table>
    <tr>
        <td><label for="{{: genId}}_zonetypeselect">{{> ~loc('_ label.edition.zonetype')}}{{colon /}}</label></td>
        <td>
            <select name="zonetype" id="{{: genId}}_zonetypeselect">
                <option value="table">{{> ~loc('_ label.edition.zone_table')}}</option>
                <option value="insert_image">{{> ~loc('_ label.edition.zone_insert_image')}}</option>
                <option value="insert_audio">{{> ~loc('_ label.edition.zone_insert_audio')}}</option>
                <option value="code">{{> ~loc('_ label.edition.zone_code')}}</option>
                <option value="div">{{> ~loc('_ label.edition.zone_div')}}</option>
                <option value="cdata">{{> ~loc('_ label.edition.zone_cdata')}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="{{: genId}}_zonenumber">{{> ~loc('_ label.edition.zonenumber')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="zonenumber" id="{{: genId}}_zonenumber"></td>
    </tr>
    <tr>
        <td><label for="{{: genId}}_zonecaption">{{> ~loc('_ label.edition.zonecaption')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="zonecaption" id="{{: genId}}_zonecaption"></td>
    </tr>
    <tr data-zonetypes="table">
        <td>{{> ~loc('_ label.edition.tableheader')}}{{colon /}}</td>
        <td>
            <label><input type='checkbox' name='tableheader_row' value='1'>{{> ~loc('_ label.edition.tableheader_row')}}</label>
        </td>
    </tr>
    <tr data-zonetypes="table">
        <td></td>
        <td>
            <label><input type='checkbox' name='tableheader_column' value='1'>{{> ~loc('_ label.edition.tableheader_column')}}</label>
        </td>
    </tr>
    <tr data-zonetypes="code" class="hidden">
        <td><label for="{{: genId}}_indentmode">{{> ~loc('_ label.edition.indentmode')}}{{colon /}}</label></td>
        <td>
            <select name="indentmode" id="{{: genId}}_indentmode">
                <option value="" selected>---</option>
                <option value="xml">{{> ~loc('_ label.edition.indentmode_xml')}}</option>
                <option value="script">{{> ~loc('_ label.edition.indentmode_script')}}</option>
            </select>
        </td>
    </tr>
    <tr data-zonetypes="insert_image" class="hidden">
        <td><label for="{{: genId}}_imagetypeselect">{{> ~loc('_ label.edition.inserttype_image')}}{{colon /}}</label></td>
        <td>
            <select name="imagetype" id="{{: genId}}_imagetypeselect">
                <option value="i">{{> ~loc('_ label.edition.inserttype_i')}}</option>
                <option value="ll">{{> ~loc('_ label.edition.inserttype_ll')}}</option>
                <option value="lr">{{> ~loc('_ label.edition.inserttype_lr')}}</option>
            </select>
        </td>
    </tr>
    <tr data-zonetypes="insert_image" class="hidden">
        <td><label for="{{: genId}}_imageoriginselect">{{> ~loc('_ label.edition.imageorigin')}}{{colon /}}</label></td>
        <td>
            <select name="imageorigin" id="{{: genId}}_imageoriginselect">
                <option value="illustration">{{> ~loc('_ label.edition.origin_illustration')}}</option>
                <option value="src">{{> ~loc('_ label.edition.origin_src')}}</option>
            </select>
        </td>
    </tr>
    <tr data-zonetypes="insert_image_illustration" class="hidden">
        <td><label for="{{: genId}}_illustration">{{> ~loc('_ label.edition.illustrationref')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="illustration" id="{{: genId}}_illustration"></td>
    </tr>
 {{if illustrationArray.length > 0}}
    <tr data-zonetypes="insert_image_illustration" class="hidden">
        <td></td>
        <td>
            <small>
                {{> ~loc('_ label.edition.ficheillustrations')}}{{colon /}} <code>{{: illustrationArray.join(' ')}}</code>
            </small>
            </td>
        </tr>
 {{/if}}
    <tr data-zonetypes="insert_audio" class="hidden">
        <td><label for="{{: genId}}_audiooriginselect">{{> ~loc('_ label.edition.audioorigin')}}{{colon /}}</label></td>
        <td>
            <select name="audioorigin" id="{{: genId}}_audiooriginselect">
                <option value="document">{{> ~loc('_ label.edition.origin_document')}}</option>
                <option value="src">{{> ~loc('_ label.edition.origin_src')}}</option>
            </select>
        </td>
    </tr>
    <tr data-zonetypes="insert_audio_document" class="hidden">
        <td><label for="{{: genId}}_document">{{> ~loc('_ label.edition.documentref')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="document" id="{{: genId}}_document"></td>
    </tr>
    {{if documentArray.length > 0}}
        <tr data-zonetypes="insert_audio_document" class="hidden">
            <td></td>
            <td>
                <small>
                    {{> ~loc('_ label.edition.fichedocuments')}}{{colon /}} <code>{{: documentArray.join(' ')}}</code>
                </small>
            </td>
        </tr>
    {{/if}}
    <tr data-zonetypes="insert_image_src insert_audio_src" class="hidden">
        <td><label for="{{: genId}}_src">{{> ~loc('_ label.edition.srcurl')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="src" id="{{: genId}}_src"></td>
    </tr>
    <tr data-zonetypes="insert_image_src" class="hidden">
        <td><label for="{{: genId}}_width">{{> ~loc('_ label.album.width')}}{{colon /}}</label></td>
        <td><input type="text" size="9" name="width" id="{{: genId}}_width"></td>
    </tr>
    <tr data-zonetypes="insert_image_src" class="hidden">
        <td><label for="{{: genId}}_height">{{> ~loc('_ label.album.height')}}{{colon /}}</label></td>
        <td><input type="text" size="9" name="height" id="{{: genId}}_height"></td>
    </tr>
    <tr data-zonetypes="insert_image insert_audio" class="hidden">
        <td><label for="{{: genId}}_credit">{{> ~loc('_ label.edition.credit')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="credit" id="{{: genId}}_credit"></td>
    </tr>
     <tr data-zonetypes="insert_image" class="hidden">
        <td><label for="{{: genId}}_url">{{> ~loc('_ label.edition.urlref')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="url" id="{{: genId}}_url"></td>
    </tr>
     <tr data-zonetypes="insert_image insert_audio" class="hidden">
        <td><label for="{{: genId}}_alt">{{> ~loc('_ label.edition.alt')}}{{colon /}}</label></td>
        <td><input type="text" size="40" name="alt" id="{{: genId}}_alt"></td>
    </tr>
</table>
