<li class="tree-Node resource-Folder" data-role="folder" data-name="{{: name}}" data-path="{{: path}}">
<details>
    <summary data-role="folder-title" data-name="{{: name}}" class="resource-Entry {{: originsClass}}" >
        <span>{{: name}}</span>
    </summary>
    <ul data-role="folder-content" data-name="{{: name}}" id="{{: generatedId}}" class="resource-Branch">
        {{for subfolderArray tmpl="resource:list/folder" /}}
        {{for resourceArray tmpl="resource:list/resource" /}}
    </ul>
</details>       
</li>
