<div class="pane-list-Unit pane-list-Unique">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.resource.resourcelist')}}</p>
        <button id="listpane_button_newresource" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.resource.newresource')}}">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    <div class="pane-list-Body resource-ListPane">
        <div class="pane-list-Commands">
            <details class="tools-Details">
                <summary>{{> ~loc('_ title.global.commands')}}</summary>
                <div class="tools-List">
                    <button id="listpane_button_newapp" type="button" class="global-button-Link action-New">
                        <span class="global-button-Icon"></span><span class="global-button-Text">{{> ~loc('_ link.resource.newapp')}}</span>
                    </button>
                </div>
            </details>
        </div>
        <div id="listpane_treeblock">
            <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
        </div>
    </div>
</div>
