<li data-role="content-reference" data-content-key="{{: path}}" data-path="{{: path}}" data-link-type="{{: type}}" data-origins="{{: originsString}}" data-name="{{: name}}" class="tree-Node {{: originsClass}}">
    <div class="tree-Leaf resource-Entry"><a data-action="load-main" href="{{: path}}" class="pane-list-ContentLink">{{: name}}</a></div>
</li>
