<tr>
    <td>
        <div class="multi-stats-CellWithTools">
            <div>
                <span class="multi-stats-Title">{{> fichothequeTitle}}</span>
                <span class="multi-stats-Name">[{{: fichothequeName}}]</span>
            </div>
            <div>
                <a href="{{: fichothequeName}}/session" target="_blank" class="global-button-Transparent action-Login" title="{{> ~loc('_ link.multi.go')}}">
                    <span class="global-button-Icon"></span>
                </a>
            </div>
        </div>
    </td>
    <td data-value="{{: _level.letter}}" data-role="presencecell">
        {{include tmpl="centralsphere:statspane/presencecell"/}}
    </td> 
{{if here && fichothequeInit}}
    <td data-value="{{: loginArrays.active.length}}">
        {{if loginArrays.active.length > 0}}
        {{: loginArrays.active.length}}
        {{/if}}
    </td>
    <td data-value="{{: loginArrays.readonly.length}}">
        {{if loginArrays.readonly.length > 0}}
        {{: loginArrays.readonly.length}}
        {{/if}}
    </td>
    <td data-value="{{: loginArrays.inactive.length}}">
        {{if loginArrays.inactive.length > 0}}
        {{: loginArrays.inactive.length}}
        {{/if}}
    </td>
    <td data-value="{{: loginArrays.outside.length}}">
    {{if loginArrays.outside.length > 0}}
    <div class="multi-stats-CellWithTools">
        <div>
        {{for loginArrays.outside}}
            {{: #data}}
        {{/for}}
        </div>
        <div>
            <button title="{{> ~loc('_ link.multi.copyfromfichotheque')}}" class="global-button-Transparent action-New" data-fichotheque="{{: fichothequeName}}" data-action="copy">
                <span class="global-button-Icon"></span>
            </button>
        </div>
    </div>
    {{/if}}
    </td>
{{else}}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
{{/if}}
    
</tr>
