<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title">{{> ~loc('_ link.global.stats')}}</h1>
    <div class="pane-form-Toolbar multi-form-EmptyToolbar">
        
    </div>
</div>
<div class="pane-form-MetadataBody">
    <table class="tablesorter multi-stats-Table" id="{{: formId}}_table">
    <thead>
        <tr>
            <th>{{> ~loc('_ label.global.fichotheque')}}</th>
            <th>{{> ~loc('_ label.multi.presence')}}</th>
            <th>{{> ~loc('_ label.multi.column_active')}}</th>
            <th>{{> ~loc('_ label.multi.column_readonly')}}</th>
            <th>{{> ~loc('_ label.multi.column_inactive')}}</th>
            <th>{{> ~loc('_ label.multi.column_outside')}}</th>
        </tr>
    </thead>
    <tbody id="{{: formId}}_tbody">
 {{for stats.fichothequeArray tmpl="centralsphere:statspane/fichothequerow"/}}
    </tbody>
    </table>
</div>
