<div class="multi-stats-CellWithTools ">
    <div class="multi-stats-Symbol multi-stats-Presence_{{: _level.name}}">
        <span {{if _level.locKey}}title="{{> ~loc(_level.locKey)}}"{{/if}}>{{: _level.symbol}}</span>
    </div>
    <div class="multi-stats-Tools">
        {{if _level.name === "nosphere"}}
        <button title="{{> ~loc('_ submit.multi.addtofichotheque')}}" class="global-button-Transparent action-New" data-fichotheque="{{: fichothequeName}}" data-action="fichothequespherecreate">
            <span class="global-button-Icon"></span>
        </button>
        {{/if}}
    </div>
</div>
