<header id="{{: piocheId}}_header">
    <form action="pioche" method="GET" id="{{: piocheId}}_form">
        <input type="hidden" name="json" value="{{: args.json}}">
    {{for args.hiddenValues}}
        <input type="hidden" name="{{> name}}" value="{{> value}}">
    {{/for}}
        <div class="pioche-Search">
            <div class="pioche-Label"><label for="{{: piocheId}}_qinput">{{> ~loc('_ label.pioche.q')}}</label>{{colon /}}</div>
            <div>
                <input type="text" name="q" value="" size="35" id="{{: piocheId}}_qinput">
                <button type="submit" class="global-button-Standard action-Search" title="{{> ~loc('_ link.global.search')}}">
                    <span class="global-button-Icon"></span>
                </button>
            </div>
        </div>
    </form>
</header>
<main class="pioche-Main">
    <div class="pioche-Label pioche-Title">
        <label for="{{: piocheId}}_select_available">{{> ~loc('_ label.pioche.proposals')}}</label> (<span id="{{: piocheId}}_count_available">0</span>{{if args.count > -1}}/{{: args.count}}{{/if}}){{colon /}}
        <span id="{{: piocheId}}_tabs_available" class="pioche-Tabs"></span>
    </div>
    <div class="pioche-SelectArea" tabindex="-1">
        <select id="{{: piocheId}}_select_available" size="11">
        </select>
    </div>
    <div class="pioche-Label pioche-Title">
        <label>{{> ~loc('_ label.pioche.selection')}}</label> (<span id="{{: piocheId}}_count_selected">0</span>){{colon /}}  
    </div>
    <div class="pioche-SelectArea" tabindex="-1">
        <select id="{{: piocheId}}_select_selected" size="{{if args.limit == 1}}2{{else}}{{: args.limit}}{{/if}}">
        </select>
    </div>
</main>
<footer>
    <div class="pioche-Buttons">
        <button id="{{: piocheId}}_confirm" class="global-button-Standard action-Save" disabled="disabled" data-shortcut-key="mod+s" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
        </button>
        <button id="{{: piocheId}}_cancel" class="global-button-Standard action-Cancel" data-shortcut-key="Escape" data-shortcut-tooltip="Esc">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
        </button>
    {{if args.buttons.fichecreation}}
        <button id="{{: piocheId}}_fichecreation" class="global-button-Standard action-FicheCreate" data-shortcut-key="F2">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">
                {{if args.newfiche}}
                    {{> args.newfiche}}
                {{else}}
                    {{> ~loc('_ link.edition.fichecreation')}}
                {{/if}} (F2)
            </span>
        </button>
    {{/if}}
    </div>
</footer>
