<button data-role="tab" type="button" id="{{: piocheId}}_tab_{{: number}}" class="global-button-Standard" {{if disabled}}disabled="disabled"{{/if}}>
    <span class="global-button-Text">{{: (number + 1)}}</span>
</button>
