<header class="geocodage-Adress">
    <div class="geocodage-Label">
        <label for="{{: geoId}}_address">{{> ~loc('_ label.pioche.address')}}</label>{{colon /}}
    </div>
    <div class="geocodage-AdressInput">
        <input type="text" value="" size="60" id="{{: geoId}}_address">
        <div>
        {{if withAdressSource}}    
            <button id="{{: geoId}}_actualisation" class="global-button-Standard">
                <span class="global-button-Text">{{> ~loc('_ link.pioche.actualisation')}}</span>
            </button>
        {{/if}}
            <button id="{{: geoId}}_geocodage"  class="global-button-Standard" disabled="disabled">
                <span class="global-button-Text">{{> ~loc('_ link.pioche.geocodagerequest')}}</span>
            </button>
        </div>
        <div class="geocodage-GeocodageAttributions">{{: ~credits('_ info.pioche.credits')}}</div>
    </div>
    
</header>
<main class="geocodage-Map" id="{{: geoId}}_map"></main>
<footer>
    <div class="geocodage-Buttons">
        <button id="{{: geoId}}_center_current" class="global-button-Standard action-geo-Center_current" title="{{> ~loc('_ link.pioche.center_current')}}" disabled="disabled">
            <span class="global-button-Icon"></span>
        </button>
        <button id="{{: geoId}}_center_new" class="global-button-Standard action-geo-Center_new" title="{{> ~loc('_ link.pioche.center_new')}}" disabled="disabled">
            <span class="global-button-Icon"></span>
        </button>
        <button id="{{: geoId}}_center_both" class="global-button-Standard action-geo-Center_both" title="{{> ~loc('_ link.pioche.center_both')}}" disabled="disabled">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    <div class="geocodage-Buttons">
        <button id="{{: geoId}}_confirm" class="global-button-Standard action-Save" disabled="disabled">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
        </button>
        <button id="{{: geoId}}_cancel" class="global-button-Standard action-Cancel">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
        </button>
    </div>
</footer>

