<strong>{{> title}}</strong>
<br><small>
<a href="fiches/{{: corpus}}-{{: id}}.html" target="_BLANK">{{> ~loc('_ link.fiches.fiche_long')}}</a>
{{if editable}}
 – <a href="edition?page=fiche-change&corpus={{: corpus}}&amp;id={{: id}}" target="_BLANK">{{> ~loc('_ link.edition.fichechange_long')}}</a>
 {{/if}}
</small>
