<div class="pane-list-Unit pane-list-Unique">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.administration.rolelist')}}</p>
        <span class="global-Glue"></span>
        <button id="listpane_button_newrole" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.administration.newrole')}}">
            <span class="global-button-Icon"></span>
        </button>
        <a href="admin/roles.ods" class="global-button-Transparent action-Ods" title="{{> ~loc('_ link.administration.rolesummary')}}">
            <span class="global-button-Icon"></span>
        </a>
    </div>
    <div id="listpane_body" class="pane-list-Body">
        <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
    </div>
</div>
