<div data-role="entry" data-name="{{: name}}" class="pane-list-Entry">
    <div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
        <span>
    {{if name === "_default"}}
            <em>{{> ~loc('_ label.global.role_default')}}</em>
    {{else}}
            <span class="pane-list-Key">[{{: name}}]</span> 
    {{/if}}
            <span data-role="entry-title">{{> title}}</span>
        </span>
        <span class="global-Glue"></span>
        <button data-action="metadata" type="button" class="global-button-Transparent action-Metadata" title="{{> ~loc('_ link.global.change')}}">
                <span class="global-button-Icon"></span>
        </button>
        <a href="admin/role-{{: name}}.ods"  class="global-button-Transparent action-Ods" title="{{> ~loc('_ link.administration.rolesummary')}}">
            <span class="global-button-Icon"></span>
        </a>
        {{if name != "_default"}}
        <button data-action="roleremove" type="button" class="global-button-Transparent action-Delete" title="{{> ~loc('_ link.global.delete')}}">
            <span class="global-button-Icon"></span>
        </button>
        {{/if}}
    </div>
</div>
