<li class="tree-Node">
    <details  data-name="{{: name}}" {{if open}}open{{/if}}>
    <summary class="memento-Title">
    {{> title}}
    </summary>
    {{if leaf}}
    <div class="memento-Text">
        {{: text}}
    </div>
    {{else}}
    <ul class="memento-Branch tree-Top">
        {{for subnodeArray tmpl="memento:node"/}}
    </ul>
    {{/if}}
    </details>
</li>

