{{for mementoUnitInfoArray}}
<details data-path="{{: path}}" data-role="unit" class="unit-Unit memento-Unit" {{if open}}open{{/if}}>
    <summary class="memento-Summary">{{> title}}</summary>
    <div class="unit-Body">
        <ul class="memento-Tree tree-Top" data-role="tree">

        </ul>
    </div>
</details>
{{/for}}
