<section class="unit-Unit document-upload-Unit document-upload-IframeUnit">
    <div class="unit-Body">
        <p>{{> ~loc('_ info.addenda.uploadconfirm')}}</p>
        <p>
            {{> ~loc('_ label.addenda.tmpfile')}}{{colon /}}
            <a href="{{> args.tmpUrl}}" target="_blank">{{> args.tmpUrl}}</a>
            <small>({{: args.size}}&nbsp;{{: args.sizeUnit}})</small>
        </p>
    </div>
</section>
<footer class="document-Buttons">
    <button id="{{: genId}}_confirm" class="global-button-Standard action-Save">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.confirm')}}</span>
    </button>
    <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
    </button>
</footer>
