<section class="unit-Unit document-Unit">
    <header class="unit-Header">
        <h1 class="unit-Title action-Addenda"><span class="global-button-Icon"></span><span class="unit-TitleSpan">{{> ~loc(titleKey)}}</span></h1>
    </header>
    <div class="unit-Body">
    {{if args.originalName}}
        <p>{{> ~loc('_ label.addenda.name_original')}}{{colon /}} {{> args.originalName}}</p>
        <p>{{> ~loc('_ label.addenda.name_checked')}}{{colon /}}
    {{else}}
        <p>{{> ~loc('_ label.addenda.name_current')}}{{colon /}} {{> args.documentName}}</p>
        <p>{{> ~loc('_ label.addenda.documentname')}}{{colon /}}
    {{/if}}
            <input type="text" value="{{> args.newName}}" size="25" id="{{: genId}}_newname">
        </p>
    {{if args.namingInfo}}
        <p class="document-NamingInfo">{{> args.namingInfo}}</p>
    {{/if}}
        <h2>{{> ~loc('_ label.addenda.versions')}}{{colon /}}</h2>
        <ul id="{{: genId}}_list">
        {{for args.extensionArray tmpl="document:extension"/}}
        </ul>
    </div>
</section>
<footer>
    <div class="document-Buttons">
        <button id="{{: genId}}_versionupdate" class="global-button-Standard action-New">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ label.addenda.versionupdate')}}</span>
        </button>
    </div>
    <div class="document-Buttons">
        <button id="{{: genId}}_confirm" class="global-button-Standard action-Save">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
        </button>
        <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
        </button>
    </div>
</footer>