<section class="unit-Unit document-upload-Unit">
    <header class="unit-Header">
        <h1 class="unit-Title action-Addenda"><span class="global-button-Icon"></span><span class="unit-TitleSpan">{{> ~loc('_ title.addenda.documentcreate')}}</span></h1>
    </header>
    <div class="unit-Body">
{{if args.errorMessage}}
        <p><span class="global-ErrorMessage">{{> args.errorMessage}}</span></p>
{{/if}}
        <form action="addenda" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="cmd" value="DocumentFileUpload">
            <input type="hidden" name="addenda" value="{{: args.addenda}}">
            <input type="hidden" name="page-err" value="{{: args.errorPage}}">
            <input type="hidden" name="page" value="{{: args.resultPage}}">
            <input type="hidden" name="appelant" value="{{: args.appelant}}">
            <p>{{> ~loc('_ label.addenda.documentfile')}}{{colon /}}</p>
            <p class="document-upload-Input"><input type="file" name="file" size="45" class="global-FileInput"></p>
            <p class="document-upload-DragAndDropInfo">{{> ~loc('_ info.edition.draganddrop_one')}}</p>
            <div class="document-upload-Buttons">
                <input type="submit" value="{{> ~loc('_ submit.addenda.documentfileupload')}}">
            </div>
            </form>
            <p class="document-upload-Or">{{> ~loc('_ label.global.or')}}</p>
            <form action="addenda" method="POST">
            <input type="hidden" name="cmd" value="DocumentFileDownload">
            <input type="hidden" name="addenda" value="{{: args.addenda}}">
            <input type="hidden" name="page-err" value="{{: args.errorPage}}">
            <input type="hidden" name="page" value="{{: args.resultPage}}">
            <input type="hidden" name="appelant" value="{{: args.appelant}}">
            <p>{{> ~loc('_ label.addenda.documenturl')}}{{colon /}}</p>
            <p>
                <input type="text" name="url" value="" size="65" class="document-upload-Url">
                <br>
                <input type="radio" value="url" checked="checked" id="methodRadio_url" name="method">
                <small><label for="methodRadio_url">{{> ~loc('_ label.addenda.method_url')}}</label></small>
                <br>
                <input type="radio" value="mime" id="methodRadio_mime" name="method">
                <small><label for="methodRadio_mime">{{> ~loc('_ label.addenda.method_mime')}}</label></small>
                <br>
                <input type="radio" value="param" id="methodRadio_param" name="method">
                <small><label for="methodRadio_param">{{> ~loc('_ label.addenda.method_param')}}</label></small>
                <input type="text" name="extension" value="" size="15">
            </p>
            <div class="document-upload-Buttons">
                <input type="submit" value="{{> ~loc('_ submit.addenda.documentfiledownload')}}">
            </div>
        </form>
    </div>
</section>
<footer class="document-Buttons">
    <button id="{{: genId}}_cancel" class="global-button-Standard action-Cancel">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.global.cancel')}}</span>
    </button>
</footer>