<li data-item-name="{{: extension}}" id="extensionItem_{{: extension}}" class="{{: ~getClass(state)}}">
    {{if tmpUrl}}
        <a href="{{: tmpUrl}}" class="document-extension-Link">.{{: extension}}</a>
    {{else}}
        <a href="documents/{{: ~root.args.addenda}}/{{: currentFileName}}"  class="document-extension-Link">.{{: extension}}</a>
    {{/if}}
    <span data-role="versiontools">
        <button type="button" data-extension="{{: extension}}" data-action="remove" data-show-state="active" id="" class="global-button-Transparent action-document-Remove {{if state === "remove"}}hidden{{/if}}" title="{{> ~loc('_ link.addenda.versionremove')}}">
            <span class="global-button-Icon"></span>
        </button>
        <button type="button" data-extension="{{: extension}}" data-action="restore" data-show-state="restore" id="" class="global-button-Transparent action-document-Restore {{if state !== "remove"}}hidden{{/if}}" title="{{> ~loc('_ link.addenda.versionrestore')}}">
            <span class="global-button-Icon"></span>
        </button>
    </span>
</li>
