<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-role="content-reference" data-content-key="metadata" data-timer-type="form">
    <input type="hidden" name="cmd" value="MultiMetadata">
    <input type="hidden" name="json" value="multimetadata">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title">{{> ~loc('_ title.multi.metadata')}}</h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.multi.metadata')}}</span>
        </button>
        <span class="global-Glue"></span>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Admin"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.multi.parameters')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
                <p class="grid-Row">
                    <label for="{{: formId}}_workinglangs" class="grid-LabelCell">
                        {{> ~loc('_ label.multi.workinglangs')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                         <input id="{{: formId}}_workinglangs" type="text" name="workinglangs" size="30" value="{{> workingLangs}}">
                    </span>
                </p>
                <p class="grid-Row">
                    <label for="{{: formId}}_authority" class="grid-LabelCell">
                        {{> ~loc('_ label.multi.authority')}}
                    </label>
                    <span class="grid-ColonCell">{{colon /}} </span>
                    <span class="grid-InputCell">
                         <input id="{{: formId}}_authority" type="text" name="authority" size="30" value="{{> authority}}">
                    </span>
                </p>
            </div>
        </div>
    </details>

    {{include tmpl="pane:details_attributes"/}}

</div>
</form>
