<div class="multi-Node">
    <p class="multi-node-Subset">
        <input id="{{: ~root.genId}}_subset_{{: key}}" type="checkbox" name="subsets" value="{{: key}}" data-action="includeSubset" checked>
        <label for="{{: ~root.genId}}_subset_{{: key}}" class="multi-IncludeSubset">{{> title}} [{{: key}}]</label>
    </p>
    <div class="multi-node-ItemsBlock" data-role="block-items" data-key="{{: key}}">
    <p class="multi-node-Items">
        {{> ~itemsLoc(_category)}}{{colon /}} <input type="radio" name="items/{{: key}}" value="none" data-role="items" id="{{: ~root.genId}}_items_{{: key}}_none" {{if ~isChecked(_category, "none")}}checked{{/if}}> <label for="{{: ~root.genId}}_items_{{: key}}_none" class="multi-Items_none {{if ~isChecked(_category, "none")}}multi-Checked{{/if}}">{{> ~itemsLoc(_category, "none")}}</label>
{{if (_category === "addenda") || (_category === "album")}}
        &nbsp; <input type="radio" name="items/{{: key}}" value="selection" data-role="items" id="{{: ~root.genId}}_items_{{: key}}_selection" {{if ~isChecked(_category, "selection")}}checked{{/if}}> <label for="{{: ~root.genId}}_items_{{: key}}_selection" class="multi-Items_selection {{if ~isChecked(_category, "selection")}}multi-Checked{{/if}}">{{> ~itemsLoc(_category, "selection")}}</label>
{{/if}}
        &nbsp; <input type="radio" name="items/{{: key}}" value="all" data-role="items" id="{{: ~root.genId}}_items_{{: key}}_all" {{if ~isChecked(_category, "all")}}checked{{/if}}> <label for="{{: ~root.genId}}_items_{{: key}}_all" class="multi-Items_all {{if ~isChecked(_category, "all")}}multi-Checked{{/if}}">{{> ~itemsLoc(_category, "all")}}</label>
    </p>
    </div>
</div>
