<div class="index-Menubar">
    <span class="index-User">{{> ~loc('_ label.menu.openby')}} {{> centralUser.name}} – {{> centralUser.login}}[{{> centralUser.sphere}}]</span>
    <button class="index-Exit" id="button_exit" title="{{> ~loc('_ link.global.close_session')}}">⏻</button>
</div>
<div class="index-Body">
    {{if withLogo}}<img src="multi-rsc/images/logo.png" alt="" class="index-Logo">{{/if}}
    <h1 class="index-Title">{{> title}}</h1>
    <div class="index-Flow">
        <div class="index-Group index-Presence" id="presence"></div>
        <div class="index-Group index-Search">
            {{include tmpl="index:search-form"/}}
        </div>
    </div>
    
</div>
