<ul class="index-fichotheque-List">
{{for list}}
<li class="index-fichotheque-Entry">
    {{if init}}
        <img src="{{: name}}/dyn-pub/images/icon32.svg" height="32" width="32" class="index-fichotheque-Icon32">
    {{else}}
        <span class="index-fichotheque-IconPlaceHolder" title="{{> ~loc('_ info.multi.fichotheque_notinit')}}"></span>
    {{/if}}
    <a href="{{: href}}" target="_blank" class="index-fichotheque-Link" {{if title}}title="{{> title}}"{{/if}}>{{> text}}</a></li>
{{/for}}
</ul>
