<form action="#" method="GET" id="{{: formId}}">
    <div class="index-search-form-Block">
        <div class="index-search-form-Input"><input type="text" size="25" name="q" placeholder="{{if searchPlaceholder}}{{> searchPlaceholder}}{{else}}{{> ~loc('_ label.multi.crosssearch')}}{{/if}}"></div>
    </div>
    <div class="index-search-form-Select" id="select_scope">
        {{include tmpl="index:select-scope"/}}
    </div>
    <div class="index-search-form-Select" id="select_sort">
        {{include tmpl="index:select-sort"/}}
    </div>
    <div class="index-search-form-ButtonBlock"><button class="global-button-Standard action-Search" type="submit"><span class="global-button-Icon"></span><span class="global-button-Text">{{> ~loc('_ link.global.search')}}</span></button>
    </div>
</form>
