{{for fiches.entries}}
<details class="index-search-list-Corpus">
<summary>{{> title}} <span class="index-search-FicheCount">({{: array.length}})</span></summary>
<ul>
{{for array}}
<li class="index-search-list-Entry"><a href="{{: ~root.name}}/fiches/{{: corpus}}-{{: id}}.html" data-role="fiche" data-fichotheque="{{: ~root.name}}" data-corpus="{{: corpus}}" data-id="{{: id}}" data-editable="{{: editable}}" target="search_fiche">{{> title}}</a></li>
{{/for}}
</ul>
</details>
{{/for}}

