{{> ~loc('_ label.selection.scope')}}{{colon/}}
<select name="scope">
{{for contentScopeArray}}
<option value="{{> value}}" {{if selected}}selected{{/if}}>{{> ~loc(locKey)}}</option>
{{/for}}
</select>
