{{> ~loc('_ label.selection.sorttype')}}{{colon/}}
<select name="sort">
{{for sortTypeArray}}
<option value="{{> value}}" {{if selected}}selected{{/if}}>{{> ~loc(locKey)}}</option>
{{/for}}
</select>
