<input type="hidden" name="cmd" value="FichothequeCreation">
<input type="hidden" name="json" value="fichotheque-array">
<div class="grid-Table">
<p class="grid-Row">
    <label for="{{: genId}}_newfichothequename" class="grid-LabelCell">{{> ~loc('_ label.multi.newfichothequename')}}</label>
    <span class="grid-ColonCell">{{colon /}} </span>
    <span class="grid-InputCell">
        <input type="text" id="{{: genId}}_newfichothequename" name="newfichotheque" pattern="[a-z][_a-z0-9]*" size="30" title="{{> ~loc('_ info.inputpattern.technical_underscore', '[a-z][_a-z0-9]*')}}" required>
    </span>
</p>
<div class="grid-Row">
    <div class="grid-UniqueCell">
{{if availableCentralSphereArray}}
        <span class="command-FlexInput">
            <input type="radio" value="creation" id="{{: genId}}_creation_input" name="sphereorigin" data-deploy-role="radio" data-deploy-target="#{{: genId}}_creation_panel" {{if !availableCentralSphereArray}}checked{{/if}}>
            <label for="{{: genId}}_creation_input">{{> ~loc('_ label.multi.sphereorigin_creation')}}</label>
        </span>
        <div class="global-DetailPanel grid-Table" id="{{: genId}}_creation_panel">
        </div>
{{/if}}
        <span class="command-FlexInput">
            <input type="radio" value="creation" id="{{: genId}}_creation_input" name="sphereorigin" data-deploy-role="radio" data-deploy-target="#{{: genId}}_creation_panel" {{if !availableCentralSphereArray}}checked{{/if}}>
            <label for="{{: genId}}_creation_input">{{> ~loc('_ label.multi.sphereorigin_creation')}}</label>
        </span>
        <div class="global-DetailPanel grid-Table" id="{{: genId}}_creation_panel">
            <p class="grid-Row">
                <label for="{{: genId}}_firstsphere" class="grid-LabelCell">{{> ~loc('_ label.multi.firstsphere')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <input type="text" value="admin" pattern="[a-z][a-z0-9]*" size="15" id="{{: genId}}_firstsphere" name="firstsphere" required title="{{> ~loc('_ info.inputpattern.technical_strict', '[a-z][a-z0-9]*')}}">
                </span>
            </p>
            <p class="grid-Row">
                <label for="{{: genId}}_firstuser" class="grid-LabelCell">{{> ~loc('_ label.multi.firstuser')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <input type="text" value="ADMIN" pattern="[a-zA-Z][a-zA-Z0-9]*" size="15" id="{{: genId}}_firstuser" name="firstuser" required title="{{> ~loc('_ info.inputpattern.login', '[a-zA-Z][a-zA-Z0-9]*')}}">
                </span>
            </p>
            <p class="grid-Row">
                <label for="{{: genId}}_firstpassword_1" class="grid-LabelCell">{{> ~loc('_ label.multi.firstpassword_1')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <input type="password" size="15" id="{{: genId}}_firstpassword_1" name="firstpassword_1" required>
                </span>
            </p>
            <p class="grid-Row">
                <label for="{{: genId}}_firstpassword_2" class="grid-LabelCell">{{> ~loc('_ label.multi.firstpassword_2')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <input type="password" size="15" id="{{: genId}}_firstpassword_2" name="firstpassword_2" required>
                </span>
            </p>
        </div>
    </div>
{{if availableFichothequeArray}}
    <div class="grid-UniqueCell">
        <span class="command-FlexInput">
            <input type="radio" value="copy" id="{{: genId}}_copy_input" name="sphereorigin" data-deploy-role="radio" data-deploy-target="#{{: genId}}_copy_panel">
            <label for="{{: genId}}_copy_input">{{> ~loc('_ label.multi.sphereorigin_copy')}}</label>
        </span>
        <div class="global-DetailPanel grid-Table hidden" id="{{: genId}}_copy_panel">
            <p class="grid-Row">
                <label for="{{: genId}}_copy_select" class="grid-LabelCell">{{> ~loc('_ label.global.fichotheque')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                    <select id="{{: genId}}_copy_select" name="copyorigin">
                    {{for availableFichothequeArray}}
                        <option value="{{: name}}">{{: name}} {{if title}} – {{> title}}{{/if}}</option>
                    {{/for}}
                    </select>
                </span>
            </p>
        </div>
    </div>
</div>
{{/if}}
</div>
