<input type="hidden" name="cmd" value="FichothequeDuplication">
<input type="hidden" name="json" value="fichotheque-array">
<input type="hidden" name="source" value="{{: source.name}}">
<div class="grid-Table">
<p class="grid-Row">
    <label for="{{: genId}}_newfichothequename" class="grid-LabelCell">{{> ~loc('_ label.multi.newfichothequename')}}</label>
    <span class="grid-ColonCell">{{colon /}} </span>
    <span class="grid-InputCell">
        <input type="text" id="{{: genId}}_newfichothequename" name="newfichotheque" pattern="[a-z][_a-z0-9]*" size="30" title="{{> ~loc('_ info.inputpattern.technical_underscore', '[a-z][_a-z0-9]*')}}" required>
    </span>
</p>
</div>

<p class="multi-Intertitle">{{> ~loc('_ title.multi.duplicatecollectionlist')}}</p>

{{if source.corpus.length > 0}}
<p class="multi-CollectionTitle">{{> ~loc('_ title.global.corpus_collection')}}</p>
{{for source.corpus tmpl="multiadmin:node" /}}
{{/if}}

{{if source.thesaurus.length > 0}}
<p class="multi-CollectionTitle">{{> ~loc('_ title.global.thesaurus_collection')}}</p>
{{for source.thesaurus tmpl="multiadmin:node" /}}
{{/if}}

{{if source.sphere.length > 0}}
<p class="multi-CollectionTitle">{{> ~loc('_ title.global.sphere_collection')}}</p>
{{for source.sphere tmpl="multiadmin:node" /}}
{{/if}}

{{if source.album.length > 0}}
<p class="multi-CollectionTitle">{{> ~loc('_ title.global.album_collection')}}</p>
{{for source.album tmpl="multiadmin:node" /}}
{{/if}}

{{if source.addenda.length > 0}}
<p class="multi-CollectionTitle">{{> ~loc('_ title.global.addenda_collection')}}</p>
{{for source.addenda tmpl="multiadmin:node" /}}
{{/if}}
