<li data-role="content-reference" data-content-key="{{: tableExportName}}/{{: path}}" data-table-export-name="{{: tableExportName}}" data-content-path="{{: path}}" class="tree-Node tableexport-contentstate-{{: state}}">
    <div class="tree-Leaf">
    <div data-role="content-title" class="pane-list-ContentTitle">
        <a data-action="load-main" href="tableexport/{{: tableExportName}}/{{: path}}"
           {{if editable}}
           class="pane-list-ContentLink" title="{{> ~loc('_ link.global.change')}}"
           {{else}}
           class="pane-list-ContentLink tableexport-NotEditable" title="{{> ~loc('_ info.tableexport.noteditable')}}"
           {{/if}}
           >
           <span class="cm-component-subset">{{: subsetCategory}}</span><span class="cm-quote">_{{: subsetName}}</span><span class="cm-bracket">.txt</span>{{if title}}<br><span class="cm-comment">{{> title}}</span>{{/if}}
        </a>
        <button data-action="load-stock" type="button" class="global-button-Transparent action-stock-Add" title="{{> ~loc('_ link.stock.add')}}" data-state-enable="!loaded">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    {{include tmpl="bdf:messagebylinearray"/}}
    </div>
</li>
