<details data-role="entry" data-name="{{: name}}" class="pane-list-Entry tableexport-state-{{: state}}">
    <summary class="pane-list-EntryHeader" data-role="entry-header">
    <span class="pane-list-SummaryTools">
    {{if editable}}
        <span class="pane-list-EntryTitle">
            <span class="pane-list-Label" data-role="entry-title">{{> title}}</span>
            <span class="pane-list-Key">[{{: name}}]</span>
        </span>
    {{else}}
        <span class="pane-list-EntryTitle tableexport-NotEditable" title="{{> ~loc('_ info.tableexport.noteditable')}}">
            <span class="pane-list-Label">{{> title}}</span>
            <span class="pane-list-Key">[{{: name}}]</span>
        </span>
    {{/if}}
    </span>
    </summary>
    <div class="pane-list-EntryBody">
        <div class="pane-list-EntryToolbar">
        {{if editable}}
            <button data-action="metadata" type="button" class="global-button-Transparent action-Metadata" title="{{> ~loc('_ link.tableexport.metadata')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="tableexportremove" type="button" class="global-button-Transparent action-Delete" title="{{> ~loc('_ link.global.delete')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="newcorpuscontent" type="button" class="global-button-Transparent action-CorpusAdd" title="{{> ~loc('_ link.tableexport.newcorpus')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="newthesauruscontent" type="button" class="global-button-Transparent action-ThesaurusAdd" title="{{> ~loc('_ link.tableexport.newthesaurus')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="tableexportcopy" type="button" class="global-button-Transparent action-Duplicate" title="{{> ~loc('_ link.tableexport.tableexportcopy')}}">
                <span class="global-button-Icon"></span>
            </button>
        {{else}}
            <button data-action="tableexportcopy" type="button" class="global-button-Transparent action-Duplicate" title="{{> ~loc('_ link.tableexport.tableexportcopy')}}">
                <span class="global-button-Icon"></span>
            </button>
        {{/if}}
        </div>
        <ul data-role="content-list" class="tableexport-Tree tree-Top">
            {{for contentArray tmpl="tableexport:list/content"/}}
        </ul>
    </div>
</details>