<table class="selectionindexation-toolbar-Table">
<tr>
    <th class="selectionindexation-toolbar-AddTitle">{{> ~loc('_ title.edition.selectionindexation_add')}}</td>
    <th class="selectionindexation-toolbar-DelTitle">{{> ~loc('_ title.edition.selectionindexation_remove')}}</td>
</tr>
<tr>
<td class="selectionindexation-toolbar-AddButtons">
    <button type="button" data-selectionindexation-name="ajout" data-selectionindexation-action="check" class="global-button-Standard">
        <span class="global-button-Text">{{> ~loc('_ link.edition.selectall_add')}}</span>
    </button>
    <button type="button" data-selectionindexation-name="ajout" data-selectionindexation-action="uncheck" class="global-button-Standard">
        <span class="global-button-Text">{{> ~loc('_ link.edition.unselectall_add')}}</span>
    </button>
</td>
<td class="selectionindexation-toolbar-DelButtons">
    <button type="button" data-selectionindexation-name="supp" data-selectionindexation-action="check" class="global-button-Standard">
        <span class="global-button-Text">{{> ~loc('_ link.edition.selectall_remove')}}</span>
    </button>
    <button type="button" data-selectionindexation-name="supp" data-selectionindexation-action="uncheck" class="global-button-Standard">
        <span class="global-button-Text">{{> ~loc('_ link.edition.unselectall_remove')}}</span>
    </button>
</td>
</tr>
</table>
