<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title">{{: user.login}} – <span data-field="user_name" data-login="{{: user.login}}">{{> user.name}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_passwordchange" type="button" class="global-button-Standard action-Edit">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.sphere.passwordchange')}}</span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    {{include tmpl="centralsphere:userpane/userinfos"/}}

    <table class="tablesorter multi-stats-Table" id="{{: formId}}_table">
    <thead>
        <tr>
            <th>{{> ~loc('_ label.global.fichotheque')}}</th>
            <th>{{> ~loc('_ label.multi.presence')}}</th>
        </tr>
    </thead>
    <tbody id="{{: formId}}_tbody">
        {{for userstate.statusArray tmpl="centralsphere:userpane/statusrow"/}}     
    </tbody>
    </table>
    
</div>
