<div class="multi-stats-CellWithTools">
        <div class="multi-user-Level multi-user-Level_{{: _level.name}}">
            <span {{if _level.locKey}}title="{{> ~loc(_level.locKey)}}"{{/if}}>{{: _level.symbol}}</span>
        </div>
        <div>
    {{if _level.name === "nouser"}}
        <button title="{{> ~loc('_ submit.multi.addtofichotheque')}}" class="global-button-Transparent action-New" data-fichotheque="{{: fichothequeName}}" data-action="addtofichotheque">
            <span class="global-button-Icon"></span>
        </button>
    {{else _level.name !== "here" && _level.name !== "unknown"}}
        <button title="{{> ~loc('_ submit.sphere.redacteurstatus')}}" class="global-button-Transparent action-Edit" data-fichotheque="{{: fichothequeName}}" data-action="statusedit">
            <span class="global-button-Icon"></span>
        </button>
    {{/if}}            
        </div>
</div>

