<tr>
    <td>
        <div class="multi-stats-CellWithTools">
            <div>
                <span class="multi-stats-Title">{{> fichothequeTitle}}</span>
                <span class="multi-stats-Name">[{{: fichothequeName}}]</span>
            </div>
            <div>
                <a href="{{: fichothequeName}}/session" target="_blank" class="global-button-Transparent action-Login" title="{{> ~loc('_ link.multi.go')}}">
                    <span class="global-button-Icon"></span>
                </a>
            </div>
        </div>
    </td>
    <td data-value="{{: _level.letter}}" data-role="presencecell">
        {{include tmpl="centralsphere:userpane/presencecell"/}}
    </td>
 </tr>
