<p class="multi-user-Info">
    {{> ~loc('_ label.sphere.surname')}}{{colon /}}
    <span id="{{: formId}}_text_surname">{{> user.person.surname}}</span>
    /
    {{> ~loc('_ label.sphere.forename')}}{{colon /}}
    <span id="{{: formId}}_text_forename">{{> user.person.forename}}</span>
    <button id="{{: formId}}_button_personchange" type="button" class="global-button-Standard action-Edit" title="{{> ~loc('_ submit.sphere.redacteurchange')}}">
        <span class="global-button-Icon"></span>
        </button>
</p>
<p class="multi-user-Info">
    {{> ~loc('_ label.sphere.email')}}{{colon /}}
    <span id="{{: formId}}_text_email">{{if user.email}}{{> user.email.complete}}{{/if}}</span>
    <button id="{{: formId}}_button_emailchange" type="button" class="global-button-Standard action-Edit" title="{{> ~loc('_ submit.sphere.emailchange')}}">
        <span class="global-button-Icon"></span>
        </button>
</p>
<p class="multi-user-Info">
    {{> ~loc('_ label.sphere.userstatus')}}{{colon /}}
    <span id="{{: formId}}_userstatus" class="multi-user-Status">{{include user._level tmpl="centralsphere:userpane/userstatus"/}}</span>
    <button id="{{: formId}}_button_statuschange" type="button" class="global-button-Standard action-Edit" title="{{> ~loc('_ submit.sphere.redacteurstatus')}}">
        <span class="global-button-Icon"></span>
    </button>
</p>
