<p>
    <span class="{{if type == "error"}}global-ErrorMessage{{else}}global-DoneMessage{{/if}}">
    {{if text}}{{> text}}{{else}}{{> key}}{{/if}}
    </span>
{{if multiErrorMessageArray}}
    {{for multiErrorMessageArray}}
    <br>
    <span class="global-ErrorMessage">
        <small>
            {{if line}}<code>{{: line}}:</code> {{/if}}{{if text}}{{> text}}{{else}}{{> key}}{{/if}}
        </small>
    </span>
    {{/for}}
{{/if}}
</p>
