<span class="global-DateInputs">
    <span class="global-BottomLabelledInput">
        <input id="{{: genId}}_year" size="4" type="text" value="{{: year}}">
        &nbsp;-&nbsp;<br>
        <label for="{{: genId}}_year" class="global-SmallLabel">{{> ~loc('_ label.global.year')}}</label>
    </span>
    <span class="global-BottomLabelledInput">
        <input id="{{: genId}}_month" size="2" type="text"  value="{{: month}}">
        &nbsp;-&nbsp;<br>
        <label for="{{: genId}}_month" class="global-SmallLabel">{{> ~loc('_ label.global.month')}}</label>
    </span>
    <span  class="global-BottomLabelledInput">
        <input id="{{: genId}}_day" size="2" type="text" value="{{: day}}">
        <br>
        <label for="{{: genId}}_day" class="global-SmallLabel">{{> ~loc('_ label.global.day')}}</label>
    </span>
</span>
