<div class="global-fichepopup-Tools">
    <a class="global-button-Standard action-FicheDisplay" title="{{> ~loc('_ link.fiches.fiche_blank')}}" id="{{: popupId}}_button_blank" target="_blank" href="{{> blankHref}}">
<span class="global-button-Icon"></span>
</a>
{{if odtHref}}
<a class="global-button-Standard action-Odt" type="" title="{{> ~loc('_ link.global.version', 'ODT')}}" id="{{: popupId}}_button_odt" href="{{> odtHref}}">
<span class="global-button-Icon"></span>
</a>
{{/if}}
{{if editHref}}
<a class="global-button-Standard action-FicheEdit" title="{{> ~loc('_ link.edition.fichechange_long')}}" id="{{: popupId}}_button_edit" target="iframe_{{: popupId}}" href="{{> editHref}}">
<span class="global-button-Icon"></span>
</a>
{{/if}}
</div>
<div id="{{: popupId}}_iframe_toolbar" class="global-fichepopup-IframeToolbar hidden">
</div>
<div id="{{: popupId}}_iframe_fieldedit" class="global-fichepopup-IframeFieldedit hidden">
</div>
<iframe src="{{: iframeHref}}" id="{{: popupId}}_iframe" name="iframe_{{: popupId}}" class="global-fichepopup-Iframe">
</iframe>
