{{if (messageByLineArray) && (messageByLineArray.length > 0)}}
<div class="global-MessageByLine" data-role="messagebylinearray"><dl>
{{for messageByLineArray}}
    <dt>{{> line}}</dt>
    <dd>
    {{for categoryArray itemVar='~category'}}
        {{for messageArray}}
        <div class="{{if ~category.name.indexOf('warning') !== -1}}global-WarningMessage{{else}}global-ErrorMessage{{/if}}">
            {{if text}}
                {{> text}}
            {{else}}
                {{: key}}{{if valueArray}}: 
                    {{for valueArray}}
                        {{if #index > 0}} / {{/if}}{{>}}
                    {{/for}}
                {{/if}}
            {{/if}}
        </div>
        {{/for}}
    {{/for}}
    </dd>
{{/for}}
</dl></div>
{{/if}}