<table>
    <tr>
    <td><label for="{{: genId}}_login">{{> ~loc('_ label.session.login')}}</label></td>
    <td> : &nbsp;</td>
    <td><input type="text" id="{{: genId}}_login" name="login" value="{{> login}}"></td>
    </tr>
    <tr>
    <td><label for="{{: genId}}_password">{{> ~loc('_ label.session.password')}}</label></td>
    <td> : &nbsp;</td>
    <td><input type="password" id="{{: genId}}_password" name="password"></td>
    </tr>
</table>
<div data-role="area-error"></div>

