{{if type === "option"}}
<option value="{{: value}}" {{if selected}}selected{{/if}} {{if disabled}}disabled{{/if}}>{{> label}}</option>
{{else type == optgroup"}}
<optgroup label="{{> label}}"></optgroup>
{{for array tmpl="bdf:selectoption"/}}
{{/if}}
