span.FbeFixed {
    font-family: "Liberation Mono";
    font-pitch: fixed;
    font-family-generic: system;
    font-size: 90%;
}

span.FbeTxtEm {
    font-style: italic;
}

span.FbeTxtEmA {
    parent-style-name: FbeTxtEm;
}

span.FbeTxtEmStrg {
    parent-style-name: FbeTxtEm;
    font-weight: bold;
}

span.FbeTxtEmStrgA {
    parent-style-name: FbeTxtEmStrg;
}

span.FbeTxtStrg {
    font-weight: bold;
}

span.FbeTxtStrgA {
    parent-style-name: FbeTxtStrg;
}

span.FbeTxtLink {

}

span.FbeTxtIref {
    text-position: super 58%;
}

span.FbeTxtAnchor {
    text-position: super 58%;
}

span.FbeTxtCite {
    font-style: italic;
}

span.FbeTxtCiteA {
    parent-style-name: FbeTxtCite;
}

span.FbeTxtCode {
    parent-style-name: FbeFixed;
}

span.FbeTxtCodeA {
    parent-style-name: FbeTxtStrg;
}

span.FbeTxtDfn {
    font-style: italic;
}

span.FbeTxtDfnA {
    parent-style-name: FbeTxtDfn;
}

span.FbeTxtError {
    color: #ff0000;
}

span.FbeTxtFiche {
    font-style: italic;
}

span.FbeTxtKbd {
    parent-style-name: FbeFixed;
}

span.FbeTxtKbdA {
    parent-style-name: FbeTxtStrg;
}

span.FbeTxtMotcle {
    font-style: italic;
}

span.FbeTxtMotcleA {
    parent-style-name: FbeTxtMotcle;
}

span.FbeTxtQuote {
    font-style: italic;
}

span.FbeTxtQuoteA {
    parent-style-name: FbeTxtQuote;
}

span.FbeTxtSamp {
    parent-style-name: FbeFixed;
    font-style: italic;
}

span.FbeTxtSampA {
    parent-style-name: FbeTxtStrg;
}

span.FbeTxtVar {
    parent-style-name: FbeFixed;
    font-style: italic;
}

span.FbeTxtVarA {
    parent-style-name: FbeTxtStrg;
}


span.FbeTxtSource {
    font-weight: bold;
}

p.Fbe {
    
}

p.FbeTxt {
    parent-style-name: Fbe;
    margin-top: 0.3cm;
    text-align: justify;
    widows: 2;
    orphans: 2;
}

p.FbeTxtQuestion {
    parent-style-name: FbeTxt;
    font-style: italic;
}

p.FbeTxtRemark {
    parent-style-name: FbeTxt;
    font-size: 80%;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

p.FbeTxtNote {
    parent-style-name: FbeTxt;
    font-size: 80%;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

p.FbeTxtQuote {
    parent-style-name: FbeTxt;
    font-style: italic;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

p.FbeTxtQuoteSource {
    parent-style-name: FbeTxtQuote;
    text-align: end;
}

p.FbeTxtLi {
    parent-style-name: FbeTxt;
    text-align: start;
    margin-right: 1cm;
}

h {
    font-weight: bold;
    font-size: 150%;
    font-family: "Liberation Sans";
    font-pitch: variable;
    font-family-generic: swiss;
    keep-together: always;
    keep-with-next: always;
}

h1 {
    margin-top: 1.6cm;
    margin-bottom: 0.8cm;
    next-style-name: h2;    
}

h2 {
    font-size: 85%;
    margin-left: 1.2cm;
    margin-top: 1.4cm;
    margin-bottom: 0.6cm;
    next-style-name: FbeTxt;
}

h3 {
    font-size: 70%;
    margin-left: 1.5cm;
    margin-top: 1.2cm;
    margin-bottom: 0.4cm;
    next-style-name: FbeTxt;
}

h4 {
    font-size: 60%;
    margin-left: 2cm;
    margin-top: 0.8cm;
    margin-bottom: 0.4cm;
    next-style-name: FbeTxt;
}

h5 {
    font-size: 50%;
    margin-left: 3cm;
    margin-top: 0.4cm;
    margin-bottom: 0.2cm;
    next-style-name: FbeTxt;
}

h6 {
    margin-left: 4cm;
    font-size: 40%;
    next-style-name: FbeTxt;
}

table.FbeTable {
    border-model: collapsing;
    margin-top: 1cm;
}

table.FbeTableSans {
    border-model: collapsing;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

tr.FbeTableRow {
}

td.FbeTableCell {
    padding: 0.097cm;
    border: "0.002cm solid #000000";
}

p.FbeTable {
    parent-style-name: Fbe;
}

p.FbeTableString {
    parent-style-name: FbeTable;
}

p.FbeTableNumber {
    parent-style-name: FbeTable;
    text-align: end;   
}

p.FbeTableHeader {
    parent-style-name: FbeTable;
    font-weight: bold;
    text-align: center;
}

p.FbeLn {
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: #ffcc99;
    border: "0.002cm solid #000000";
    padding: 0.15cm;
    shadow: none;
    font-family: "Liberation Mono";
    font-pitch: fixed;
    font-family-generic: system;
    font-size: 90%;
}

p.FbeLn1 {
    parent-style-name: FbeLn;
    margin-top: 1cm;
}

p.FbeLnL {
    parent-style-name: FbeLn;
    margin-bottom: 1cm;
}

p.FbeTxtDiv {
    parent-style-name: FbeTxt;
    border: "0.002cm solid #000000";
    padding: 0.15cm;
    margin-left: 2cm;
    margin-right: 2cm;
    shadow: none;
    font-size: 90%;
}

p.FbeTxtDiv1 {
    parent-style-name: FbeTxtDiv;
    margin-top: 1cm;
}

p.FbeTxtDivL {
    parent-style-name: FbeTxtDiv;
    margin-bottom: 1cm;
}

p.FbeAlt {
    parent-style-name: Fbe;
    margin-top: 1cm;
    text-align: center;
}

p.FbeCpt {
    parent-style-name: Fbe;
    margin-top: 0.1cm;
    margin-bottom: 1cm;
    text-align: center;
    font-size: 75%;
}

p.FbeFootnote {
    parent-style-name: Footnote;
}

span.FbeCptNumber {
    font-weight: bold;
}

span.FbeCptLegend {
    font-style: italic;
}

ul.FbeLstUl[level="1"] {
    bullet-char: •;
    min-label-width: 0.4cm;
    style-name: NumberingSymbols;
    space-before: 0.2cm;
}

ul.FbeLstUl[level="2"] {
    bullet-char: ∘;
    min-label-width: 0.4cm;
    space-before: 1cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="3"] {
    bullet-char: ▪;
    min-label-width: 0.4cm;
    space-before: 1.8cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="4"] {
    bullet-char: •;
    min-label-width: 0.4cm;
    space-before: 2.6cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="5"] {
    bullet-char: ∘;
    min-label-width: 0.4cm;
    space-before: 3.4cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="6"] {
    bullet-char: ▪;
    min-label-width: 0.4cm;
    space-before: 4.2cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="7"] {
    bullet-char: •;
    min-label-width: 0.4cm;
    space-before: 5.0cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="8"] {
    bullet-char: ∘;
    min-label-width: 0.4cm;
    space-before: 5.8cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="9"] {
    bullet-char: ▪;
    min-label-width: 0.4cm;
    space-before: 6.6cm;
    style-name: NumberingSymbols;
}

ul.FbeLstUl[level="10"] {
    bullet-char: •;
    min-label-width: 0.4cm;
    space-before: 7.4cm;
    style-name: NumberingSymbols;
}

graphic.FbeIllustration {
    vertical-pos: middle;
    vertical-rel: baseline;
}

graphic.FbeImage {
    vertical-pos: bottom;
    vertical-rel: baseline;
}

graphic.FbeLettrine {
    vertical-pos: top;
    vertical-rel: paragraph-content;
    horizontal-rel: paragraph;
}

graphic.FbeLettrineLeft {
    parent-style-name: FbeLettrine;
    horizontal-pos: left;
    margin-right: 0.5cm;
}

graphic.FbeLettrineRight {
    parent-style-name: FbeLettrine;
    horizontal-pos: right;
    margin-left: 0.5cm;
}

p.FbeInsertImage {
    text-align: center;
    margin-top: 1cm;
}

p.FbeInsertLettrine {
    text-align: center;
}
