/*******************************************************************************
* .fbe-caption-
*******************************************************************************/

.fbe-caption-Legend {
    font-style: italic;
}

.fbe-caption-Legend em {
    font-style: normal;
}

.fbe-caption-Number {
    font-weight: bold;
}


/*******************************************************************************
* .fbe-figure-
*******************************************************************************/

.fbe-figure-Audio {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fbe-figure-Blockquote {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.fbe-figure-Blockquote em {
    font-style: normal;
}

.fbe-figure-BlockquoteCaption {
    margin-top: 20px;
    font-size: 0.8em;
    margin-left: 40px;
    margin-right: 40px;
    text-align: right;
}

.fbe-figure-BlockquoteContent {
    font-size: 0.9em;
    margin-left: 0;
    margin-right: 0;
}

.fbe-figure-Caption {
    margin-top: 3px;
    font-size: 0.8em;
    margin-left: 40px;
    margin-right: 40px;
}

.fbe-figure-Cdata {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fbe-figure-CdataContent {
    display: inline-block;
    text-align: left;
}

.fbe-figure-Code {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fbe-figure-CodeCaption {
    margin-top: 3px;
    font-size: 0.8em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    padding: 4px 12px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    top: 1px;
    background-color: #fafafa;
    display: inline-block;
    z-index: 10;
}

.fbe-figure-CodeContent {
    background-color: #fafafa;
    padding: 12px;
    border-style: solid;
    border-color:  #ccc;
    border-width: 1px;
    text-align: left;
    display: block;
    overflow: auto;
    margin-bottom: 5px;
    margin-top: 0;
}

.fbe-figure-Credit {
    font-size: 0.8em;
}

.fbe-figure-Div {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fbe-figure-DivContent {
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    padding: 0 12px;
    font-size: 0.9em;
    text-align: left;
}

.fbe-figure-DivContent > *:first-child {
    margin-top: 8px;
}

.fbe-figure-Image {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fbe-figure-Left {
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.fbe-figure-Lettrine {
    margin-top: 5px;
    margin-bottom: 20px;
}

.fbe-figure-LettrineCaption {
    margin-top: 3px;
    font-size: 0.8em;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}

.fbe-figure-Right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}


/*******************************************************************************
* .fbe-link-
*******************************************************************************/

.fbe-link-Anchor {
    
}

.fbe-link-Fiche {
    font-style: italic;
}

.fbe-link-Img {
    
}

.fbe-link-Iref {
    
}

.fbe-link-Motcle {
    font-style: italic;
}


/*******************************************************************************
* .fbe-p-
*******************************************************************************/

.fbe-p-Blockquote {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em;
}

.fbe-p-BlockquoteSource {
    text-align: right;
    margin-top: 20px;
    font-size: 0.9em;
}

.fbe-p-Blockquote em {
    font-style: normal;
}

.fbe-p-H {
    letter-spacing: 1px;
}

.fbe-p-Level1 {
    font-size: 1.3em;
    margin-top: 75px;
    margin-bottom: 30px;
}

.fbe-p-Level1:first-child {
    margin-top: 20px;
}

.fbe-p-Level2 {
    font-size: 1.2em;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.fbe-p-Level1 + .fbe-p-Level2 {
    margin-top: 30px;
}

.fbe-p-Level3 {
    font-size: 1.1em;
    margin-left: 55px;
}

.fbe-p-Level4 {
    font-size: 1.0em;
    margin-left: 70px;
}

.fbe-p-Level5 {
    font-size: 0.9em;
    margin-left: 80px;
}

.fbe-p-Level6 {
    font-size: 0.8em;
    margin-left: 100px;
}

.fbe-p-Note {
    font-size: 0.9em;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 3px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

.fbe-p-Question {
    font-style: italic;
}

.fbe-p-Question em {
    font-style: normal;
}

.fbe-p-Remark {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 0.9em;
}

.fbe-p-Source {
    font-weight: bold;
}


/*******************************************************************************
* .fbe-table-
*******************************************************************************/

.fbe-table-Caption {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    text-align: left;
    font-size: 0.8em;
}

.fbe-table-Cell {
    padding-top: 0.3em;
    padding-bottom : 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 1px solid #a0a0a0;
    vertical-align: baseline;
    font-size: 0.9em;
}

.fbe-table-Number {
    text-align: right;
}

.fbe-table-Table {
    margin-right: 10%;
    margin-left: 10%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*******************************************************************************
* @media print
*******************************************************************************/

@media print {
    
    .fbe-p-H {
        font-weight: bold;
        letter-spacing: 0;
    }
    
    .fbe-figure-CodeContent {
        background-color: white;
    }
}


