/*******************************************************************************
* _predefinedclasses
*******************************************************************************/

.B { color: blue;}
.C {color: cyan;}
.G {color: green;}
.M {color: magenta;}
.R {color: red;}
.Y {color: yellow;}

.CB {clear: both;}
.CR {clear: right;}
.CL {clear: left;}

.TAL {text-align: left;}
.TAR {text-align: right;}
.TAC {text-align: center;}
.TAJ {text-align: justify;}


