body {
    background-color: white;
    font-family: "DejaVu Sans", sans-serif;
    color: black;
    line-height: 1.5;
}

article {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 1.4rem;
}

p {
    margin-top: 14px;
    margin-bottom: 14px;
}

hr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a0a0a0;
    border-bottom-width: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-top: 75px;
    margin-bottom: 40px;
    padding-top: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 15px;
    border-bottom-color: #a0a0a0;
}

h3 {
    font-weight: normal;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 30px;
}

h4 {
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 25px;
}

h3 + h4 {
    margin-top: 30px;
}

h5 {
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-left: 55px;
}

h6 {
    font-weight: normal;
    font-size: 1.0em;
    letter-spacing: 1px;
    margin-left: 70px;
}

a, a:ACTIVE,a:FOCUS, a:HOVER,a:LINK, a:VISITED {
    text-decoration: none;
    color: blue;
}

a img {
    border: none;
}

a:HOVER {
    color: red;
    text-decoration: none;
}

code, kbd, samp, var {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 0.9em;
}

dd {
    margin-bottom: 10px;
}

kbd, samp {
    font-weight: bolder;
}

samp, var {
    font-style: italic;
}

@media print {
    
    body{
        font-size: 10pt;
        line-height: normal;
    }
    
    article {
        padding-left: 0;
        padding-right: 0;
    }
    
    h1 {
        font-size: 14pt;
        font-weight: bold;
    }
    
    p {
        margin-bottom: 10pt;
    }

}
