/*******************************************************************************
* .fiche-
*******************************************************************************/

.fiche-Block {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
    margin-left: 3em;
    font-size: 0.9rem;
}

.fiche-Block p {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.fiche-Description {
    font-style: italic;
}

.fiche-Description em {
    font-style: normal;
}

.fiche-Field {
    text-indent: -3em;
    padding-left: 3em;
    clear: both;
    font-size: 0.9rem;
}

.fiche-Field img {
    border:  none;
    vertical-align: top;
}

.fiche-Field span[role=presentation] {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
}

.fiche-Header {
    margin-top: 80px;
    margin-bottom: 50px;
}

article:first-child .fiche-Header {
    margin-top: 20px;
}

.fiche-HeadingContainer {
     margin-bottom: 75px;
}

[data-bdf-field] + .fiche-HeadingContainer {
    margin-top: 75px;
}

.fiche-Label {
    color: #555;
    clear: both;
    font-size: 0.9rem;
}

.fiche-List {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
    margin-left: 3em;
    font-size: 0.9rem;
    list-style-type: "—\2005";
    padding-left: 1.25em;
}

.fiche-List li {
    margin-top: 0;
    margin-bottom: 0.3em;
    margin-left: 0;
}

.fiche-List li::marker {
    color: #a0a0a0;
}

.fiche-Section {
    margin-bottom: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

.fiche-Section .fbe-p-Level1 {
    margin-left: -20px;
}

.fiche-Section .fbe-figure-DivContent .fbe-p-Level1 {
    margin-left: 0;
}

.fiche-Section .CodeMirror {
    height: auto!important;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    text-align: left;
    background-color: #fafafa;
    min-height: 32px;
    min-width: 150px;
}

.fiche-Table {
    border-collapse: collapse;
    margin-left: 3em;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

.fiche-Time {
    color: #555;
    font-size: 0.8rem;
    clear: both;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fiche-satellite-Block {
    margin-top: 100px;
    margin-bottom: 80px;
}

.fiche-satellite-Title {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 80px;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}

.fiche-satellite-Title::before {
    content: "―――― \00A0 ";
    color: #a0a0a0;
    letter-spacing: 0;
}

.fiche-satellite-Title::after {
    content: " \00A0 ――――";
    color: #a0a0a0;
    letter-spacing: 0;
}


@media screen and (min-width: 1040px) {
    
    .fiche-Section {
        margin-left: 2%;
        width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    
    .fiche-Section {
        margin-left: 8%;
    }
    
    .fiche-Section .fbe-p-Level1 {
        margin-left: -40px;
    }
}

@media print {
   
    .fiche-Description {
        font-size: 12pt;
    }
    
    .fiche-Field {
        text-indent: -1cm;
        padding-left: 1cm;
        font-size: 10pt;
    }
    
    .fiche-Header {
        margin-top: 3.5cm;
        margin-bottom: 1cm;
    }
    
    article:first-child .fiche-Header {
        margin-top: 0.5cm;
    }
    
    .fiche-Label {
        font-style: italic;
        color: black;
        font-size: 10pt;
    }
    
    .fiche-Section {
        margin-bottom: 25pt;
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
        font-family: serif;
    }
    
    .fiche-Section .fbe-p-Level1 {
        margin-left: 0;
    }
    
    .fiche-Table {
        margin-left: 0;
    }
    
    .fiche-Time {
        font-size: 8pt;
        color: black;
        font-family: monospace;
        margin-top: 20pt;
    }
}
