@import url("bdf://this/css/_ficheblockelements_odt.css");
@import url("bdf://this/custom/fiche_odt.css");

span.Internet_link {
    color: #000099;
    text-underline-style: none;
}

p.Fiche {
    margin-top: 0.3cm;
    text-align: start;
    widows: 2;
    orphans: 2;
}

p.FicheSans {
    parent-style-name: Fiche;
    font-family: "Liberation Sans";
    font-pitch: variable;
    font-family-generic: swiss;
}

p.FicheChrono {
    parent-style-name: FicheSans;
    font-size: 8pt;
    text-align: center;
    margin-top: 1.2cm;
    break-after: page;
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 0.05cm;
    border-left: none;
    border-right: none;
    border-top: "0.002cm dotted #000000";
    border-bottom: none;
}

p.FicheDocument {
    parent-style-name: FicheSans;
    margin-top: 0.1cm;
    margin-left: 1.5cm;
    margin-bottom: 0.1cm;
    font-size: 9pt;
}

p.FicheField {
    parent-style-name: FicheSans;
    font-size: 10pt;
    margin-left: 1.5cm;
    text-indent: -1.5cm;
    margin-top: 0.4cm;
    margin-bottom: 0.1cm;
    line-height: 115%;    
}

p.FicheFieldItem {
    parent-style-name: FicheField;
    margin-top: 0cm;
    margin-bottom: 0.1cm;
    text-indent: 0cm;
}

p.FicheFieldLabel {
    parent-style-name: FicheField;
    keep-with-next: always;
}

p.FicheFieldLi {
    parent-style-name: FicheField;
    margin-top: 0cm;
    margin-bottom: 0.1cm;
    text-indent: 0cm;
}

p.FicheFooter {
    parent-style-name: Fiche;
    margin-top: 0;
    font-size: 9pt;
    text-align: center;
}

p.FicheLogo {
    text-align: center;
    margin-bottom: 0.8cm;
}

p.FicheLogoLeft {
    parent-style-name: FicheLogo;
    text-align: start;
}

p.FicheLogoRight {
    parent-style-name: FicheLogo;
    text-align: end;
}

p.FicheNumber {
    parent-style-name: FicheSans;
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 0.5cm;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
    line-height: 115%;
}

p.FicheSectionLabel {
    parent-style-name: Heading_2;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-top: 1.4cm;
    margin-bottom: 0.6cm;
    margin-left: 0cm;
    margin-right: 0cm;
    padding: 0.05cm;
    border-left: none;
    border-right: none;
    border-top: "0.002cm solid #000000";
    border-bottom: "0.002cm solid #000000";
    keep-together: always;
    keep-with-next: always;
    shadow: none;
}

p.FicheSectionLabelMerge {
    parent-style-name: FicheSectionLabel;
    margin-top: 1.4cm;
    margin-bottom: 0cm;
}

p.FicheSectionEnd {
    parent-style-name: Fiche;
    margin-top: 0.8cm;
    margin-bottom: 0.2cm;
    text-align: center;
    font-size: 10pt;
}

p.FicheSubtitle {
    parent-style-name: Fiche;
    font-size: 12pt;
    font-style: italic;
    margin-bottom: 1cm;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
    line-height: 115%;
}

p.FicheTitle {
    parent-style-name: Heading_1;
    font-size: 15pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.2cm;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
    line-height: 115%;
}

p.FicheTitleWithSubtitle {
    parent-style-name: FicheTitle;
    margin-top: 0;
    margin-bottom: 0.6cm;
    next-style-name: FicheSubtitle;
}

span.FicheSans {
    font-family: "Liberation Sans";
    font-pitch: variable;
    font-family-generic: swiss;
}

span.FicheFieldBullet {
    parent-style-name: FicheSans;
    font-size: 10pt;
}

span.FicheIdalpha {
    parent-style-name: FicheSans;
    font-size: 9pt;
}

span.FicheLabel {
    parent-style-name: FicheSans;
    font-style: italic;
    font-size: 10pt;
}

span.FicheSize {
    font-size: 7pt;
}

table.FicheTable {
    border-model: collapsing;
}

ul.FicheUl[level="1"] {
    bullet-char: ‣;
    min-label-width: 0.4cm;
    style-name: NumberingSymbols;
}

graphic.FicheLogo {
    vertical-pos: middle;
    vertical-rel: baseline;
}