/*******************************************************************************
* motcle.css
*******************************************************************************/

ul.lp {
    padding-left:0.3cm;
    list-style-position: outside;
}

li.lp_thesaurus{

}

p.lp_thesaurus{
    font-size: 11pt;
    font-weight: bold;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

li.lp_mtclparent {

}

p.lp_mtclparent{
    font-size: 11pt;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

li.lp_mtclprincipal{

}

h1.lp_mtclprincipal {
    color: red;
    font-size: 14pt;
    font-weight: bold;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h2.corpus_intitule {
    font-size: 13pt;
    margin-top: 30px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: 1px;
}

h3.titre_fiche {
    margin-right: 10px;
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

a.lien_titre:ACTIVE {
    text-decoration : none;
}

a.lien_titre:FOCUS {
    text-decoration : none;
}

a.lien_titre:HOVER {
    text-decoration : none;
    color : Red;
}

a.lien_titre:LINK {
    text-decoration : none;
    color: Navy;
}

a.lien_titre:VISITED {
    text-decoration : none;
    color : Navy;
}

p.fiche_soustitre {
    margin-right: 10px;
    font-size: 11pt;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}

p.fiche_soustitre em {
    font-style: normal;
}

ul.lm {

}

li.lm {
    font-size: 10pt;
}

a.lm:ACTIVE {
    text-decoration : none;
}

a.lm:FOCUS {
    text-decoration : none;
}

a.lm:HOVER {
    text-decoration : none;
    color : Red;
}

a.lm:LINK {
    text-decoration : none;
    color: black;
}

a.lm:VISITED {
    text-decoration : none;
    color : gray;
}


