/*******************************************************************************
* statthesaurus.css
*******************************************************************************/

.FicheUl {
    list-style-type: circle;
}

.FicheUl li p {
    font-size: small;
}

.CorpusUl {
    list-style-type: disc;
}

.CorpusUl li p {
    font-style: italic;
}

.MotcleUl {
    list-style-type: square;
}


body {
    background-color: white;
    font-family: sans-serif;
    font-size: medium;
}

h1 {
    font-size: medium;
}

a, a:ACTIVE,a:FOCUS, a:HOVER,a:LINK, a:VISITED {
    text-decoration: none;
}

a:LINK {
    color: blue;
}

a:VISITED {
    color: blue;
}

a:HOVER {
    color: red;
}


