<input type="hidden" name="cmd" value="RoleCreation">
<input type="hidden" name="json" value="role">
<p>
    {{> ~loc('_ label.administration.newrole')}}{{colon /}} <input type="text" name="newrole" value="" size="30">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
