<p class="grid-Row">
    <span class="grid-LabelCell">
        {{> ~loc('_ label.exportation.balayageunit')}}
    </span>
    <span class="grid-ColonCell">{{colon /}} </span>
    <span class="grid-InputCell">
        {{> ~loc(typeTitleKey)}}
    </span>
</p>
{{for fields.all}}
<p class="grid-Row">
    <label for="{{: ~root.genId}}_{{: name}}" class="grid-LabelCell">
        {{> ~loc(labelKey)}}
    </label>
    <span class="grid-ColonCell">{{colon /}} </span>
    <span class="grid-InputCell">
        <input id="{{: ~root.genId}}_{{: name}}" type="text" size="{{: size}}" name="{{: name}}" value="">
    </span>
</p>
{{/for}}
