<div class="grid-Table" id="{{: genId}}">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.exportation.balayageunit')}}</span>
            <span class="grid-ColonCell">{{colon /}} </span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
{{for unitTypeArray}}
            <span class="grid-choice-InputCell">
                <input id="{{: ~root.genId}}_unittype_{{: value}}" type="radio" value="{{: value}}" name="unittype">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: ~root.genId}}_unittype_{{: value}}">{{> ~loc(labelKey)}}</label>
            </span>
{{/for}}
        </div>
    </fieldset>
</div>
