<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="balayage">
<input type="hidden" name="cmd" value="BalayageCreation">
<p>
    {{> ~loc('_ label.exportation.newbalayagename')}}{{colon /}}
    <input type="text" name="newbalayage" value="" size="30">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
