<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="cmd" value="BalayageRemove">
<input type="hidden" name="balayage" value="{{: balayageName}}">
<p>
    {{> ~loc('_ label.global.balayage')}}{{colon /}} <span class="pane-form-Key">[{{: balayageName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc('_ label.global.confirmationcheck_remove')}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}
