<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="balayage">
<input type="hidden" name="cmd" value="BalayageContentRemove">
<input type="hidden" name="balayage" value="{{: balayageName}}">
<input type="hidden" name="path" value="{{: contentPath}}">
<p>
    {{> ~loc('_ label.global.balayage')}}{{colon /}} <span class="pane-form-Key">[{{: balayageName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>
    {{> ~loc('_ label.global.content')}}{{colon /}} {{: balayageName}}/{{: contentPath}}
</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc('_ label.global.confirmationcheck_remove')}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}
