<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="json" value="balayage">
<input type="hidden" name="cmd" value="BalayageContentCreation">
<input type="hidden" name="balayage" value="{{: balayageName}}">
<p>
    {{> ~loc('_ label.global.balayage')}}{{colon /}} <span class="pane-form-Key">[{{: balayageName}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>{{> ~loc('_ label.balayage.subdir')}}{{colon /}}
    <select name="subdir">
        <option value="">---</option>
        <option value="extraction">extraction</option>
        <option value="xslt" selected>xslt</option>
    </select>
</p>
<p>{{> ~loc('_ label.balayage.newcontentname')}}{{colon /}} <input type="text" name="newcontent" value="" size="30"></p>

{{include tmpl="pane:commandkey_overlay"/}}