{{if commandMessage}}
    {{include commandMessage tmpl="bdf:commandmessage" /}}
{{/if}}
{{if balayageLog}}
<code>
    {{for balayageLog.itemArray}}
    {{if error}}
        {{if #getIndex() > 0}}<br>{{/if}}
        [! {{: type}}/{{: error.type}}]{{if error.value}} - {{> error.value}}{{/if}}{{if error.message}} - {{> error.message}}{{/if}}
        {{if unit}}
            <br>unit {{: unit.number}} ({{: unit.path}}){{if output}} / output {{: output}}{{/if}}
        {{/if}}
        {{if postscriptum}}
            <br>postscriptum {{: postscriptum.type}}/{{: postscriptum.name}}
        {{/if}}
    {{else type=="balayage-unit-start"}}
        {{if #getIndex() > 0}}<br>{{/if}}+------- unit {{: unit.number}} ({{: unit.path}})
    {{else type=="balayage-unit-end"}}
        ({{: duration}}s)
    {{else type=="postscriptum-log"}}
        <br>+------- postscriptum {{: postscriptum.type}}/{{: postscriptum.name}}
    {{else type=="file-generation"}}
        {{: step}}: {{: path}} ({{: duration}}s)
    {{else type=="end"}}
        <br>===== ({{: duration}}s) 
    {{/if}}
    <br>
    {{/for}}
</code>
<p>
    <a href="output/log/balayage_{{: balayageLog.balayageName}}.txt" target="_blank">{{> ~loc('_ link.exportation.balayagelog')}}</a>
</p>
{{/if}}
