<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: selectionDefName}}" data-timer-type="form">
<input type="hidden" name="cmd" value="SelectionDefChange">
<input type="hidden" name="json" value="selectiondef">
<input type="hidden" name="selection" value="{{: selectionDefName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title"><span class="pane-form-Key">[{{: selectionDefName}}]</span> <span data-role="metadata-title">{{> title}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.selection.selectiondefchange')}}</span>
        </button>
        <button id="{{: formId}}_button_test" type="button" class="global-button-Standard action-Test" data-state-enable="!change-current" data-role="testbutton" data-shortcut-tooltip="F1">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.test')}}</span>
            </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Selection"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ label.exportation.queryxml')}}</span></summary>
        <div class="unit-Body">
            <textarea type="text" cols="70" rows="8" name="query_xml" id="{{: formId}}_queryxml">{{> queryXml}}</textarea>
            <br>
            <button id="{{: formId}}_button_queryparser" class="global-button-Standard action-FqlEditor" type="button">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.selection.fqleditor')}}</span>
            </button>
        </div>
    </details>
    
    {{include tmpl="pane:details_attributes"/}}

    {{include tmpl="pane:commandkey_form"/}}
</div>
</form>
