<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: path}}" data-content-path="{{: path}}">
    <input type="hidden" name="cmd" value="StreamTextChange">
    <input type="hidden" name="jsontype" value="json">
    <input type="hidden" name="path" value="{{: path}}">
    <div class="pane-form-Head pane-HiddenInStock">
        <h1 class="pane-form-Title" data-stock-role="title">{{: path}}</h1>
        <div class="pane-form-Toolbar">
            <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.save')}}</span>
            </button>
            <button id="{{: formId}}_button_delete" type="button" class="global-button-Standard action-Delete"
                    {{if deleteEnable}}data-state-enable="!change-current"{{else}}disabled="disabled"{{/if}}>
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc(deleteKey)}}</span>
            </button>
            <span class="global-Glue"></span>
            <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
            </button>
        </div>
    </div>
    <div class="pane-form-UniqueTextBody">
        <textarea cols="50" rows="3" id="{{: formId}}_content" name="content" class="pane-form-TextArea">{{> content}}</textarea>
    </div>
</form>
