{{if custom.all}}
<em>{{> ~loc('_ label.selection.corpus_all')}}</em>
{{else}}
{{if corpusCondition.isExclude}}<em>{{> ~loc('_ label.selection.corpus_exclude')}}{{colon/}}</em>{{/if}}
<ul id="{{: custom.jsId}}_corpuslist" class="{{if custom.all}}hidden{{/if}}">
{{for custom.corpusArray tmpl="fqleditor:subset-li"/}}
</ul>
{{/if}}
