<div class="grid-Table">
    <div class="grid-Row">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.corpus')}}
            <button id="{{: custom.jsId}}_button_corpusedit" class="global-button-Transparent action-Edit" type="button" title="{{> ~loc('_ link.fqleditor.addcorpus')}}">
                <span class="global-button-Icon"></span>
            </button>
        </span>
        <span class="grid-ColonCell">{{colon/}}</span>
        <div class="grid-InputCell" id="{{: custom.jsId}}_corpuscondition">
            {{include tmpl="fqleditor:corpuscondition"/}}
        </div>
    </div>
    {{for custom.editEntries ~custom=custom}}
    <p id="{{: ~custom.jsId}}_entryrow_{{: name}}" class="grid-Row {{if hidden}}hidden{{/if}}">
        <span class="grid-LabelCell">{{> ~loc(titleKey)}}
            <button id="{{: ~custom.jsId}}_button_entryedit_{{: name}}" class="global-button-Transparent action-Edit" type="button" title="{{> ~loc('_ link.global.change')}}{{colon /}} {{> ~loc(titleKey)}}">
                <span class="global-button-Icon"></span>
            </button>
        </span>
        <span class="grid-ColonCell">{{colon/}}</span>
        <span class="grid-InputCell" id="{{: ~custom.jsId}}_entryvalue_{{: name}}">{{> value}}</span>
    </p>
    {{/for}}
    <div class="grid-Row {{if !custom.withMotcle}}hidden{{/if}}" id="{{: custom.jsId}}_motclearea">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.motcle')}}
        </span>
        <span class="grid-ColonCell">{{colon/}}</span>
        <div class="grid-InputCell fqleditor-Subquery" id="{{: custom.jsId}}_motclequerylist">
        {{if custom.withMotcle}}
            {{for motcleCondition.motcleQueryArray}}
                {{include tmpl="fqleditor:motclequery-unit" /}}
            {{/for}}
        {{/if}}
        </div>
        <div class="grid-InputCell {{if custom.motcleLength < 2}}hidden{{/if}}" id="{{: custom.jsId}}_motcleoperator">
            {{> ~loc('_ label.selection.motclelogicaloperator')}}
            <button id="{{: custom.jsId}}_button_motcleoperatoredit" class="global-button-Transparent action-Edit" type="button" title="{{> ~loc('_ link.global.change')}}">
                <span class="global-button-Icon"></span>
            </button>
            {{colon /}}
            <span id="{{: custom.jsId}}_motcleoperatortitle">{{> custom.motcleOperator.title}}</span>
        </div>
    </div>
    <div class="grid-Row {{if !custom.withFiche}}hidden{{/if}}" id="{{: custom.jsId}}_fichearea">
        <span class="grid-LabelCell">{{> ~loc('_ label.global.fiche')}}
        </span>
        <span class="grid-ColonCell">{{colon/}}</span>
        <div class="grid-InputCell fqleditor-Subquery" id="{{: custom.jsId}}_fichequerylist">
        {{if custom.withFiche}}
            {{for ficheCondition.ficheQueryArray}}
                {{include tmpl="fqleditor:fichequery-unit" /}}
            {{/for}}
        {{/if}}
        </div>
        <div class="grid-InputCell {{if custom.ficheLength < 2}}hidden{{/if}}" id="{{: custom.jsId}}_ficheoperator">
            {{> ~loc('_ label.selection.fichelogicaloperator')}}
            <button id="{{: custom.jsId}}_button_ficheoperatoredit" class="global-button-Transparent action-Edit" type="button" title="{{> ~loc('_ link.global.change')}}">
                <span class="global-button-Icon"></span>
            </button>
            {{colon /}}
            <span id="{{: custom.jsId}}_ficheoperatortitle">{{> custom.ficheOperator.title}}</span>
        </div>
    </div>
</div>

