<h2>{{> ~loc('_ title.fqleditor.queries_fiche')}}
<button id="{{: editorId}}_button_addquery_fiche" class="global-button-Standard action-New" type="button" title="{{> ~loc('_ link.fqleditor.addfichequery')}}">
    <span class="global-button-Icon"></span>
</button>
</h2>
<div id="{{: editorId}}_area_list_fiche">
{{for model.ficheQueryArray tmpl="fqleditor:fichequery-unit"/}}
</div>

<h2>{{> ~loc('_ title.fqleditor.queries_motcle')}}
<button id="{{: editorId}}_button_addquery_motcle" class="global-button-Standard action-New" type="button" title="{{> ~loc('_ link.fqleditor.addmotclequery')}}">
    <span class="global-button-Icon"></span>
</button>
</h2>
<div id="{{: editorId}}_area_list_motcle">
{{for model.motcleQueryArray tmpl="fqleditor:motclequery-unit"/}}
</div>
