<details class="unit-Unit fqleditor-Unit" open data-query="motcle">
    <summary class="fqleditor-Summary family-THS family-Colors action-Thesaurus">
        <span class="global-button-Icon"></span>
        <span class="fqleditor-SummaryTitle">
            <span class="">&lt;motcle-query&gt;</span> {{: custom.queryNumber}}
        </span>
    </summary>
    <div class="fqleditor-AvailableEntries">
        <label class="global-button-Text" for="{{{: custom.jsId}}_available_entries">
            {{> ~loc('_ link.fqleditor.addentry')}}{{colon /}}
        </label>
        <select id="{{: custom.jsId}}_available_entries">
            {{for custom.editEntries ~custom=custom}}
                <option value="{{: name}}" id="{{: ~custom.jsId}}_newcondition_{{: name}}" {{if newdisabled}}disabled{{/if}}>{{> ~loc(titleKey)}}</option>
            {{/for}}
                <option value="fiche">{{> ~loc('_ label.global.fiche')}}</option>
        </select>
        <button id="{{: custom.jsId}}_button_addentry" class="global-button-Link action-New" type="button">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    <div class="unit-Body">
        {{include tmpl="fqleditor:motclequery-editentries" /}}
    </div>
</details>
