<li>
    {{if node === "unknown"}}
        <del>{{> name}}</del>
    {{else}}
        {{if title}}
        [{{:name}}] = {{> title}} 
        {{else}}
        [{{:name}}]
        {{/if}}
    {{/if}}
</li>
