{{if custom.all}}
<em>{{> ~loc('_ label.selection.thesaurus_all')}}</em>
{{else}}
{{if thesaurusCondition.isExclude}}<em>{{> ~loc('_ label.selection.thesaurus_exclude')}}{{colon/}}</em>{{/if}}
<ul id="{{: custom.jsId}}_corpuslist" class="{{if custom.all}}hidden{{/if}}">
{{for custom.thesaurusArray tmpl="fqleditor:subset-li"/}}
</ul>
{{/if}}
