{{if type === "subset"}}
<label class="fqleditor-subsets-Label"><input type="checkbox" value="{{: value}}" name="thesaurus" {{if checked}}checked{{/if}}>{{> label}}</label>
{{else type === "group"}}
<span class="fqleditor-subsets-GroupTitle">{{> label}}</span>
<div class="fqleditor-subsets-GroupDiv">
{{for array tmpl="fqleditor:thesaurus-checkbox"/}}
</div>
{{/if}}

