<div id="{{: sectionId}}_areatoolbar" class="ficheform-section-AreaToolbar">
    <button type="button" id="{{: sectionId}}_increase" class="global-button-Transparent action-section-AreaIncrease" title="{{> ~loc('_ link.edition.area_increase')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" id="{{: sectionId}}_decrease" class="global-button-Transparent action-section-AreaDecrease" title="{{> ~loc('_ link.edition.area_decrease')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" id="{{: sectionId}}_zoomedit" class="global-button-Transparent action-section-ZoomEdit" title="{{> ~loc('_ link.edition.zoomedit')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</div>