<div class="ficheform-section-Toolbar" id="{{: sectionId}}_codemirrortoolbar">
    <div id="{{: sectionId}}_ficheblockbuttons" class="ficheform-section-Buttons" data-role="ficheform-ficheblockbuttons">

    </div>
    <div class="ficheform-section-SyntaxSwitch">
        <input id="{{:sectionId}}_syntaxswitch" type="checkbox" {{if noTab}}tabindex="-1"{{/if}}>
        <label for="{{:sectionId}}_syntaxswitch" class="global-button-Text">{{> ~loc('_ link.edition.sectionsyntax')}}</label>
    </div>
</div>
