<button type="button" id="{{: genId}}_undo" class="global-button-Standard action-section-Undo" title="{{> ~loc('_ label.edition.tool_undo')}} (Crtl-Z)" data-enable-type="undo" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_redo" class="global-button-Standard action-section-Redo" title="{{> ~loc('_ label.edition.tool_redo')}} (Crtl-Y)" data-enable-type="redo" disabled>
    <span class="global-button-Icon"></span>
</button>
<span class="global-button-Space"></span>
<button type="button" id="{{: genId}}_bold" class="global-button-Standard action-section-Bold" title="{{> ~loc('_ label.edition.style_strg')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_italic" class="global-button-Standard action-section-Italic" title="{{> ~loc('_ label.edition.style_em')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_bolditalic" class="global-button-Standard action-section-BoldItalic" title="{{> ~loc('_ label.edition.style_emstrg')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_urlref" class="global-button-Standard action-section-UrlRef" title="{{> ~loc('_ label.edition.style_link')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_ficheref" class="global-button-Standard action-section-FicheRef" title="{{> ~loc('_ label.edition.style_fiche')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_stylechoice" class="global-button-Standard action-section-StyleChoice" title="{{> ~loc('_ label.edition.tool_stylechoice')}}" data-enable-type="selection" disabled>
    <span class="global-button-Icon"></span>
</button>
<span class="global-button-Space"></span>
<button type="button" id="{{: genId}}_heading1" class="global-button-Standard action-section-Heading1" title="{{> ~loc('_ label.edition.tool_heading_1')}}" data-enable-type="heading" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_heading2" class="global-button-Standard action-section-Heading2" title="{{> ~loc('_ label.edition.tool_heading_2')}}" data-enable-type="heading" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_heading3" class="global-button-Standard action-section-Heading3" title="{{> ~loc('_ label.edition.tool_heading_3')}}" data-enable-type="heading" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_ul" class="global-button-Standard action-section-Ul" title="{{> ~loc('_ label.edition.tool_ul')}}" data-enable-type="list" disabled>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_zonechoice" class="global-button-Standard action-section-ZoneChoice" title="{{> ~loc('_ label.edition.tool_zonechoice')}}" data-enable-type="blank" disabled>
    <span class="global-button-Icon"></span>
</button>
<span class="global-button-Space"></span>
<button type="button" id="{{: genId}}_footnote" class="global-button-Standard action-section-Footnote" title="{{> ~loc('_ label.edition.tool_footnote')}}" data-enable-type="text" disabled>
    <span class="global-button-Icon"></span>
</button>
<span class="global-button-Space"></span>
<button type="button" id="{{: genId}}_paste" class="global-button-Standard action-section-Paste" title="{{> ~loc('_ label.edition.tool_paste')}}" data-enable-type="blank" disabled>
    <span class="global-button-Icon"></span>
</button>
<span class="global-button-Space"></span>
{{if spellcheckAvailable}}
<button type="button" id="{{: genId}}_spellcheck" class="global-button-Standard {{if spellcheckActive}}global-button-On{{/if}} action-section-Spellcheck" title="{{> ~loc('_ label.edition.tool_spellcheck')}}" data-enable-type="always" data-state="{{if spellcheckActive}}on{{else}}off{{/if}}" disabled>
    <span class="global-button-Icon"></span>
</button>
{{else}}
<button type="button" class="global-button-Standard action-section-Spellcheck" title="{{> ~loc('_ label.edition.tool_spellcheck')}}" data-enable-type="never" disabled>
    <span class="global-button-Icon"></span>
</button>
{{/if}}
<span class="global-button-Space"></span>
<button type="button" id="{{: genId}}_preview" class="global-button-Standard action-section-Preview" title="{{> ~loc('_ label.edition.tool_preview')}} (F1)" data-enable-type="always">
    <span class="global-button-Icon"></span>
</button>
