<div class="selectform-NewMotcleCondition">
    <button id="{{: buttonId}}" class="global-button-Standard action-MotcleConditionAdd" type="button" title="{{> ~loc('_ link.selection.newmotclecondition_long') }}">
        <span class="global-button-Icon"></span>
        <span class="global-button-Text">{{> ~loc('_ link.selection.newmotclecondition_short') }}</span>
    </button> 
</div>
