<input type="hidden" name="cmd" value="AccessCreation">
<input type="hidden" name="json" value="access">
<p>
    {{> ~loc('_ label.exportation.newaccessname')}}{{colon /}}
    <input type="text" name="newaccess" value="" size="30">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
