<td rowspan="2" class="ficheform-Rowspan">
    <button type="button" id="{{: buttonId}}" class="global-button-Transparent global-button-Transparent32 action-ficheform-Geocodage" title="{{> ~loc('_ link.pioche.geocodage')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
 </td>  
