<div class="ficheform-Buttons">
    <button type="button" id="{{: buttonId}}" class="global-button-Transparent global-button-Transparent32 {{: action}}" title="{{> ~loc(locKey, locValue)}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</div>
