<li class="tree-Node">
{{if node === "group"}}
<details {{if !hidden}}open{{/if}}>
    <summary class="pane-form-SubsetGroup">{{> title}}</summary>
    <ul class="pane-form-SubsetBranch">
        {{for items tmpl="role:form-nodes_corpus"/}}
    </ul>
</details>
{{else node === "subset"}}
<div class="tree-Leaf">
<p >
    <input type="checkbox" name="permission" value="{{: subsetKey}}" id="{{: generatedId}}_input" data-deploy-role="checkbox" data-deploy-target="#{{: generatedId}}_details" {{if checked}}checked{{/if}}>
    <label for="{{: generatedId}}_input">
    {{if title}}{{> title}} <span class="subset-Key">[{{: subsetName}}]</span>{{else}}[{{: subsetName}}]{{/if}}
    </label>
</p>
<div id="{{: generatedId}}_details" class="{{if !checked}}hidden{{/if}}">
    <p class="role-Levels">
        <label class="role-permission-admin">
            <input type="radio" value="admin" name="{{: subsetKey}}|level" {{if currentLevel === "admin"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_admin')}}
        </label>
        &nbsp; 
         <label class="role-permission-custom">
            <input type="radio" value="custom" name="{{: subsetKey}}|level" 
                    data-deploy-role="radio" data-deploy-target="#{{: generatedId}}_custom"
                    {{if currentLevel === "custom"}}checked{{/if}}
                   >
            {{> ~loc('_ label.administration.permissionlevel_custom')}}
        </label>
         &nbsp; 
         <label class="role-permission-standard">
            <input type="radio" value="standard" name="{{: subsetKey}}|level" {{if currentLevel === "standard"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_standard')}}
        </label>
    {{if withNoneOption}}
        &nbsp; 
        <label class="role-permission-none">
            <input type="radio" value="none" name="{{: subsetKey}}|level" {{if currentLevel === "none"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_none')}}
        </label>
    {{/if}}
    </p>
    <table id="{{: generatedId}}_custom" class="role-subset-Table {{if currentLevel != "custom"}}hidden{{/if}}">
        <tr>
            <td>{{> ~loc('_ label.administration.fichepermission_create')}}</td>
            <td>{{> ~loc('_ label.administration.fichepermission_read')}}</td>
            <td>{{> ~loc('_ label.administration.fichepermission_write')}}</td>
        </tr>
        <tr>
            <td>            
                <label>
                    <input type="radio" value="1" name="{{: subsetKey}}|createfiche" {{if permission.create}}checked{{/if}}>
                    {{> ~loc('_ label.global.yes')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="0" name="{{: subsetKey}}|createfiche" {{if !permission.create}}checked{{/if}}>
                    {{> ~loc('_ label.global.no')}}
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" value="own" name="{{: subsetKey}}|readfiche" {{if permission.read === "own"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_own')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="sphere" name="{{: subsetKey}}|readfiche" {{if permission.read === "sphere"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_sphere')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="all" name="{{: subsetKey}}|readfiche" {{if permission.read === "all"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_all')}}
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" value="none" name="{{: subsetKey}}|writefiche" {{if permission.write === "none"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_none')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="own" name="{{: subsetKey}}|writefiche" {{if permission.write === "own"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_own')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="sphere" name="{{: subsetKey}}|writefiche" {{if permission.write === "sphere"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_sphere')}}
                </label>
                <br>
                <label>
                    <input type="radio" value="all" name="{{: subsetKey}}|writefiche" {{if permission.write === "all"}}checked{{/if}}>
                    {{> ~loc('_ label.administration.fichepermissiontype_all')}}
                </label>
            </td>
        </tr>
    </table>
</div>
</li>
{{/if}}
</li>   
        
        