<li class="tree-Node">
{{if node === "group"}}
<details {{if !hidden}}open{{/if}}>
    <summary class="pane-form-SubsetGroup">{{> title}}</summary>
    <ul class="pane-form-SubsetBranch">
        {{for items tmpl="role:form-nodes"/}}
    </ul>
</details>
{{else node === "subset"}}
<div class="tree-Leaf">
<p>
    <input type="checkbox" name="permission" value="{{: subsetKey}}" id="{{: generatedId}}_input" data-deploy-role="checkbox" data-deploy-target="#{{: generatedId}}_details" {{if checked}}checked{{/if}}>
    <label for="{{: generatedId}}_input">
        {{if title}}{{> title}} <span class="subset-Key">[{{: subsetName}}]</span>{{else}}[{{: subsetName}}]{{/if}}
    </label>
</p>
<div id="{{: generatedId}}_details" class="{{if !checked}}hidden{{/if}}">
    <p class="role-Levels">
        <label class="role-permission-admin">
            <input type="radio" value="admin" name="{{: subsetKey}}|level" {{if currentLevel === "admin"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_admin')}}
        </label>
         &nbsp; 
         <label class="role-permission-standard">
            <input type="radio" value="standard" name="{{: subsetKey}}|level" {{if currentLevel === "standard"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_standard')}}
        </label>
    {{if withNoneOption}}
        &nbsp; 
        <label class="role-permission-none">
            <input type="radio" value="none" name="{{: subsetKey}}|level" {{if currentLevel === "none"}}checked{{/if}}>
            {{> ~loc('_ label.administration.permissionlevel_none')}}
        </label>
    {{/if}}
    </p>
</div>
</div>
{{/if}}
</li>