<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: roleName}}" data-role-name="{{: roleName}}" data-timer-type="form">
<input type="hidden" name="cmd" value="RoleChange">
<input type="hidden" name="json" value="role">
<input type="hidden" name="role" value="{{: roleName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title">
        {{if roleName === "_default"}}
            <em>{{> ~loc('_ label.global.role_default')}}</em>
        {{else}}
            <span class="pane-form-Key">[{{: roleName}}]</span> <span data-role="metadata-title">{{> title}}</span>
        {{/if}}
    </h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.administration.rolechange')}}</span>
        </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" {{if !corpusHidden}}open{{/if}}>
        <summary class="pane-form-Summary family-CRP family-Colors"><span class="subset-Icon subset-Icon_corpus"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.administration.corpuspermission')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for corpusTree tmpl="role:form-nodes_corpus"/}}
            </ul>
        </div>
    </details>
    <details class="unit-Unit pane-form-Unit" {{if !thesaurusHidden}}open{{/if}}>
        <summary class="pane-form-Summary family-THS family-Colors"><span class="subset-Icon subset-Icon_thesaurus"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.administration.thesauruspermission')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for thesaurusTree tmpl="role:form-nodes"/}}
            </ul>
        </div>
    </details>

    <details class="unit-Unit pane-form-Unit" {{if !sphereHidden}}open{{/if}}>
        <summary class="pane-form-Summary family-SPH family-Colors"><span class="subset-Icon subset-Icon_sphere"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.administration.spherepermission')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for sphereTree tmpl="role:form-nodes"/}}
            </ul>
        </div>
    </details>
    
    <details class="unit-Unit pane-form-Unit" {{if !albumHidden}}open{{/if}}>
        <summary class="pane-form-Summary family-ALB family-Colors"><span class="subset-Icon subset-Icon_album"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.administration.albumpermission')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for albumTree tmpl="role:form-nodes"/}}
            </ul>
        </div>
    </details>

    <details class="unit-Unit pane-form-Unit" {{if !addendaHidden}}open{{/if}}>
        <summary class="pane-form-Summary family-ADD family-Colors"><span class="subset-Icon subset-Icon_addenda"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.administration.addendapermission')}}</span></summary>
        <div class="unit-Body">
            <ul class="pane-form-SubsetTree tree-Top">
                {{for addendaTree tmpl="role:form-nodes"/}}
            </ul>
        </div>
    </details>
    
    {{include tmpl="pane:details_attributes"/}}
    
    {{include tmpl="pane:commandkey_form"/}}
</div>
</form>