/*************
  CSS minimal
 *************/

.tablesorter-minimal .tablesorter-header {
    padding-right: 1.6em;
    white-space: normal;
    cursor: pointer;
    position: relative;
}
.tablesorter-minimal .tablesorter-header::before {
    content: "◇";
    position: absolute;
    top: 50%;
    right: 0.3em;
    transform: translate(0,-50%);
    font-weight: normal;
    font-style: normal;
    opacity: 0.5;
}

.tablesorter-minimal .tablesorter-headerAsc::before {
	content: "⬙";
    opacity: 1;
}

.tablesorter-minimal .tablesorter-headerDesc::before {
	content: "⬘";
    opacity: 1;
}

.tablesorter-minimal .tablesorter-header.sorter-false {
	cursor: default;
}

.tablesorter-minimal .tablesorter-header.sorter-false::before {
	content: "";
}