<p>{{> ~loc('_ label.transformation.contentpath')}}{{colon /}} <code><a href="transformations/{{: templateKey}}/{{: path}}">{{: templateKey}}/{{: path}}</a></code></p>

<iframe class="transformation-UpdateIframe" src="exportation?page=transformation-binaryupdate&amp;template={{: templateKey}}&amp;path={{: path}}"></iframe>

{{include tmpl="pane:commandkey_overlay"/}}
