<input type="hidden" name="cmd" value="TemplateContentRemove">
<input type="hidden" name="template" value="{{: templateKey}}">
<input type="hidden" name="path" value="{{: path}}">
<input type="hidden" name="json" value="transformation-templatedescription">
<p>
    {{> ~loc('_ label.transformation.template')}}{{colon /}} <span class="pane-form-Key">[{{: templateKey}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>{{> ~loc('_ label.transformation.templatecontent')}}{{colon /}} {{: completeName}}/{{: path}}</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc('_ label.global.confirmationcheck_remove')}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}