<input type="hidden" name="cmd" value="TemplateConvertToOdt">
<input type="hidden" name="template" value="{{: templateKey}}">
<input type="hidden" name="json" value="transformation-templatedescription">

<p>
    {{> ~loc('_ label.transformation.template')}}{{colon /}} <span class="pane-form-Key">[{{: templateKey}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>{{> ~loc('_ info.transformation.converttoodt_1', destinationKey)}}</p>

<p>{{> ~loc('_ info.transformation.converttoodt_2')}}</p>

{{include tmpl="pane:commandkey_overlay"/}}
