<input type="hidden" name="cmd" value="TemplateDuplicate">
<input type="hidden" name="template" value="{{: templateKey}}">
<input type="hidden" name="json" value="transformation-templatedescription">
<p>
    {{> ~loc('_ label.transformation.template')}}{{colon /}} <span class="pane-form-Key">[{{: templateKey}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>{{> ~loc('_ label.transformation.newtemplate')}}{{colon /}} <input type="text" name="newtemplate" value="" size="30"></p>

{{if corpusOptions}}
<p>{{> ~loc('_ label.corpus.destinationcorpus')}}{{colon /}}<select name="destinationcorpus">{{for corpusOptions.array tmpl="bdf:selectoption"/}}</select>
{{/if}}

{{include tmpl="pane:commandkey_overlay"/}}

