<input type="hidden" name="cmd" value="TemplateCreation">
<input type="hidden" name="json" value="transformation-templatedescription">
<input type="hidden" name="transformation" value="{{: transformationKey}}">
<p>{{> ~loc('_ label.transformation.newtemplate')}}{{colon /}} <input type="text" name="newtemplate" value="" size="30"></p>
<p>{{> ~loc('_ label.transformation.in')}}{{colon /}}<span class="transformation-TitleBlock">{{: title}}</span></p>
<p>{{> ~loc('_ label.transformation.type')}}{{colon /}}
    <select name="type" id="{{: formId}}_typeselect">
        <option value="html_xslt" selected>HTML</option>
    {{if withFragment}}
        <option value="fragment_xslt">{{> ~loc('_ label.transformation.fragment')}}</option>
    {{/if}}
    {{if withOdt}}
        <option value="odt_xslt">ODT</option>
    {{/if}}
    {{if withPropertiesOdt}}
        <option value="odt_properties">{{> ~loc('_ label.transformation.odt_properties')}}</option>
    {{/if}}
    </select>
</p>
{{if corpusOptions}}
<p>{{> ~loc('_ label.transformation.corpuslist')}}{{colon /}}<select class="transformation-CorpusList" size="7" name="corpuslist" multiple="multiple">{{for corpusOptions.array tmpl="bdf:selectoption"/}}</select>
{{/if}}
<div id="{{: formId}}_options_xslt">
{{if withExtraction}}
<p class="command-FlexInput command-Smaller"><input type="checkbox" value="1" name="noemptycomponents" checked id="{{: formId}}_noemptycomponents"><label for="{{: formId}}_noemptycomponents">{{> ~loc('_ label.transformation.noemptycomponents')}}</label></p>
<p class="command-FlexInput command-Smaller"><input type="checkbox" value="1" name="withextraction" checked id="{{: formId}}_extraction"><label for="{{: formId}}_extraction">{{> ~loc('_ label.transformation.withextraction')}}</label></p>
<p class="command-FlexInput command-Smaller"><input type="checkbox" value="1" name="compactstyle" id="{{: formId}}_compactstyle"><label for="{{: formId}}_compactstyle">{{> ~loc('_ label.transformation.compactstyle')}}</label></p>
{{/if}}
</div>
{{if withPropertiesOdt}}
<div class="hidden" id="{{: formId}}_options_properties">
<p>{{> ~loc('_ label.global.tableexport')}}{{colon /}}
<select name="tableexportname">
        <option value="">
                   ---
        </option>
{{for tableExportArray}}
        <option value="{{: name}}">
            [{{: name}}]{{if title}} {{> title}}{{/if}}
        </option>
{{/for}}
    </select>
{{/if}}
</div>
{{include tmpl="pane:commandkey_overlay"/}}