<section class="unit-Unit">
    <header class="unit-Header">
        <h1 class="unit-Title action-History"><span class="global-button-Icon"></span><span class="unit-TitleSpan">{{> ~loc('_ link.corpus.removedlist')}}</span></h1>
    </header>
    <div class="unit-Body" id="{{: removedListId}}">
        <p>{{include tmpl="bdf:running"/}}</p>
    </div>
</section>
