<table class="restore-Table">
    <tr>
    <th>{{> ~loc('_ label.selection.id')}}</th>
    <th>{{> ~loc('_ label.history.revisionuser')}}</th>
    <th>{{> ~loc('_ label.history.revisionday')}}</th>
    <th>{{> ~loc('_ label.history.revisiontime')}}</th>
    <th>{{> ~loc('_ label.history.revisionsource')}}</th>
    </tr>
{{for array ~userMap=userMap}}
    <tr data-id="{{: id}}">
        <td>{{: id}}</td>
        <td>{{if lastEdit.user}}
                {{for ~userMap[lastEdit.user]}}
                    {{: login}}[{{: sphere}}] – {{> fullname}}
                {{else}}
                    {{: lastEdit.user}}
                {{/for}}
            {{/if}}
        </td>
        <td>{{localDate: lastEdit.time}}</td>
        <td>{{localTime: lastEdit.time}}</td>
        <td>{{: lastEdit.source}}</td>
        <td><input type="text" data-role="thesaurus" data-id="{{: id}}"><button data-action="croisement" data-id="{{: id}}">Croisement</button></td>
        <td><a href="misc?page=history&corpus={{: corpus}}&id={{: id}}" class="global-button-Standard action-History" target="_blank"><span class="global-button-Icon"></span><span class="global-button-Text">{{> ~loc('_ link.misc.history')}}</span></a></td>
    </tr>
{{/for}}
</table>
<div id="croisement">
    
</div>