<input type="hidden" name="cmd" value="ResourceCreation">
<input type="hidden" name="jsontype" value="json">
<p>
    {{> ~loc('_ label.resource.newpath')}}{{colon /}} <input type="text" name="newpath" value="{{: currentPath}}" size="50">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
