<input type="hidden" name="cmd" value="NewApp">
<input type="hidden" name="jsontype" value="json">
<p>{{> ~loc('_ info.resource.newapp')}}</p>
<p>
    {{> ~loc('_ label.resource.newappname')}}{{colon /}} <input type="text" name="newappname" value="" size="25">
</p>
<p>
    {{> ~loc('_ label.resource.starter')}}{{colon /}}
    <select name="starter">
        <option value="minimal" selected>{{> ~loc('_ label.resource.starter_minimal')}} [minimal]</option>
        <option value="dashboard">{{> ~loc('_ label.resource.starter_dashboard')}} [dashboard]</option>
    </starter>
</p>
{{include tmpl="pane:commandkey_overlay"/}}
