<input type="hidden" name="cmd" value="ResourceRemove">
<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="path" value="{{: path}}">
<p>
    {{> ~loc('_ label.resource.resourcepath')}}{{colon /}} <span class="cm-link">{{: path}}</span>
</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc(confirmKey)}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}