<p>{{> ~loc('_ label.resource.resourcepath')}}{{colon /}}
{{if isImage}}
    <code>{{: path}}</code>
    <br><span id="{{: displayId}}_imagespan"><img src="{{: path}}" alt="{{: path}}"></span>
{{else}}
    <code><a href="{{: path}}" target="_blank">{{: path}}</a></code>
{{/if}}
</p>
<p>
    <button id="{{: displayId}}_button_remove" {{if disabled}}disabled="disabled"{{/if}}>{{> ~loc(removeLocKey)}}</button>
</p>
<iframe id={{: displayId}}_iframe" class="resource-IFrame" src="administration?page=resource-upload&amp;path={{: path}}"></iframe>

{{include tmpl="pane:commandkey_overlay"/}}
