<details data-role="entry" data-name="{{: name}}" class="pane-list-Entry balayage-state-{{: state}}">
    <summary class="pane-list-EntryHeader" data-role="entry-header">
        <span class="pane-list-SummaryTools">
            <span class="pane-list-EntryTitle">
                <span class="pane-list-Label" data-role="entry-title">{{> title}}</span>
                <span class="pane-list-Key">[{{: name}}]</span>
            </span>
        </span>
    </summary>
    <div class="pane-list-EntryBody">
        <div class="pane-list-EntryToolbar">
            <button data-action="metadata" type="button" class="global-button-Transparent action-Metadata" title="{{> ~loc('_ link.global.change')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="run" type="button" class="global-button-Transparent action-Run balayage-HiddenIfDisabled" title="{{> ~loc('_ link.exportation.balayagerun')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="balayageremove" type="button" class="global-button-Transparent action-Delete" title="{{> ~loc('_ link.global.delete')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="newcontent" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.exportation.newcontent')}}">
                <span class="global-button-Icon"></span>
            </button>
        </div>
        <ul class="balayage-CoreTree tree-Top" data-role="content-list" data-subdir-name="_core">
            {{for _core.array tmpl="balayage:list/content"/}}
        </ul>
        <ul class="balayage-SubdirTree tree-Top">
            <li class="tree-Node">
                <details data-role="subdir-block" data-subdir-name="extraction" open>
                    <summary class="balayage-SubdirTitle">
                        <span data-role="subdir-name" class="balayage-SubdirName balayage-state-{{: extraction.state}} {{if extraction.array.length == 0}}balayage-Empty{{/if}}">extraction</span>
                    </summary>
                    <ul class="balayage-SubdirBranch" data-role="content-list" data-subdir-name="extraction">
                        {{for extraction.array tmpl="balayage:list/content"/}}
                    </ul>
                </details>
            </li>
            <li data-role="subdir-li" class="tree-Node">
                <details data-role="subdir-block" data-subdir-name="xslt" open>
                    <summary class="balayage-SubdirTitle">
                        <span data-role="subdir-name" class="balayage-SubdirName balayage-state-{{: xslt.state}} {{if xslt.array.length == 0}}balayage-Empty{{/if}}">xslt</span>
                    </summary>
                    <ul class="balayage-SubdirBranch" data-role="content-list" data-subdir-name="xslt">
                        {{for xslt.array tmpl="balayage:list/content"/}}
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</details>
