<li data-role="content-reference" data-content-key="{{: balayageName}}/{{: path}}" data-balayage-name="{{: balayageName}}" data-content-path="{{: path}}" data-content-name="{{: name}}"  class="tree-Node balayage-contentstate-{{: state}}">
    <div class="tree-Leaf">
    <div data-role="content-title" class="pane-list-ContentTitle">
       <a data-action="load-main" href="balayagecontents/{{: balayageName}}/{{: path}}" class="pane-list-ContentLink" title="{{> ~loc('_ link.global.change')}}">
        {{: name}}
        </a>
        <button data-action="load-stock" type="button" class="global-button-Transparent action-stock-Add" title="{{> ~loc('_ link.stock.add')}}" data-state-enable="!loaded">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    {{include tmpl="bdf:messagebylinearray"/}}
    </div>
</li>
