<details class="multi-personmanager-Details">
<summary>{{> ~loc('_ title.multi.personaddform')}}</summary>
<div>
<form id="{{: managerId}}_addform" method="POST" action="multi-admin">
    <input type="hidden" name="cmd" value="PersonAdd">
    <input type="hidden" name="json" value="person">
    <input type="hidden" name="sphere" value="{{: person.sphereName}}">
    <input type="hidden" name="login" value="{{: person.login}}">
    <div class="grid-Table">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.multi.target')}}</span><span class="grid-ColonCell">{{colon /}}</span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            <span class="grid-choice-InputCell">
                <input type="radio" value="all" id="{{: managerId}}_addform_target_all" name="target">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: managerId}}_addform_target_all">{{> ~loc('_ label.multi.target_all')}}</label>
            </span>
            <span class="grid-choice-InputCell">
                <input type="radio" value="selection" id="{{: managerId}}_addform_target_selection" name="target" data-deploy-role="radio" data-deploy-target="#{{: managerId}}_addform_selectionpanel" checked>
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: managerId}}_addform_target_selection">{{> ~loc('_ label.multi.target_selection')}}</label>
            </span>
            <div class="global-DetailPanel grid-choice-DetailCell" id="{{: managerId}}_addform_selectionpanel">
                <div class="grid-Table">
                {{for candidateArray}}
                    <div class="grid-Row">
                        <div class="grid-UniqueCell">
                            <span class="command-FlexInput">
                                <input type="checkbox" value="{{: name}}" id="{{: managerId}}_candidate_{{: name}}" name="fichotheques">
                                <label for="{{: managerId}}_candidate_{{: name}}"><span class="multi-fichotheque-Title">{{> title}}</span> <span class="multi-fichotheque-Name">[{{: name}}]</span></label>
                            </span>
                        </div>
                    </div>
                {{/for}}
                </div>
            </div>
        </div>
    </fieldset>
    </div>
    <p><label for="{{: managerId}}_addform_origin">{{> ~loc('_ label.multi.allorigin')}}</label>{{colon /}}
        <select id="{{: managerId}}_addform_origin" name="copyorigin">
        {{for person.statusArray}}
            <option value="{{: fichothequeName}}">{{if fichothequeTitle}}{{> fichothequeTitle}} {{/if}}[{{: fichothequeName}}]</option>
        {{/for}}
        </select>
    </p>

    <div id="{{: managerId}}_addform_donemessage" class="multi-personmanager-CommandMessage hidden">
        
    </div>
    
    <div class="command-Submit" id="{{: managerId}}_addform_submit">
        <button class="global-button-Standard action-Save" type="submit">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
        </button>
    </div>
</form>
</div>
</details>
