<details class="multi-personmanager-Details" open>
<summary>{{> ~loc('_ title.multi.personchangeform')}}</summary>
<div>
<form id="{{: managerId}}_changeform" method="POST" action="multi-admin">
    <input type="hidden" name="cmd" value="PersonChange">
    <input type="hidden" name="json" value="person">
    <input type="hidden" name="sphere" value="{{: person.sphereName}}">
    <input type="hidden" name="login" value="{{: person.login}}">
    <div class="grid-Table">
    <fieldset class="grid-Row grid-choice-Fieldset">
        <legend class="grid-choice-Legend grid-Ignore">
            <span class="grid-LabelCell">{{> ~loc('_ label.multi.target')}}</span><span class="grid-ColonCell">{{colon /}}</span>
        </legend>
        <div class="grid-choice-Content grid-Ignore">
            <span class="grid-choice-InputCell">
                <input type="radio" value="all" id="{{: managerId}}_changeform_target_all" name="target" checked>
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: managerId}}_changeform_target_all">{{> ~loc('_ label.multi.target_all')}}</label>
            </span>
            <span class="grid-choice-InputCell">
                <input type="radio" value="selection" id="{{: managerId}}_changeform_target_selection" name="target" data-deploy-role="radio" data-deploy-target="#{{: managerId}}_changeform_selectionpanel">
            </span>
            <span class="grid-choice-LabelCell">
                <label for="{{: managerId}}_changeform_target_selection">{{> ~loc('_ label.multi.target_selection')}}</label>
            </span>
            <div class="global-DetailPanel grid-choice-DetailCell hidden" id="{{: managerId}}_changeform_selectionpanel">
                <div class="grid-Table">
                {{for person.statusArray}}
                    <div class="grid-Row">
                        <div class="grid-UniqueCell">
                            <span class="command-FlexInput">
                                <input type="checkbox" value="{{: fichothequeName}}" id="{{: managerId}}_fichotheque_{{: fichothequeName}}" name="fichotheques">
                                <label for="{{: managerId}}_fichotheque_{{: fichothequeName}}"><span class="multi-fichotheque-Title">{{> fichothequeTitle}}</span> <span class="multi-fichotheque-Name">[{{: fichothequeName}}]</span></label>
                            </span>
                        </div>
                    </div>
                {{/for}}
                </div>
            </div>
        </div>
    </fieldset>
    </div>
    <p><label for="{{: managerId}}_changeform_type">{{> ~loc('_ label.multi.changetypeselect')}}</label>{{colon /}}
        <select name="type" id="{{: managerId}}_changeform_type">
            <option value="none" selected>--</option>
            <option value="name">{{> ~loc('_ label.sphere.surname')}}</option>
            <option value="email">{{> ~loc('_ label.sphere.email')}}</option>
            <option value="status">{{> ~loc('_ label.sphere.userstatus')}}</option>
            <option value="password">{{> ~loc('_ label.multi.newpassword')}}</option>
            <option value="copy_password">{{> ~loc('_ label.multi.copy_password')}}</option>
            <option value="copy_all">{{> ~loc('_ label.multi.copy_all')}}</option>
        </select>
    </p>
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="name">
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_surname" class="grid-LabelCell">{{> ~loc('_ label.sphere.surname')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <input type="text" value="" size="30" id="{{: managerId}}_changeform_surname" name="surname">
            </span>
        </p>
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_forename" class="grid-LabelCell">{{> ~loc('_ label.sphere.forename')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <input type="text" value="" size="30" id="{{: managerId}}_changeform_forename" name="forename">
            </span>
        </p>
        <p class="grid-Row">
            <span class="grid-InputCell">
                <span class="command-FlexInput command-Smaller">
                    <input type="checkbox" value="1" id="{{: managerId}}_changeform_surnamefirst" name="surnamefirst"><label for="{{: managerId}}_changeform_surnamefirst">{{> ~loc('_ label.sphere.surnamefirst')}}</label>
                </span>
            </span>
        </p>
    </fieldset>
    
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="email">
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_email" class="grid-LabelCell">{{> ~loc('_ label.sphere.email')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell"><input type="email" value="" size="30" id="{{: managerId}}_changeform_email" name="email"></span>
        </p>
    </fieldset>
    
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="status">
        <fieldset class="grid-Row grid-choice-Fieldset">
            <legend class="grid-choice-Legend grid-Ignore">
                <span class="grid-LabelCell">{{> ~loc('_ label.sphere.userstatus')}}</span><span class="grid-ColonCell">{{colon /}}</span>
            </legend>
            <div class="grid-choice-Content grid-Ignore">
                <span class="grid-choice-InputCell">
                    <input type="radio" value="admin" id="{{: managerId}}_changeform_status_admin" name="status">
                </span>
                <span class="grid-choice-LabelCell">
                    <label for="{{: managerId}}_changeform_status_admin"><span class="multi-user-LevelSpan  multi-user-Level_admin">A</span> {{> ~loc('_ label.multi.status_admin')}}</label>
                </span>
                <span class="grid-choice-InputCell">
                    <input type="radio" value="user" id="{{: managerId}}_changeform_status_user" name="status" checked>
                </span>
                <span class="grid-choice-LabelCell">
                    <label for="{{: managerId}}_changeform_status_user"><span class="multi-user-LevelSpan  multi-user-Level_user">B</span> {{> ~loc('_ label.multi.status_user')}}</label>
                </span>
                 <span class="grid-choice-InputCell">
                    <input type="radio" value="readonly" id="{{: managerId}}_changeform_status_readonly" name="status">
                </span>
                <span class="grid-choice-LabelCell">
                    <label for="{{: managerId}}_changeform_status_readonly"><span class="multi-user-LevelSpan  multi-user-Level_readonly">C</span> {{> ~loc('_ label.multi.status_readonly')}}</label>
                </span>
                <span class="grid-choice-InputCell">
                    <input type="radio" value="inactive" id="{{: managerId}}_changeform_status_inactive" name="status">
                </span>
                <span class="grid-choice-LabelCell">
                    <label for="{{: managerId}}_changeform_status_inactive"><span class="multi-user-LevelSpan  multi-user-Level_inactive">D</span> {{> ~loc('_ label.multi.status_inactive')}}</label>
                </span>
            </div>
        </fieldset>
    </fieldset>
    
    
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="password">
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_password1" class="grid-LabelCell">{{> ~loc('_ label.sphere.password_1')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <input type="password" size="20" id="{{: managerId}}_changeform_password1" name="password1">
            </span>
        </p>
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_password2" class="grid-LabelCell">{{> ~loc('_ label.sphere.password_2')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <input type="password" size="20" id="{{: managerId}}_changeform_password2" name="password2">
            </span>
        </p>
    </fieldset>
    
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="copy_password">
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_passwordorigin" class="grid-LabelCell">{{> ~loc('_ label.multi.passwordorigin')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <select id="{{: managerId}}_changeform_passwordorigin" name="copyorigin">
                {{for person.statusArray}}
                    <option value="{{: fichothequeName}}">{{: fichothequeName}} {{if fichothequeTitle}} – {{> fichothequeTitle}}{{/if}}</option>
                {{/for}}
                </select>
            </span>
        </p>
    </fieldset>
    
    <fieldset class="multi-personmanager-Fieldset grid-Table hidden" data-role="type" data-type="copy_all">
        <p class="grid-Row">
            <label for="{{: managerId}}_changeform_allorigin" class="grid-LabelCell">{{> ~loc('_ label.multi.allorigin')}}</label>
            <span class="grid-ColonCell">{{colon /}} </span>
            <span class="grid-InputCell">
                <select id="{{: managerId}}_changeform_allorigin" name="copyorigin">
                {{for person.statusArray}}
                    <option value="{{: fichothequeName}}">{{: fichothequeName}} {{if fichothequeTitle}} – {{> fichothequeTitle}}{{/if}}</option>
                {{/for}}
                </select>
            </span>
        </p>
    </fieldset>

    <div class="command-Submit hidden" id="{{: managerId}}_changeform_submit">
        <button class="global-button-Standard action-Save" type="submit">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.global.ok')}}</span>
        </button>
    </div>
</form>
</div>
</details>