<div class="pane-form-Container">
    <div class="multi-personmanager-Head">
        <form action="multi-admin" method="GET" id="{{: managerId}}_searchform">
            <input type="hidden" name="json" value="person">
        <div class="multi-personmanager-SearchInputs">    
            <span class="multi-personmanager-SearchInput">
                <label for="{{: managerId}}_searchform_sphere">{{> ~loc('_ label.session.sphere')}}</label>
                <span>{{colon /}} </span>
                <span>
                        <input name="sphere" type="text" value="" size="15" id="{{: managerId}}_searchform_sphere" pattern="[a-z][a-z0-9]*" required>
                </span>
            </span>
            <span class="multi-personmanager-SearchInput">
                <label for="{{: managerId}}_searchform_login" class="grid-LabelCell">{{> ~loc('_ label.session.login')}}</label>
                <span class="grid-ColonCell">{{colon /}} </span>
                <span class="grid-InputCell">
                        <input name="login" type="text" value="" size="15" id="{{: managerId}}_searchform_login" pattern="[a-zA-Z][a-zA-Z0-9]*" required>
                </span>
            </span>
            <button class="global-button-Standard action-Selection" type="submit">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ submit.multi.personsearch')}}</span>
            </button>
        </div>
        </form>
    </div>
    <div class="multi-personmanager-Body" id="{{: managerId}}_body">
        <div id="{{: managerId}}_person"></div>
        <div id="{{: managerId}}_changeformarea"></div>
        <div id="{{: managerId}}_addformarea"></div>
    </div>
</div>
