<h2><code></code>{{: person.login}}[{{: person.sphereName}}] – {{: person.completeName}}
{{if person.email}}({{> person.email}}){{/if}}
</h2>
<div id="{{: managerId}}_donemessage" class="multi-personmanager-CommandMessage hidden"></div>
<table class="multi-personmanager-Status">
    <tr>
        <th colspan="2">{{> ~loc('_ title.multi.column_fichotheque')}}</th>
        <th>{{> ~loc('_ title.multi.column_status')}}</th>
        <th>{{> ~loc('_ title.multi.column_name')}}</th>
        <th>{{> ~loc('_ title.multi.column_email')}}</th>
    </tr>
{{for person.statusArray ~commonName=person.completeName ~commonEmail=person.email}}
<tr>
    <td><a href="{{: fichothequeName}}/session" target="_blank" class="multi-fichotheque-Name">{{: fichothequeName}}</a></td>
    <td><span class="multi-fichotheque-Title">{{> fichothequeTitle}}</span></td>
    <td class="multi-user-Level multi-user-Level_{{: level}}">{{: _levelLetter}}</td>
    <td>
    {{if hasOwnProperty("specificName")}}
        {{> specificName}}
    {{else}}
        <span class="multi-user-Common">{{> ~commonName}}</span>
    {{/if}}
    </td>
    <td>
    {{if hasOwnProperty("specificEmail")}}
        {{> specificEmail}}
    {{else}}
        <span class="multi-user-Common">{{> ~commonEmail}}</span>
    {{/if}}
    </td>
</tr>
{{/for}}
</table>
