<input type="hidden" name="cmd" value="ScrutariExportCreation">
<input type="hidden" name="json" value="scrutariexport">
<p>{{> ~loc('_ label.exportation.newexportname')}}{{colon /}} <input type="text" name="newscrutariexport" value="" size="30">
</p>

{{include tmpl="pane:commandkey_overlay"/}}
