<input type="hidden" name="cmd" value="ScrutariExportRemove">
<input type="hidden" name="jsontype" value="json">
<input type="hidden" name="scrutariexport" value="{{: name}}">
<p>
    {{> ~loc('_ label.global.scrutariexport')}}{{colon /}} <span class="pane-form-Key">[{{: name}}]</span>{{if title}} {{> title}}{{/if}}
</p>
<p>
    <small><label><input type="checkbox" name="confirmationcheck" value="ok">{{> ~loc('_ label.global.confirmationcheck_remove')}}</label></small>
</p>

{{include tmpl="pane:commandkey_overlay"/}}
