<p>{{> ~loc('_ done.exportation.scrutariexportrun')}}</p>
<p>
    {{> ~loc('_ label.exportation.scrutarilink_info')}}{{colon /}}
    <br>{{: paths.info.path}}
    {{if paths.info.url}}
    <br><a href="{{: paths.info.url}}" target="blank">{{: paths.info.url}}</a>
    {{/if}}
</p>
<p>
    {{> ~loc('_ label.exportation.scrutarilink_data')}}{{colon /}}
    <br>{{: paths.data.path}}
    {{if paths.data.url}}
    <br><a href="{{: paths.data.url}}" target="blank">{{: paths.data.url}}</a>
    {{/if}}
</p>
