<li data-role="content-reference" data-content-key="{{: templateKey}}:{{: path}}" data-template-key="{{: templateKey}}" data-content-path="{{: path}}" class="tree-Node transformation-contentstate-{{: state}}">
    <div class="tree-Leaf">
    <p data-role="content-title" class="pane-list-ContentTitle">
    {{if type=="text"}}
        <a data-action="load-main" href="transformations/{{: templateKey}}/{{: path}}" class="pane-list-ContentLink">
        {{: path}}
        </a>
        <button data-action="load-stock" type="button" class="global-button-Transparent action-stock-Add" title="{{> ~loc('_ link.stock.add')}}" data-state-enable="!loaded">
            <span class="global-button-Icon"></span>
        </button>
    {{else type=="binary"}}
        <a data-action="binaryupdate" href="transformations/{{: templateKey}}/{{: path}}" class="pane-list-ContentLink">
        {{: path}}
        </a>
    {{/if}}
    </p>
    {{include tmpl="bdf:messagebylinearray"/}}
    </div>
</li>