<div data-role="extension" data-extension="{{: extension}}">
    <p class="transformation-ExtensionTitle">.{{: extension}}</p>
    <div data-role="extension-template-list" class="transformation-ExtensionBlock">
        {{: content}}
    </div>
</div>