<div data-role="extension" data-extension="{{: extension}}">
    <p class="transformation-ExtensionTitle">.{{: extension}}</p>
    <div data-role="extension-template-list" class="transformation-ExtensionBlock">
    {{for templateArray tmpl="transformation:list/template"/}}
    </div>
</div>