{{if node === "subset"}}
    {{include tmpl="transformation:list/transformation"/}}
{{else}}
<p class="transformation-GroupTitle">{{> title}}</p>
<div class="transformation-Group">
    {{for array tmpl="transformation:list/node"/}}
</div>
{{/if}}
