<div class="pane-list-Unit">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.transformation.specialkeys')}}</p>
    </div>
    <div id="listpane_body_specialkeys" class="pane-list-Body">
        <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
    </div>
</div>
<div class="pane-list-Unit">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.transformation.corpuskeys')}}</p>
    </div>
    <div id="listpane_body_corpuskeys" class="pane-list-Body">
        <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
    </div>
</div>
