<details data-role="template" data-template-key="{{: key}}" data-template-state="{{: state}}" class="transformation-TemplateBlock transformation-templatestate-{{: state}}">
    <summary class="transformation-TemplateTitle" data-role="template-header">
        <span class="pane-list-SummaryTools">
            <span class="pane-list-EntryTitle">
                <span class="pane-list-Label" data-role="template-title">{{> title}}</span>
                <span class="pane-list-Key">[{{: completeName}}]</span>
            </span>
        </span>
    </summary>
    <div class="pane-list-EntryBody">
        <div class="pane-list-EntryToolbar">
            <button data-action="metadata" type="button" class="global-button-Transparent action-Metadata" title="{{> ~loc('_ link.transformation.metadata')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="templateremove" type="button" class="global-button-Transparent action-Delete" title="{{> ~loc('_ link.transformation.remove')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="extractionreinit" type="button" class="global-button-Transparent action-Xml{{if !~withExtractionReinit(#data)}} hidden{{/if}}" title="{{> ~loc('_ link.transformation.extractionreinit')}}">
                <span class="global-button-Icon"></span>
            </button>
            <button data-action="templateduplicate" type="button" class="global-button-Transparent action-Duplicate" title="{{> ~loc('_ link.transformation.duplicate')}}">
                <span class="global-button-Icon"></span>
            </button>
            {{if withConvertToOdt}}<button data-action="templateconverttoodt" type="button" class="global-button-Transparent action-Odt" title="{{> ~loc('_ link.transformation.converttoodt')}}">
                <span class="global-button-Icon"></span>
            </button>{{/if}}
        </div>
        <div data-role="template-body">
            {{include tmpl="transformation:list/template_body"/}}
        </div>
    </div>
</details>