{{if (errorArray.length > 0) || (warningArray.length) > 0}}
    {{for errorArray}}
        <span class="global-ErrorMessage">{{include tmpl="transformation:list/commandmessage" /}}</span><br/>
    {{/for}}
    {{for warningArray}}
        <span class="global-WarningMessage">{{include tmpl="transformation:list/commandmessage" /}}</span><br/>
    {{/for}}
{{/if}}
<ul data-role="content-list" class="transformation-Tree tree-Top">
    {{for contentArray tmpl="transformation:list/content"/}}
</ul>
