<details data-role="transformation" class="pane-list-Entry" data-transformation-key="{{: transformationKey}}">
    <summary class="pane-list-EntryHeader" data-role="entry-header">
        <span class="pane-list-SummaryTools">
            <span class="pane-list-EntryTitle" data-role="transformation-title">
                    {{if specialLocKey}}
                    <span class="pane-list-Label">{{> ~loc(specialLocKey)}}</span>
                    <span class="pane-list-Key"><span class="cm-bracket">[</span><span class="cm-component-field">{{: transformationKey}}</span><span class="cm-bracket">]</span></span>
                    {{else}}
                    <span class="pane-list-Label">
                        {{if title}}{{> title}}{{else}}[{{: subsetName}}]{{/if}}
                    </span>
                    <span class="pane-list-Key"><span class="cm-bracket">[</span><span class="cm-component-subset">{{: subsetCategory}}</span><span class="cm-quote">_{{: subsetName}}</span><span class="cm-bracket">]</span></span>
                    {{/if}}
            </span>
            <span class="global-Glue"></span>
            <button data-action="newtemplate" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.transformation.newtemplate')}}">
                <span class="global-button-Icon"></span>
            </button>
        </span>
    </summary>
    <div class="pane-list-EntryBody" data-role="template-list-area">
        <div data-role="simple-template-list">
            {{for transformationDescription.simpleArray tmpl="transformation:list/template"/}}
        </div>
        {{for transformationDescription.extensionArray tmpl="transformation:list/extension"/}}
    </div>
</details>