<nav class="zoomedit-Toolbar">
    <div id="{{: zoomeditId}}_toolbar" class="zoomedit-buttons-Ficheblock" data-role="ficheform-ficheblockbuttons">
        
    </div>
    <div class="zoomedit-buttons-Window">
        <button id="{{: zoomeditId}}_save" class="global-button-Standard action-Save" data-shortcut-key="mod+s" data-shortcut-tooltip="MOD+S">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.close')}}</span>
        </button>
    </div>
</nav>
<main class="zoomedit-Body" id="{{: zoomeditId}}_body">
    <textarea autofocus cols="50" rows="3" id="{{: zoomeditId}}_section"></textarea>
</main>
