<div class="ficheform-illustration-AddButtons">
    <button type="button" id="{{: buttonId}}" class="global-button-Transparent global-button-Transparent32 action-illustration-Create" title="{{> ~loc('_ link.edition.illustration_create')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</div>