<div class="ficheform-illustration-Buttons">
    <button type="button" id="{{: illustrationDivId}}_change" class="global-button-Transparent action-illustration-Change" title="{{> ~loc('_ link.edition.illustration_change')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
    <button type="button" id="{{: illustrationDivId}}_remove" class="global-button-Transparent action-illustration-Remove" title="{{> ~loc('_ link.edition.illustration_remove')}}" {{if noTab}}tabindex="-1"{{/if}}>
        <span class="global-button-Icon"></span>
    </button>
</div>
