<span>
<button type="button" id="{{: genId}}_up" class="ficheform-SmallButton ficheform-UpHidden" {{if noTab}}tabindex="-1"{{/if}}>
    ▲
</button>
<button type="button" id="{{: genId}}_down" class="ficheform-SmallButton ficheform-DownHidden" {{if noTab}}tabindex="-1"{{/if}}>
    ▼
</button>
</span>


