<tr data-ficheform-role="fiche-row" data-ficheform-item-id="{{: itemId}}" class="ficheform-New">
    <td data-ficheform-role="fiche-row-actioncell"><input type="checkbox" name="{{: checkboxName}}" value="{{: checkboxValue}}" class="ficheform-fichetable-Checkbox" checked>
        <span data-ficheform-role="fiche-row-buttons" class="ficheform-fichetable-ButtonArea"></span>
    </td>
    <td class="ficheform-fichetable-Number">{{: itemId}}</td>
    {{for cellArray}}
    <td {{if format=="number"}}class="ficheform-fichetable-Number"{{/if}}>{{> value}}</td>
    {{/for}}
</tr>
