<div class="ficheform-Choice" data-ficheform-role="item-choice" data-ficheform-item-id="{{: itemId}}">
    <input type="checkbox" value="{{: checkboxValue}}" checked="checked" id="{{: checkboxId}}" name="{{: checkboxName}}" data-ficheform-role="item-checkbox">
    <label for="{{: checkboxId}}" class="ficheform-New"> {{if withPoids}}<span data-ficheform-role="poids"></span>{{/if}} {{if number}}{{> number}} – {{/if}}{{> title}}</label>
</div>
