<span class="ficheform-fichetable-ButtonLine">
<button type="button" id="{{: genId}}_up" class="global-button-Transparent action-stock-Up ficheform-UpInvisible" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_edit" class="global-button-Transparent action-FicheEdit" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
</span>
<span class="ficheform-fichetable-ButtonLine">
<button type="button" id="{{: genId}}_down" class="global-button-Transparent action-stock-Down ficheform-DownInvisible" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_remove" class="global-button-Transparent action-Discard" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: genId}}_add" class="global-button-Transparent action-Retrieve hidden" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
</span>