<span class="ficheform-search-Form action-Search ficheform-Medium">
    <label class="global-button-Icon" for="{{: searchInputId}}" title="{{> ~loc('_ label.edition.searchwithinexisting')}}"></label>
    <input class="ficheform-search-Input global-PlaceholderOnFocus" type="text" size="20" id="{{: searchInputId}}" placeholder="{{> ~loc('_ label.edition.searchwithinexisting')}}">
</span>
{{if withCreate}}
    <button type="button" id="{{: createButtonId}}" class="global-button-Transparent action-FicheCreate ficheform-search-LastButton" {{if noTab}}tabindex="-1"{{/if}} title="{{if createTitle}}{{> createTitle}}{{else}}{{> ~loc('_ link.edition.fichecreation')}}{{/if}}">
        <span class="global-button-Icon"></span>
    </button>
{{/if}}