<div class="ficheform-search-Popup" data-ficheform-role="search-popup">
<ul class="ficheform-search-List">
{{for array}}
<li {{if _selected}}class="ficheform-search-Selected"{{/if}} {{if !_here}}data-ficheform-role="candidate"{{/if}}>
    {{if _here}}
        <span class="ficheform-search-Here">{{> _title}}</span>
    {{else}}
    <a href="#" data-action="itemadd" data-id="{{: id}}" data-value="{{if idalpha}}{{: idalpha}}{{else}}{{> title}}{{/if}}">{{> _title}}</a>
    {{/if}}
</li>
{{/for}}
</div>

