<button type="button" id="{{: toolsId}}_sort_asc" class="global-button-Transparent action-SortNumber_Asc hidden" title="{{> ~loc('_ link.global.sort_asc')}}" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>
<button type="button" id="{{: toolsId}}_sort_desc" class="global-button-Transparent action-SortNumber_Desc hidden ficheform-search-LastButton" title="{{> ~loc('_ link.global.sort_desc')}}" {{if noTab}}tabindex="-1"{{/if}}>
    <span class="global-button-Icon"></span>
</button>