<div class="pane-list-Unit">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ link.administration.diagnostic')}}</p>
    </div>
    <div class="pane-list-Body">
        <div class="pane-list-Commands">
            <details class="tools-Details" open>
                <summary>{{> ~loc('_ title.diagnostic.urlscan')}}</summary>
                <div class="tools-List">
                    <button id="listpane_button_urlscan_selection" type="button" class="global-button-Link action-Selection">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.diagnostic.urlscan_selection')}}</span>
                    </button>
                    
                </div>
            </details>
        </div>
    </div>
</div>
