<div class="pane-list-Unit">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.multi.centralsphere', sphereName)}}</p>
    </div>
    <div class="pane-list-Body">
        <div class="multi-GlobalDetails">
            <details class="tools-Details" open>
                <summary>{{> ~loc('_ title.global.commands')}}</summary>
                <div class="tools-List">
                     <button id="listpane_button_metadata" type="button" class="global-button-Link action-Metadata">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.sphere.spheremetadataform')}}</span>
                    </button>
                    <button id="listpane_button_stats" type="button" class="global-button-Link action-Stats">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.global.stats')}}</span>
                    </button>
                    <button id="listpane_button_usercreation" type="button" class="global-button-Link action-New">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.sphere.usercreationform')}}</span>
                    </button>
                </div>
            </details>
        </div>
    </div>
</div>
<div class="pane-list-Unit hidden" id="listpane_unit_active">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.sphere.userlist_active')}} (<span id="listpane_count_active"></span>)</p>
    </div>
    <div class="pane-list-Body multi-PersonList_active">
        <div id="listpane_userlist_active" class="multi-sphere-List">
            
        </div>
    </div>
</div>
<div class="pane-list-Unit hidden" id="listpane_unit_readonly">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.sphere.userlist_readonly')}} (<span id="listpane_count_readonly"></span>)</p>
    </div>
    <div class="pane-list-Body multi-PersonList_readonly">
        <div id="listpane_userlist_readonly" class="multi-sphere-List">
            
        </div>
    </div>
</div>
<div class="pane-list-Unit hidden" id="listpane_unit_inactive">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.sphere.userlist_inactive')}} (<span id="listpane_count_inactive"></span>)</p>
    </div>
    <div class="pane-list-Body multi-PersonList_inactive">
        <div id="listpane_userlist_inactive" class="multi-sphere-List">
            
        </div>
    </div>
</div>

