<div data-name="{{: sphere}}/{{: login}}" data-role="entry" class="pane-list-Entry">
    <div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
        <span class="multi-user-Name">
            {{: login}} – <span data-role="entry-title" data-field="user_name" data-login="{{: login}}">{{> name}}</span>
        </span>
        <span class="global-Glue"></span>
        <button data-action="userstate" type="button" class="global-button-Transparent action-UserEdit" title="{{> ~loc('_ link.sphere.redacteuradminform')}}">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
