<p>{{> ~loc('_ info.importation.allcorrect')}}</p>
<input type='hidden' name='cmd' value='ImportationEngine'>
<input type='hidden' name='page' value='{{: page}}'>
<input type='hidden' name='type' value='{{: type}}'>
{{if tmpFile}}
<input type='hidden' name='tmpfile' value='{{: tmpFile}}'>
{{else}}
<input type='hidden' name='tmpdir' value='{{: tmpDir}}'>
{{/if}}
{{: subsetHtml}}