<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-role="content-reference" data-content-key="metadata" data-timer-type="form">
    <input type="hidden" name="cmd" value="CentralSphereMetadata">
    <input type="hidden" name="sphere" value="{{: sphereName}}">
    <input type="hidden" name="json" value="cenralspheremetadata">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title">{{> ~loc('_ link.sphere.spheremetadataform')}}</h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.multi.metadata')}}</span>
        </button>
        <span class="global-Glue"></span>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}

    {{include tmpl="pane:details_attributes"/}}

</div>
</form>

