/*******************************************************************************
* .action-
*******************************************************************************/

.action-Accesses .global-button-Icon {
    background-image: url("../icons/16x16/admin-accesses.png");
}

.action-Addenda .global-button-Icon {
    background-image: url("../icons/16x16/collection-addenda.png");
}

.action-AddendaAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-addenda.png");
}

.action-Admin .global-button-Icon {
    background-image: url("../icons/16x16/menu-administration.png");
}

.action-Advanced .global-button-Icon {
    background-image: url("../icons/16x16/action-advanced.png");
}

.action-Album .global-button-Icon {
    background-image: url("../icons/16x16/collection-album.png");
}

.action-AlbumAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-album.png");
}

.action-Attributes .global-button-Icon {
    background-image: url("../icons/16x16/action-attributes.png");
}

.action-Backup .global-button-Icon {
    background-image: url("../icons/16x16/admin-backup.png");
}

.action-Balayages .global-button-Icon {
    background-image: url("../icons/16x16/admin-balayages.png");
}

.action-Cancel .global-button-Icon {
    background-image: url("../icons/16x16/action-cancel.png");
}

.action-Close .global-button-Icon {
    background-image: url("../icons/16x16/action-close.png");
}

.action-Collections .global-button-Icon {
    background-image: url("../icons/16x16/menu-collections.png");
}

.action-Comment .global-button-Icon {
    background-image: url("../icons/16x16/corpus-comment.png");
}

.action-CommentAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-comment.png");
}

.action-ComponentAttributes .global-button-Icon {
    background-image: url("../icons/16x16/corpus-componentattributes.png");
}

.action-ComponentOptions .global-button-Icon {
    background-image: url("../icons/16x16/corpus-componentoptions.png");
}

.action-ComponentPosition .global-button-Icon {
    background-image: url("../icons/16x16/corpus-componentposition.png");
}

.action-Conf .global-button-Icon {
    background-image: url("../icons/16x16/admin-conf.png");
}

.action-Content_Off .global-button-Icon {
    background-image: url("../icons/16x16/action-help_off.png");
}

.action-Content_On .global-button-Icon {
    background-image: url("../icons/16x16/action-help_on.png");
}

.action-Core .global-button-Icon {
    background-image: url("../icons/16x16/admin-core.png");
}

.action-Corpus .global-button-Icon {
    background-image: url("../icons/16x16/collection-corpus.png");
}

.action-CorpusAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-corpus.png");
}

.action-Crop .global-button-Icon {
    background-image: url("../icons/16x16/tool-crop.png");
}

.action-Csv .global-button-Icon {
    background-image: url("../icons/16x16/action-csv.png");
}

.action-Delete .global-button-Icon {
    background-image: url("../icons/16x16/action-delete.png");
}

.action-Diagnostic .global-button-Icon {
    background-image: url("../icons/16x16/admin-diagnostic.png");
}

.action-Diagrams .global-button-Icon {
    background-image: url("../icons/16x16/admin-diagrams.png");
}

.action-Discard .global-button-Icon {
    background-image: url("../icons/16x16/action-discard.png");
}

.action-DocumentEdit .global-button-Icon {
    background-image: url("../icons/16x16/document-edit.png");
}

.action-Duplicate .global-button-Icon {
    background-image: url("../icons/16x16/action-duplicate.png");
}

.action-Edit .global-button-Icon {
    background-image: url("../icons/16x16/action-edit.png");
}

.action-EtcConfig .global-button-Icon {
    background-image: url("../icons/16x16/admin-etcconfig.png");
}

.action-Extensions .global-button-Icon {
    background-image: url("../icons/16x16/admin-extensions.png");
}

.action-ExternalSource .global-button-Icon {
    background-image: url("../icons/16x16/corpus-externalsource.png");
}

.action-FicheAddenda .global-button-Icon {
    background-image: url("../icons/16x16/document-edit.png");
}

.action-FicheAlbum .global-button-Icon {
    background-image: url("../icons/16x16/illustration-edit.png");
}

.action-FicheCreate .global-button-Icon {
    background-image: url("../icons/16x16/fiche-create.png");
}

.action-FicheDisplay .global-button-Icon {
    background-image: url("../icons/16x16/fiche-read.png");
}

.action-FicheEdit .global-button-Icon {
    background-image: url("../icons/16x16/fiche-edit.png");
}

.action-FicheIndexation .global-button-Icon {
    background-image: url("../icons/16x16/fiche-indexation.png");
}

.action-FicheRemove .global-button-Icon {
    background-image: url("../icons/16x16/fiche-remove.png");
}


.action-FicheSelection .global-button-Icon {
    background-image: url("../icons/16x16/fiche-selection.png");
}

.action-Fiches .global-button-Icon {
    background-image: url("../icons/16x16/menu-fiches.png");
}

.action-FieldCreate .global-button-Icon {
    background-image: url("../icons/16x16/corpus-fieldcreate.png");
}

.action-FieldRemove .global-button-Icon {
    background-image: url("../icons/16x16/corpus-fieldremove.png");
}

.action-FqlEditor .global-button-Icon {
    background-image: url("../icons/16x16/action-fqleditor.png");
}

.action-Geo .global-button-Icon {
    background-image: url("../icons/16x16/action-geo.png");
}

.action-Go .global-button-Icon {
    background-image: url("../icons/16x16/action-go.png");
}

.action-Groups .global-button-Icon {
    background-image: url("../icons/16x16/admin-groups.png");
}

.action-History .global-button-Icon {
    background-image: url("../icons/16x16/action-history.png");
}

.action-Html .global-button-Icon {
    background-image: url("../icons/16x16/action-html.png");
}

.action-IllustrationEdit .global-button-Icon {
    background-image: url("../icons/16x16/illustration-edit.png");
}

.action-Init .global-button-Icon {
    background-image: url("../icons/16x16/action-init.png");
}

.action-Labels .global-button-Icon {
    background-image: url("../icons/16x16/action-labels.png");
}

.action-List_Country .global-button-Icon {
    background-image: url("../icons/16x16/collection-country.png");
}

.action-List_Lang .global-button-Icon {
    background-image: url("../icons/16x16/collection-lang.png");
}

.action-Login .global-button-Icon {
    background-image: url("../icons/16x16/action-login.png");
}

.action-Logos .global-button-Icon {
    background-image: url("../icons/16x16/admin-logos.png");
}

.action-Logs .global-button-Icon {
    background-image: url("../icons/16x16/admin-logs.png");
}

.action-Memento .global-button-Icon {
    background-image: url("../icons/16x16/menu-memento.png");
}

.action-Merge .global-button-Icon {
    background-image: url("../icons/16x16/action-merge.png");
}

.action-Metadata .global-button-Icon {
    background-image: url("../icons/16x16/action-metadata.png");
}

.action-MotcleConditionAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-thesaurus.png");
}

.action-MotcleEdit .global-button-Icon {
    background-image: url("../icons/16x16/motcle-edit.png");
}

.action-MotcleIndexation .global-button-Icon {
    background-image: url("../icons/16x16/motcle-indexation.png");
}

.action-MotclePonderation .global-button-Icon {
    background-image: url("../icons/16x16/motcle-ponderation.png");
}

.action-MotcleSelectionIndexation .global-button-Icon {
    background-image: url("../icons/16x16/motcle-indexationselect.png");
}

.action-Move .global-button-Icon {
    background-image: url("../icons/16x16/action-move.png");
}

.action-New .global-button-Icon {
    background-image: url("../icons/16x16/action-new.png");
}

.action-Next .global-button-Icon {
    background-image: url("../icons/16x16/tool-next.png");
}

.action-Ods .global-button-Icon {
    background-image: url("../icons/16x16/action-ods.png");
}

.action-Odt .global-button-Icon {
    background-image: url("../icons/16x16/action-odt.png");
}

.action-Options .global-button-Icon {
    background-image: url("../icons/16x16/corpus-options.png");
}

.action-Preferences .global-button-Icon {
    background-image: url("../icons/16x16/menu-preferences.png");
}

.action-Previous .global-button-Icon {
    background-image: url("../icons/16x16/tool-previous.png");
}

.action-Refresh .global-button-Icon {
    background-image: url("../icons/16x16/action-refresh.png");
}

.action-Replace .global-button-Icon {
    background-image: url("../icons/16x16/tool-replace.png");
}

.action-Resources .global-button-Icon {
    background-image: url("../icons/16x16/admin-resources.png");
}

.action-Reset .global-button-Icon {
    background-image: url("../icons/16x16/tool-reset.png");
}

.action-Resize .global-button-Icon {
    background-image: url("../icons/16x16/tool-resize.png");
}

.action-Retrieve .global-button-Icon {
    background-image: url("../icons/16x16/action-retrieve.png");
}

.action-Roles .global-button-Icon {
    background-image: url("../icons/16x16/admin-roles.png");
}

.action-Run .global-button-Icon {
    background-image: url("../icons/16x16/action-run.png");
}

.action-Save .global-button-Icon {
    background-image: url("../icons/16x16/action-save.png");
}

.action-ScrutariExports .global-button-Icon {
    background-image: url("../icons/16x16/admin-scrutariexports.png");
}

.action-Search .global-button-Icon {
    background-image: url("../icons/16x16/action-search.png");
}

.action-Selection .global-button-Icon {
    background-image: url("../icons/16x16/menu-selection.png");
}

.action-Send .global-button-Icon {
    background-image: url("../icons/16x16/action-send.png");
}

.action-SessionClose .global-button-Icon {
    background-image: url("../icons/16x16/menu-newsession.png");
}

.action-SessionDuplicate .global-button-Icon {
    background-image: url("../icons/16x16/menu-duplicate.png");
}

.action-Sessions .global-button-Icon {
    background-image: url("../icons/16x16/admin-sessions.png");
}

.action-Sort_Asc .global-button-Icon {
    background-image: url("../icons/16x16/sort-asc.png");
}

.action-Sort_Desc .global-button-Icon {
    background-image: url("../icons/16x16/sort-desc.png");
}

.action-SortNumber_Asc .global-button-Icon {
    background-image: url("../icons/16x16/sort-number-asc.png");
}

.action-SortNumber_Desc .global-button-Icon {
    background-image: url("../icons/16x16/sort-number-desc.png");
}

.action-Special .global-button-Icon {
    background-image: url("../icons/16x16/corpus-special.png");
}

.action-Sphere .global-button-Icon {
    background-image: url("../icons/16x16/collection-sphere.png");
}

.action-SphereAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-sphere.png");
}

.action-SqlExports .global-button-Icon {
    background-image: url("../icons/16x16/admin-sqlexports.png");
}

.action-Stats .global-button-Icon {
    background-image: url("../icons/16x16/admin-stats.png");
}

.action-SubsetTrees .global-button-Icon {
    background-image: url("../icons/16x16/admin-subsettrees.png");
}

.action-Summary .global-button-Icon {
    background-image: url("../icons/16x16/action-summary.png");
}

.action-UserEdit .global-button-Icon {
    background-image: url("../icons/16x16/user-edit.png");
}

.action-UserStats .global-button-Icon {
    background-image: url("../icons/16x16/admin-stats.png");
}

.action-TableDisplay .global-button-Icon {
    background-image: url("../icons/16x16/action-tabledisplay.png");
}

.action-TableExports .global-button-Icon {
    background-image: url("../icons/16x16/admin-tableexports.png");
}

.action-Test .global-button-Icon {
    background-image: url("../icons/16x16/action-test.png");
}

.action-Thesaurus .global-button-Icon {
    background-image: url("../icons/16x16/collection-thesaurus.png");
}

.action-ThesaurusAdd .global-button-Icon {
    background-image: url("../icons/16x16/add-thesaurus.png");
}

.action-Transformations .global-button-Icon {
    background-image: url("../icons/16x16/admin-transformations.png");
}

.action-ToLeft .global-button-Icon {
    background-image: url("../icons/16x16/action-to_left.png");
}

.action-ToRight .global-button-Icon {
    background-image: url("../icons/16x16/action-to_right.png");
}

.action-Xml .global-button-Icon {
    background-image: url("../icons/16x16/action-xml.png");
}


/*******************************************************************************
* .action-defaultselection- (icon size : 32x16)
*******************************************************************************/

.action-defaultselection-Save .global-button-Icon {
    background-image: url("../icons/32x16/selection-link-default_save.png");
}

.action-defaultselection-Load .global-button-Icon {
    background-image: url("../icons/32x16/selection-link-default_load.png");
}


/*******************************************************************************
* .action-document-
*******************************************************************************/

.action-document-Change .global-button-Icon {
    background-image: url("../icons/16x16/document-edit.png");
}

.action-document-Create .global-button-Icon {
    background-image: url("../icons/32x16/document-link-create.png");
}

.action-document-Remove .global-button-Icon {
    background-image: url("../icons/16x16/document-remove.png");
}

.action-document-Restore .global-button-Icon {
    background-image: url("../icons/16x16/document-restore.png");
}


/*******************************************************************************
* .action-ficheform- (icon size : 32x16)
*******************************************************************************/

.action-ficheform-Country .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-pays.png");
}

.action-ficheform-Document .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-document.png");
}

.action-ficheform-ExternalSource .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-externalsource.png");
}

.action-ficheform-Fiche .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-fiche_one.png");
}

.action-ficheform-Geocodage .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-geocodage.png");
}

.action-ficheform-Ilustration .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-illustration.png");
}

.action-ficheform-Lang .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-langue.png");
}

.action-ficheform-Liage .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-fiche_all.png");
}

.action-ficheform-Motcle .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-motcle_one.png");
}

.action-ficheform-Poids_off .global-button-Icon {
    background-image: url("../icons/32x16/edition-link-poids_off.png");
}

.action-ficheform-Poids_on .global-button-Icon {
    background-image: url("../icons/32x16/edition-link-poids_on.png");
}

.action-ficheform-Redacteur .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-redacteur.png");
}


/*******************************************************************************
* .action-form-
*******************************************************************************/

.action-form-Checkbox .global-button-Icon {
    background-image: url("../icons/16x16/form-checkbox.png");
}

.action-form-List .global-button-Icon {
    background-image: url("../icons/16x16/form-list.png");
}

.action-form-Radio .global-button-Icon {
    background-image: url("../icons/16x16/form-radio.png");
}

.action-form-Text .global-button-Icon {
    background-image: url("../icons/16x16/form-text.png");
}


/*******************************************************************************
* .action-geo- (icon size : 48x16)
*******************************************************************************/

.action-geo-Center_both .global-button-Icon {
    width: 48px;
    background-image: url("../icons/48x16/center-button-both.png");
}

.action-geo-Center_current .global-button-Icon {
    width: 48px;
    background-image: url("../icons/48x16/center-button-current.png");
}

.action-geo-Center_new .global-button-Icon {
    width: 48px;
    background-image: url("../icons/48x16/center-button-new.png");
}


/*******************************************************************************
* .action-illustration-
*******************************************************************************/

.action-illustration-Change .global-button-Icon {
    background-image: url("../icons/16x16/illustration-edit.png");
}

.action-illustration-Create .global-button-Icon {
    background-image: url("../icons/32x16/illustration-link-create.png");
}

.action-illustration-Remove .global-button-Icon {
    background-image: url("../icons/16x16/illustration-remove.png");
}


/*******************************************************************************
* .action-pioche- (icon size : 32x16)
*******************************************************************************/

.action-pioche-Fiche .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-fiche_all.png");
}

.action-pioche-Field .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-field.png");
}

.action-pioche-Motcle .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-motcle_all.png");
}

.action-pioche-Redacteur .global-button-Icon {
    background-image: url("../icons/32x16/pioche-link-redacteur.png");
}

/*******************************************************************************
* .action-section-
*******************************************************************************/

.action-section-AreaDecrease .global-button-Icon {
    background-image: url("../icons/16x16/section-area_decrease.png");
}

.action-section-AreaIncrease .global-button-Icon {
    background-image: url("../icons/16x16/section-area_increase.png");
}

.action-section-Bold .global-button-Icon {
    background-image: url("../icons/16x16/section-bold.png");
}

.action-section-BoldItalic .global-button-Icon {
    background-image: url("../icons/16x16/section-bolditalic.png");
}

.action-section-FicheRef .global-button-Icon {
    background-image: url("../icons/16x16/section-ficheref.png");
}

.action-section-Footnote .global-button-Icon {
    background-image: url("../icons/16x16/section-footnote.png");
}

.action-section-Heading1 .global-button-Icon {
    background-image: url("../icons/16x16/section-heading1.png");
}

.action-section-Heading2 .global-button-Icon {
    background-image: url("../icons/16x16/section-heading2.png");
}

.action-section-Heading3 .global-button-Icon {
    background-image: url("../icons/16x16/section-heading3.png");
}

.action-section-Italic .global-button-Icon {
    background-image: url("../icons/16x16/section-italic.png");
}

.action-section-Paste .global-button-Icon {
    background-image: url("../icons/16x16/section-paste.png");
}

.action-section-Preview .global-button-Icon {
    background-image: url("../icons/16x16/section-preview.png");
}

.action-section-Redo .global-button-Icon {
    background-image: url("../icons/16x16/section-redo.png");
}

.action-section-Spellcheck .global-button-Icon {
    background-image: url("../icons/16x16/section-spellcheck.png");
}

.action-section-StyleChoice .global-button-Icon {
    background-image: url("../icons/16x16/section-stylechoice.png");
}

.action-section-Ul .global-button-Icon {
    background-image: url("../icons/16x16/section-ul.png");
}

.action-section-Undo .global-button-Icon {
    background-image: url("../icons/16x16/section-undo.png");
}

.action-section-UrlRef .global-button-Icon {
    background-image: url("../icons/16x16/section-urlref.png");
}

.action-section-ZoneChoice .global-button-Icon {
    background-image: url("../icons/16x16/section-zonechoice.png");
}

.action-section-ZoomEdit .global-button-Icon {
    background-image: url("../icons/16x16/section-zoomedit.png");
}


/*******************************************************************************
* action-stock-
*******************************************************************************/

.action-stock-Add .global-button-Icon {
    background-image: url("../icons/16x16/stock-add.png");
}

.action-stock-Destock .global-button-Icon {
    background-image: url("../icons/16x16/stock-destock.png");
}

.action-stock-Down .global-button-Icon {
    background-image: url("../icons/16x16/stock-down.png");
}

.action-stock-Remove .global-button-Icon {
    background-image: url("../icons/16x16/stock-remove.png");
}

.action-stock-Switch .global-button-Icon {
    background-image: url("../icons/16x16/stock-switch.png");
}

.action-stock-Up .global-button-Icon {
    background-image: url("../icons/16x16/stock-up.png");
}
