/*******************************************************************************
* .cm- CodeMirror
*******************************************************************************/

.cm-atom {color: #219;}
.cm-attribute {color: #00c;}
.cm-bracket {color: #997;}
.cm-builtin {color: #30a;}
.cm-comment {color: #a50;}
.cm-def {color: #00f;}
.cm-em {font-style: italic;}
.cm-error {color: #f00;}
.cm-header {color: blue;font-weight: bold;}
.cm-hr {color: #999;}
.cm-invalidchar {color: #f00;}
.cm-keyword {color: #708;}
.cm-link {color: #744;text-decoration: none}
.cm-meta {color: #555;}
.cm-negative {color: #d44;}
.cm-number {color: #164;}
.cm-operator {color: #e80;}
.cm-positive {color: #292;}
.cm-property {color: #030;}
.cm-punctuation {color: #e80;}
.cm-qualifier {color: #555;}
.cm-quote {color: #090;}
.cm-strikethrough {text-decoration: line-through;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-strong {font-weight: bold;}
.cm-tag {color: #170;}
.cm-type {color: #085;}
.cm-variable {color: #222;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}


/*******************************************************************************
* .cm-component-
*******************************************************************************/

.cm-component-comment {color: #999;}
.cm-component-data {color: #c0b;}
.cm-component-field {color: #219;}
.cm-component-group {color: #00c;}
.cm-component-subset {color: #707;}


/*******************************************************************************
* .cm-ficheblock- Ficheblock syntax
*******************************************************************************/

.cm-ficheblock-attname  {color: #30a}
.cm-ficheblock-attvalue  {color: #a0a}
.cm-ficheblock-cdata  {color: #d44}
.cm-ficheblock-cdatacontent {color: #d44}
.cm-ficheblock-code  {color: #a50}
.cm-ficheblock-codecontent {color: #a50}
.cm-ficheblock-div  {color: #f0f}
.cm-ficheblock-emptyrow {color: #a0a;font-weight: bold}
.cm-ficheblock-firstchars  {color: #1a1;font-style: italic;font-weight: bold}
.cm-ficheblock-hcontent {font-weight: bold}
.cm-ficheblock-initial {color: #30a;font-style: italic}
.cm-ficheblock-insert  {color: #a11}
.cm-ficheblock-ref {color: #a0a;font-style: italic}
.cm-ficheblock-source  {color: #1a1}
.cm-ficheblock-span-default {}
.cm-ficheblock-span-em  {font-style: italic}
.cm-ficheblock-span-emstrong  {font-style: italic; font-weight: bold}
.cm-ficheblock-span-strong  {font-weight: bold}
.cm-ficheblock-span-tech  {color: #060}
.cm-ficheblock-table  {color: #099}
.cm-ficheblock-tablecontent {color: #099}
.cm-ficheblock-tablecontent.cm-ficheblock-span-tech {color: #060}
.cm-ficheblock-tableheader {color: #099; font-weight: bold}
.cm-ficheblock-tableheader.cm-ficheblock-span-tech {color: #060}
.cm-ficheblock-zone-elementcontent {color: #888}
.cm-ficheblock-zone-elementcontent.cm-ficheblock-span-tech {color: #060}
.cm-ficheblock-zone-elementname {color: #30a}
.cm-ficheblock-zone-elementvalue  {color: #a0a}
.cm-ficheblock-zone-firstchars {font-size: 110%; font-weight: bold}
.cm-ficheblock-zone-parameters {color: #a0a}


/*******************************************************************************
* .cm-tableexport-  TableExport
*******************************************************************************/

.cm-tableexport-bigparam-content {color: #a50}
.cm-tableexport-bigparam-end {color: #a0a; font-weight: bold}
.cm-tableexport-bigparam-name {color: #a0a;}
.cm-tableexport-bigparam-start {color: #a0a; font-weight: bold}
.cm-tableexport-coldef {color: #000;}
.cm-tableexport-emptypatternsymbol {color: #e80;font-weight: bold}
.cm-tableexport-formatpattern {color: #05a;}
.cm-tableexport-formatsource {color: #1a1;}
.cm-tableexport-inclusionline {color: #a50;}
.cm-tableexport-inclusionname {color: #099;}
.cm-tableexport-inclusionsymbol {color: #099; font-weight: bold}
.cm-tableexport-instructionkey {color: #30a;}
.cm-tableexport-instructionvalue {color: #708;}
.cm-tableexport-paramname {color: #a0a;}
.cm-tableexport-paramsymbol  {color: #a0a; font-weight: bold}
.cm-tableexport-paramvalue {color: #707;}
.cm-tableexport-patternseparator {color: #e80;font-weight: bold}
.cm-tableexport-subsetpath {color: #1a1;font-weight: bold}


/*******************************************************************************
* .cm-java-  Java package syntax
*******************************************************************************/

.cm-java-class {color: #f33;}
.cm-java-interface {color: #f0f;}
.cm-java-package {color: #333;}


/*******************************************************************************
* .cm-path-  Path syntax
*******************************************************************************/

.cm-path-dir {color: #744;}
.cm-path-file {color: #b22;}


/*******************************************************************************
* .cm-xml-  Xml syntax
*******************************************************************************/

.cm-xml-attr-arobase {color: #099}
.cm-xml-attr-name {color: #00c;}
.cm-xml-attr-ns {color: #007;}
.cm-xml-char {color: #1a1;}
.cm-xml-namespace {color: #030;}
.cm-xml-tag {color: #170;}