html {
  line-height: 1;
}

body {
    font-family: "DejaVu Sans", Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
    font-size: medium;
    font-weight: normal;
    background-color: #fff;
    margin-top: 0;
}

button {
    font-family: "DejaVu Sans", Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
}

h1 {
    font-size: medium;
}

h2 {
    margin-top: 40px;
    font-weight: normal;
    font-size: 1.25rem;
}

h3 {
    margin-top: 30px;
    font-size: 1.125rem;
    font-weight: normal;
}

h4 {
    font-size: small;
    margin-top: 10px;
    margin-left: 40px;
}

h5 {
    font-size: x-small;
    margin-top: 10px;
    margin-left: 50px;
}

h6 {
    font-size: x-small;
    margin-top: 5px;
    margin-left: 70px;
}

fieldset {
    margin-top: 30px;
    padding-top: 12px;
    background-color: #F2F2F2;
}

legend {
    font-size: small;
    font-weight: bold;
}

img {
    border: 0;
}

li {
    margin-bottom: 15px;
}

li ul li{
    margin-bottom: 10px;
}

p {
    margin-left: 0;
    line-height: 1.3;
}

li p {
    margin-top: 0;
    margin-bottom: 10px;
}

a, a:active,a:focus, a:hover,a:link, a:visited {
    text-decoration: none;
}

a:link, a:visited {
    color: #03f;
}

a:hover {
    color: red;
}

code, kbd, samp, var {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 0.9em;
}

input[type=text], input[type=password], textarea {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    border-top-color: #a0a0a0;
    border-left-color: #a0a0a0;
}

input[type=text]:invalid, input[type=password]:invalid {
    color: red;
}

input[type=text]:-moz-ui-invalid, input[type=password]:-moz-ui-invalid {
    box-shadow: none;
    border-color: #f99;
    border-top-color: #e33;
    border-left-color: #e33;
}

input[type=text]:-moz-ui-invalid:focus, input[type=password]:-moz-ui-invalid:focus {
    border-color: #e66;
    border-top-color: #d22;
    border-left-color: #d22;
}

select {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #a0a0a0;
    font-family: sans-serif;
    background-color: #fafafa;
}

summary {
    cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
    border-color: #73baff;
}

input, select {
  margin-left: 2px;
  margin-right: 2px;
}
