/*******************************************************************************
* .family-
*******************************************************************************/

.family-ADD.family-Border {
    border-color: #d5ab7a;
}

.family-ADD .family-Colors, .family-ADD.family-Colors, .family-ADD .family-ADD.family-Colors {
    background-color: #ffdfb8;
    border-color: #d5ab7a;
    color: #000;
}

.family-ADD .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(255,240,200,1) 0%,rgba(237,206,167,1) 100%);
    border-color: #d5ab7a;
}

.family-ADM.family-Border,
.family-CNF.family-Border,
.family-EXP.family-Border,
.family-IMP.family-Border {
    border-color: #b582ff;
}

.family-ADM .family-Colors, .family-ADM.family-Colors, .family-ADM .family-ADM.family-Colors,
.family-CNF .family-Colors, .family-CNF.family-Colors, .family-CNF .family-CNF.family-Colors,
.family-EXP .family-Colors, .family-EXP.family-Colors, .family-EXP .family-EXP.family-Colors,
.family-IMP .family-Colors, .family-IMP.family-Colors, .family-IMP .family-IMP.family-Colors {
    background-color: #dcc4fd;
    border-color: #b582ff;
    color: #000;
}

.family-ADM .command-HelpLink.family-Colors:hover,
.family-CNF .command-HelpLink.family-Colors:hover,
.family-EXP .command-HelpLink.family-Colors:hover,
.family-IMP .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(237,212,255,1) 0%,rgba(203,179,235,1) 100%);
    border-color: #b582ff;
}

.family-ALB.family-Border {
    border-color: #b982ff;
}

.family-ALB .family-Colors, .family-ALB.family-Colors, .family-ALB .family-ALB.family-Colors {
    background-color: #f5c4fd;
    border-color: #b982ff;
    color: #000;
}

.family-ALB .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(255,212,255,1) 0%,rgba(227,179,235,1) 100%);
    border-color: #b982ff;
}

.family-CRP.family-Border {
    border-color: #ff8383;
}

.family-CRP .family-Colors, .family-CRP.family-Colors, .family-CRP .family-CRP.family-Colors {
    background-color: #ffbdbd;
    border-color: #ff8383;
    color: #000;
}

.family-CRP .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(255,205,205,1) 0%,rgba(237,172,172,1) 100%);
    border-color: #ff8383;
}

.family-ROL.family-Border {
    border-color: #ffd800;
}

.family-ROL .family-Colors, .family-ROL.family-Colors, .family-ROL .family-ROL.family-Colors {
    background-color: #ffef99;
    border-color: #ffd800;
    color: #000;
}

.family-ROL .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(255,255,169,1) 0%,rgba(237,221,136,1) 100%);
    border-color: #ffd800;
}

.family-SPH.family-Border,
.family-USR.family-Border {
    border-color: #88c503;
}

.family-SPH .family-Colors, .family-SPH.family-Colors, .family-SPH .family-SPH.family-Colors,
.family-USR .family-Colors, .family-USR.family-Colors, .family-USR .family-USR.family-Colors {
    background-color: #b8ffb8;
    border-color: #88c503;
    color: #000;
}

.family-SPH .command-HelpLink.family-Colors:hover,
.family-USR .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(200,255,200,1) 0%,rgba(167,237,167,1) 100%);
    border-color: #88c503;
}

.family-THS.family-Border {
    border-color: #159deb;
}

.family-THS .family-Colors, .family-THS.family-Colors, .family-THS .family-THS.family-Colors {
    background-color: #acf2fe;
    border-color: #159deb;
    color: #000;
}

.family-THS .command-HelpLink.family-Colors:hover {
    background: linear-gradient(to bottom, rgba(189,255,255,1) 0%,rgba(155,224,236,1) 100%);
    border-color: #159deb;
}
