/*******************************************************************************
* .button-
*******************************************************************************/

.button-Circle {
    height: 28px;
    width: 28px;
    border-width: 2px;
    border-color: #818181;
    border-style: solid;
    border-radius: 14px;
    display: block;
    box-sizing: border-box;
    background-color: #e5e5e5;
    flex: none;
}

.button-Circle:hover {
    border-color: red;
}

.button-Circle .global-button-Icon {
    display: block;
    margin-top: 4px;
    margin-left: 4px;
}

/*******************************************************************************
* .choices-
*******************************************************************************/

.choices-Title {
    margin-top: 25px;
}

.choices-List {
    list-style: none;
    margin-left: 35px;
    padding: 0;
    font-size: smaller;
    margin-bottom: 15px;
}

.choices-List li {
    margin-bottom: 4px;
}

.choices-List.choices-Spaced li {
    margin-bottom: 12px;
}


/*******************************************************************************
* .command-
*******************************************************************************/

.command-CommandKey {
    text-align: right;
    margin-right: -10px;
}

.command-CommandKey .family-Colors {
    font-family: "DejaVu Sans Mono", monospace;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: x-small;
}

.command-Details {
    margin-bottom: 10px;
}

.command-Details summary {
    font-size:small;
    color: #2e3436;
}

.command-Details .unit-Subunit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.command-Details .command-Submit {
    margin-top: 20px;
}

.command-FlexInput {
    display: flex;
    align-items: center;
}

.command-FlexInput > * {
    margin-left: 3px;
    margin-right: 3px;
}

.command-HelpLink {
    border-width: 1px;
    border-style: solid;
}

.command-LargeInput {
    width: calc(100% - 10px);
}

.command-Smaller {
    font-size: smaller;
}

.command-Submit {
    margin-top: 50px;
    text-align: center;
}

.command-Submit:first-child {
    margin-top: 25px;
    margin-bottom: 15px;
}

.command-Title.unit-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-bottom: 6px;
}

.command-Title .global-button-Standard {
    margin-bottom: 0;
    margin-right: 0;
}

.command-Title.unit-Title .global-button-Icon {
    margin-right: 2px;
    margin-left: 2px;
}

.command-TitleText {
    margin-left: 20px;
}

/*******************************************************************************
* .command-fiches-
*******************************************************************************/

.command-fiches-List {
    margin-left: 35px;
    padding: 0;
    margin-bottom: 35px;
}

.command-fiches-List > li {
    list-style: none;
    margin-top: 30px;
}

.command-fiches-List .subset-Icon {
    height: 18px;
}

.command-fiches-Fiche {
    font-size: small;
    overflow-wrap: anywhere;
}

.command-fiches-Tree {
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}


/*******************************************************************************
* .global-body-
*******************************************************************************/

.global-body-Default {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.global-body-ListFrame {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.global-body-Message {
    margin: 0;
    background-color: #e5e5e5;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.global-body-Transparent {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.global-body-ToolWindow {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.global-body-TopBorder {
    margin: 0;
    padding:  0;
    background-color: #e5e5e5;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
    padding-top: 2px;
}

.global-body-White {
    margin: 0;
    padding: 0;
    background-color: #fff;
}


/*******************************************************************************
* .global-button-
*******************************************************************************/

.global-button-Icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    flex-shrink: 0;
}

.global-button-Link {
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 5px;
    display: flex;
    box-sizing: border-box;
    min-height: 27px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    align-items: center;
}

.global-button-Link.global-button-Disabled {
    opacity: 0.5;
}

.global-button-Link:hover, a.global-button-Link:hover {
    text-decoration: none;
    border-color: red;
    background: linear-gradient(to bottom, transparent 0%,rgba(204,204,204,1) 100%);
}

.global-button-Link.global-button-Disabled:hover {
    border-color: transparent;
    background: transparent;
    cursor: default;
}

.global-button-Space {
    width: 12px;
}

.global-button-Standard {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 5px;
    display: inline-flex;
    box-sizing: border-box;
    min-height: 27px;
    margin-right: 4px;
    margin-bottom: 4px;
    align-items: center;
}

.global-button-Standard:last-child {
    margin-right: 0;
}

.global-button-Standard:hover:enabled {
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}

a.global-button-Standard:hover {
    text-decoration: none;
    cursor: default;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}

.global-button-Standard:disabled {
    opacity: .35;
}

.global-button-Standard:disabled .global-button-Icon {
    filter: grayscale(1);
}

.global-button-Standard.global-button-Active {
    background-color: #a9a9a9;
    color: #fff;
}

.global-button-Standard.global-button-On {
    background-color: #c9c9c9;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.global-button-Standard.global-button-On:hover:enabled {
    /*background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(129,129,129,1) 100%);*/
    background: #c9c9c9;
}

.global-button-Text {
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    color: #2e3436;
    line-height: 1.2;
    text-align: left;
}

.global-button-Toolbar {
    margin-bottom: 5px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    flex-wrap: wrap;
}

.global-button-Transparent {
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    padding: 1px;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

.global-button-Transparent.global-button-Icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-position: 1px 1px;
}

.global-button-Transparent.global-button-Transparent32 {
    width: 36px;
}

.global-button-Transparent.global-button-Transparent32 .global-button-Icon {
    width: 32px;
}

.global-button-Transparent.global-button-Current {
     border-color: red;
     border-style: dotted;
}

.global-button-Transparent.global-button-Current:hover {
     cursor: default;
}

.global-button-Transparent:hover {
    border-color: red;
    cursor: pointer;
}

.global-button-Transparent.global-button-NoPointer:hover {
    cursor: default;
}

.global-button-Transparent:disabled {
    opacity: .35;
}

.global-button-Transparent:disabled .global-button-Icon {
    filter: grayscale(1);
}

.global-button-Transparent:hover:disabled {
    border-color: transparent;
    cursor: default;
}

.global-button-Wait:hover {
    cursor: wait;
}


/*******************************************************************************
* .global-ficheeditor-
*******************************************************************************/

.global-ficheeditor-OverlayContent, .global-ficheEditor-OverlayContent.overlay-Component_content {
    background-color: #e5e5e5;
    width: min(90vw, 900px);
    height: 80vh;
    overflow: hidden;
}

.global-ficheeditor-Iframe {
    border: none;
    width: 100%;
    height: 100%;
}


/*******************************************************************************
* .global-fichepopup-
*******************************************************************************/

.global-fichepopup-IframeFieldedit {
    position: absolute;
    top: 45px;
    left: 20px;
    z-index: 10;
}

.global-fichepopup-Iframe {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: calc(100% - 35px);
}

.global-fichepopup-Iframe.global-fichepopup-WithBorder {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    border-top-left-radius: 5px;
    background-color: #fff;
}

.global-fichepopup-IframeToolbar {
    position: absolute;
    top: 45px;
    right: 30px;
    z-index: 10;
}

.global-fichepopup-Iframe.global-fichepopup-EditIframe {
    border: none;
}

.global-fichepopup-OverlayContent {
    height: 75vh;
    max-height: 100vh;
    width: 75vw;
    max-width: 1100px;
    background-color: #e5e5e5;
    position: relative;
}

.global-fichepopup-Tools {
    height: 30px;
    text-align: right;
    padding-right: 10px;
}



/*******************************************************************************
* .global-fqleditor-
*******************************************************************************/

.global-fqleditor-OverlayContent, .global-fqleditor-OverlayContent.overlay-Component_content {
    padding: 5px 0 5px 20px;
}

.global-fqleditor-Iframe {
    border: none;
    min-width: 75vw;
    min-height: 60vh;
}


/*******************************************************************************
* .global-running-
*******************************************************************************/

.global-running-Block {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
}

.global-running-Icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-image: url("../icons/16x16/action-run.png");
    animation-name: runningRotation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    vertical-align: baseline;
}

.global-running-Text {
    color: #2e3436;
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    line-height: 1.2;
    text-align: left;
}

@keyframes runningRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*******************************************************************************
* global-
*******************************************************************************/

.global-BottomLabelledInput {
    display: inline-block;
    line-height: 0.9;
}

.global-CharsetSelect {
    width: 300px;
}

.global-CommandMessageBox {
    position:absolute;
    left:5px;
    text-align: left;
    z-index: 85;
    display: inline-block;
}

.global-CommandMessageBox > div {
    background-color: #eee;
    display: inline-block;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    border-radius: 5px;
    font-family: sans-serif;
}

.global-CroisementList {
    margin-left: 35px;
    padding: 0;
    margin-bottom: 30px;
}

.global-CroisementList > li {
    list-style: none;
    margin-top: 30px;
}

.global-CroisementList .subset-Icon {
    height: 18px;
}

.global-CroisementList label {
    font-size: small;
}

.global-CroisementOpenContent {
    padding-bottom: 10px;
    padding-top: 3px;
}

.global-CroisementTree {
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}

.global-CurrentPage {
    border-bottom: 1px red dotted;
}

.global-DetailPanel {
    padding-left: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #2e3436;
    font-size: smaller;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

.global-DetailPanel .global-DetailPanel .global-DetailPanel{
    font-size: inherit;
}

.global-DetailPanel.grid-choice-DetailCell {
    padding-left: 15px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.global-DetailPanel.grid-choice-DetailCell .grid-Table {
    padding-top: 5px;
}

.global-DetailPanel .choices-List {
    font-size: 1em;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 5px;
}

.global-DetailPanel_P {
    padding-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #2e3436;
    font-size: smaller;
    margin-bottom: 10px;
}

.global-DetailPanel_P {
    
    margin-left: 30px;
    margin-top: -5px;
}

.global-DL dd {
    margin-top: 10px;
    margin-bottom: 30px;
}

.global-DL .grid-Table {
    font-size: small;
}

.global-DL .grid-Table .CodeMirror {
    font-size: medium;
}

.global-DL .grid-Table > .grid-Row > * {
    margin-bottom: 10px;
}

.global-DoneMessage {
    color: green;
}

.global-ErrorMessage {
    color: red;
}

.global-ErrorMessage a {
    color: red;
}

.global-ErrorMessage a:hover {
    color: blue;
}

.global-FileInput {
    padding-top: 15px;
    padding-bottom: 75px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: dashed;
    border-width: 3px;
    border-color: #00d95a;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.global-FileInput_filled {
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

.global-FileInput_filled_many {
    border-bottom-width: 0;
    margin-bottom: 0;
}

.global-FileInput_dragover {
    background-color: #c8fcdd;
}

.global-FileList {
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    border-color: #00d95a;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.global-FormBody {
    padding-top: 5em;
    padding-left: 8px;
    padding-right: 8px;
}

.global-Glue {
    flex-grow: 1;
}

.global-Highlight {
    color: magenta;
}

.global-Icon {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
}

.global-Logs {
    font-size: small;
}

.global-MessageByLine {
    padding-top: 5px;
    padding-bottom: 5px;
}

.global-MessageByLine dl {
    font-size: smaller;
    margin-left: 15px;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: red;
    border-style: dashed;
    padding: 3px;
    background-color: #f0f0f0;
}

.global-MessageByLine dd {
    margin-bottom: 3px;
    margin-left: 20px;
    padding-left: 0;
}

.global-MessageByLine dt {
    float: left;
    color: #666666;
}

.global-PageToolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size : small;
    text-align: right;
}

.global-PlaceholderOnFocus::placeholder {
    color: transparent;
}

.global-PlaceholderOnFocus:hover::placeholder, .global-PlaceholderOnFocus:focus::placeholder {
    color: inherit;
}

.global-Pointer {
    cursor: pointer;
}

.global-Preformatted {
    font-family: "DejaVu Sans Mono", monospace;
    white-space: pre-wrap;
}

.global-SmallLabel {
    font-size : x-small;
    color: grey;
}

.global-SmallLinks {
    font-size : x-small;
}

.global-SubTitle {
    margin-top: 0;
    font-size : small;
    font-style : italic;
}

.global-WarningMessage {
    color: #FF9900;
}

.global-Wait {
    cursor: wait;
}


/*******************************************************************************
* Cas CodeMirror
*******************************************************************************/

.CodeMirror {
    height: auto!important;
    border-style: solid;
    border-color: #ddd !important;
    border-width: 2px 1px 1px 2px;
    text-align: left;
    background-color: #fafafa;
    min-height: 32px;
    min-width: 150px;
}


/*******************************************************************************
* displaytable-
*******************************************************************************/

.displaytable-Default {
    font-style: italic;
}

.displaytable-Leaf {
}

.displaytable-Title {
   color: #2e3436;
}

.displaytable-Tree {
    margin-top: 8px;
    margin-left: 0;
    padding: 0;
    font-size: small;
    margin-bottom: 0;
}


/*******************************************************************************
* .overlay-
*******************************************************************************/

.overlay-RunningOverlay .overlay-Component_content {
    display: none;
}

.overlay-RunningOverlay .overlay-Component_footer {
    display: none;
}


/*******************************************************************************
* .subset-
*******************************************************************************/

.subset-Buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.subset-ChangeSelect {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2e3436;
    text-align: right;
    overflow: hidden;
}

.subset-ChangeSelect select {
    max-width: calc(100% - 30px);
}

.subset-FicheTitle {
    line-height: 1.3;
}

.subset-Header {
    margin-right: 8px;
    margin-left: 8px;
    color: #2e3436;
    background-color: #d0d0d0;
    padding-left: 8px;
    padding-right: 28px;
    padding-bottom: 1px;
    padding-top: 1px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    min-width: 45%
}

.subset-Header h1 {
    display: flex;
    align-items: center;
    font-weight: normal;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.subset-Key {
    font-size: smaller;
    color: #666;
}

.subset-Icon {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.subset-Icon_addenda {
    background-image: url("../icons/16x16/collection-addenda.png");
}

.subset-Icon_album {
    background-image: url("../icons/16x16/collection-album.png");
}

.subset-Icon_corpus {
    background-image: url("../icons/16x16/collection-corpus.png");
}

.subset-Icon_country {
    background-image: url("../icons/16x16/collection-country.png");
}

.subset-Icon_iso {
    background-image: url("../icons/16x16/collection-iso.png");
}

.subset-Icon_lang {
    background-image: url("../icons/16x16/collection-lang.png");
}

.subset-Icon_sphere {
    background-image: url("../icons/16x16/collection-sphere.png");
}

.subset-Icon_thesaurus {
    background-image: url("../icons/16x16/collection-thesaurus.png");
}

.subset-ItemCount {
    font-weight: normal;
    font-size: small;
}

.subset-ItemCount.subset-None {
    color: #999;
}

.subset-ItemHeader {
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #d0d0d0;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    margin-top: 20px;
    display: inline-block;
    min-width: 45%;
}

.subset-ItemHeader h1 {
    font-weight: normal;
    font-size: large;
    color: #2e3436;
    display: flex;
    align-items: center;
}

.subset-ItemHeader .subset-Discarded {
    text-decoration: line-through;
    color: #666;
}

.subset-MasterItem {
    display: inline-block;
    font-size: small;
    font-style: italic;
    margin-top: 10px;
    margin-left: 15px;
}

.subset-SmallLabel {
    font-size: small;
    color: #2e3436;
}

.subset-Title::before {
    content: "\00A0"
}

.subset-Toolbar {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 6px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.subset-Toolbar .subset-SmallLabel {
    margin-right: 5px;
}


/*******************************************************************************
* .subset-list-
*******************************************************************************/

.subset-list-ChangeSelect {
    text-align: left;
}


/*******************************************************************************
* .subset-satellite-
*******************************************************************************/

.subset-satellite-CorpusTitle {
    font-size: small;
    color: #2e3436;
}

.subset-satellite-Creation {
    font-style: italic;
}

.subset-satellite-Leaf {

}

.subset-satellite-Tree {
    padding: 0;
    margin-top: 10px;
    margin-left: 0;
}


/*******************************************************************************
* .subsetitem-
*******************************************************************************/

.subsetitem-Infos {
    margin-left: 20px;
    font-size: x-small;
    color: #2e3436;
}

.subsetitem-List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.subsetitem-List > li {
    margin: 0;
    padding-top: 15px;
    padding-right: 8px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.subsetitem-List > li:nth-child(odd) {
    background-color: #f9f9f9;
}

.subsetitem-List .tools-Details {
    margin-left: 20px;
    margin-top: 8px;
}

.subsetitem-Title {
    display: flex;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

.subsetitem-Title p {
    line-height: 1.4;
}

.subsetitem-Title .button-Circle {
    margin-left: 16px;
}


/*******************************************************************************
* .tools-
*******************************************************************************/

.tools-Details {
    margin-top: 10px;
}

.tools-Details > summary {
    font-size: small;
    color: #2e3436;
}

.tools-List {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 16px;
    margin-top: 4px;
}

.tools-List .tools-Details:first-child {
    margin-top: 2px;
}

.tools-List .global-button-Link {
    margin-bottom: 0;
}

.tools-SubDetails > summary {
    font-size: small;
    color: #2e3436;
    padding-top: 5px;
    padding-bottom: 6px;
    list-style-position: outside;
    margin-left: 5px;
    line-height: 1.2;
}

.tools-SubDetails > summary .global-button-Icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.tools-SubDetails .tree-Top {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 0;
    margin-bottom: 8px;
}

.tools-SubDetails .tree-Leaf .global-button-Link {
    position: relative;
    bottom: 2px;
    align-items: start;
}

.tools-SubDetails .tree-Node {
    padding-bottom: 2px;
}


/*******************************************************************************
* .tree-
*******************************************************************************/

.tree-Node {
    margin: 0;
    background-image: url("../icons/tree/line-repeat.png");
    background-position: 0 22px;
    background-repeat: no-repeat;
    background-size: 16px 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 10px;
    list-style: none;
} 

.tree-Node:last-child {
    background-image: none;
    padding-bottom: 0;
}

.tree-Node > details {
    padding-left: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../icons/tree/branch-close.png");
    min-height: 22px;
}

.tree-Node > details[open] {
    background-image: url("../icons/tree/branch-open.png");
}

.tree-Node:last-child > details {
    background-image: url("../icons/tree/branch-close-last.png");
}

.tree-Node:last-child > details[open], .tree-Node:last-child > .tree-OpenContent {
    background-image: url("../icons/tree/branch-open-last.png");
}

.tree-Node > details > summary {
    list-style: none;
}

.tree-Node > details > summary::-webkit-details-marker {
  display: none;
}

.tree-Node > .tree-Leaf {
    padding-left: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../icons/tree/leaf.png");
    min-height: 22px;
}

.tree-Node:last-child > .tree-Leaf {
    background-image: url("../icons/tree/leaf-last.png");
}

.tree-OpenContent {
    padding-left: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../icons/tree/branch-open.png");
    min-height: 22px;
}

.tree-Top:before {
    content: " ";
    display: block;
    height: 5px;
    background-image: url("../icons/tree/line-repeat.png");
    background-repeat: repeat-y;
}


/*******************************************************************************
* .unit-
*******************************************************************************/

.unit-Body {
    background-color: #fff;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.unit-Body:empty {
    padding: 0;
}

.unit-Body > h2:first-child, .unit-BodyFirstTitle {
    margin-top: 0;
}

.unit-Header {
    background-color: #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 10;
    border-style: solid;
    border-color: #818181;
    border-width: 1px 0 0;
}

.unit-SimpleUnit {
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.unit-SimpleUnit .command-Submit {
    margin-top: 40px;
    margin-bottom: 20px;
}

.unit-Title {
    background-color: #d0d0d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 20px;
    font-size: small;
    color: #2e3436;
    margin: 0;
    font-weight: normal;
}

.unit-Title .global-button-Icon, .unit-TitleSpan {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.unit-Unit {
    margin-right: 8px;
    margin-left: 8px;
    border-style: solid;
    border-color: #818181;
    border-width: 0 1px 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}

.unit-Unit, .unit-SimpleUnit {
    display: inline-block;
    min-width: 55%;
}

.unit-Veil {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(229,229,229, 0.5);
}

.global-body-ListFrame .unit-Header {
    border-color: #25617a;
}

.global-body-ListFrame .unit-Title {
    color: #fff;
    background-color: #25617a;
}

.global-body-ListFrame .unit-Unit {
    border-color: #25617a;
}


@media (max-width: 575px) {
    
    .unit-Unit, .unit-SimpleUnit {
        display: block;
    }
}

@media (max-width: 991px) {
    
    .unit-Unit, .unit-SimpleUnit {
        min-width: 75%;
    }
}


.unit-Subunit {
    border-style: solid;
    border-color: #818181;
    border-width: 1px;
    display: inline-block;
    position: relative;
}

.unit-Subunit .unit-Header {
    position: static;
    border: none;
    background: none;
    z-index: 0;
}


/*******************************************************************************
* [data-tooltip]
******************************************************************************/

[data-tooltip] {
    position: relative;
}

[data-tooltip]:before {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: calc(100% + 2px);
    left: 1em;
    background: #3e474f;
    color: #edeff0;
    z-index: 2;
    border-radius: 2px;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    width: 17.5em;
    font-size: smaller;
    text-align: center;
    line-height: 1.4;
}

[data-tooltip]:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

[data-tooltip]:after {
    content: "\A0\1F6C8";
    color: #3e474f;
}