/*******************************************************************************
* Classes équivalentes à celles de Bootstrap
*******************************************************************************/

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.invisible {
    visibility: hidden;
}

.show {
    display: block !important;
}

@media (max-width: 767px) {
    
    .hidden_small {
        display: none !important;
    }
}