/*******************************************************************************
* .overlay- v 0.4.2
*******************************************************************************/

.overlay-Component_blocker {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;  height: 100%;
    overflow: hidden;
    z-index: 10000;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-Component_content {
    padding: 10px 20px;
    text-align: left;
    font-size: 90%;
    min-width: 20vw;
    max-width: 90vw;
    max-height: 70vh;
    overflow: auto;
    background-color: #fff;
}

.overlay-Component_dialog {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 10px #000;
    text-align: left;
}

.overlay-Component_footer {
    clear: both;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

.overlay-Component_header {
    text-align: left;
    font-size: large;
    min-height: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.overlay-Waiting {
    cursor: wait;
}

/*******************************************************************************
* .overlay-button-
*******************************************************************************/

.overlay-button-Close {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-color: #000;
    color: #fff;
}

.overlay-button-Close:hover {
    background-color: #ddd;
}


/*******************************************************************************
* Rajout Bdf
*******************************************************************************/

.overlay-Component_header {
    color: #fff;
    background-color: #25617a;
    border-bottom: 1px solid #25617a;
}

.overlay-Component_footer {
    background-color: #fff;
    border-top: 1px solid #25617a; /* added */
}

.overlay-button-Close:hover {
    background-color: #38a4d0;
}

.overlay-Component_footer button {
    color: #fff; 
    background-color: #25617a;
    border-color: #25617a; 
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5em .75em;
    line-height: 1.25;
    border-radius: .25em;
    transition: all .15s ease-in-out; 
}

.overlay-Component_footer button:hover {
    background-color: #38a4d0;
    cursor: pointer;
}

.overlay-Waiting .overlay-Component_footer button[type="submit"]:hover:disabled {
    cursor: wait;
    background-color: #61adff; 
}

.overlay-Waiting input[type="submit"] {
    cursor: wait;
}
