/*******************************************************************************
* .addenda-
*******************************************************************************/

.addenda-DocumentListUnit.unit-Unit .unit-Body {
    padding: 0;
}

.addenda-DocumentListUnit.unit-Unit .subsetitem-List > li {
    padding-bottom: 10px;
}

.addenda-Overlay .overlay-Component_content {
    padding-bottom: 0;
}

.addenda-Size {
    font-size: small;
    color: #2e3436;
    display: inline-block;
    margin-left: 10px;
}

.addenda-VersionLeaf {
    
}

.addenda-VersionTree {
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
}
