/*******************************************************************************
* .administration-
*******************************************************************************/

.administration-Balayages .tree-Top {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 0;
    margin-bottom: 0;
}

.administration-Balayages .tree-Leaf .global-button-Link {
    position: relative;
    bottom: 2px;
}

.administration-Balayages .tree-Node {
    padding-bottom: 2px;
}

.administration-Group {
    margin-left: 20px;
    margin-right: 8px;
    margin-top: 10px;
    padding-top: 10px;
}

.administration-Group > summary {
    font-size: medium;
    color: #2e3436;
}

.administration-List {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 16px;
    margin-top: 4px;
}
