/*******************************************************************************
* .album-
*******************************************************************************/

.album-IllustrationHeader.subset-ItemHeader {
    display: inline-flex;
}

.album-IllustrationThumbnail {
    margin-top: 5px;
    margin-bottom: 5px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.album-IllustrationThumbnail img {
    display: block;
}

.album-IllustrationListUnit.unit-Unit .unit-Body {
    padding: 0;
}

.album-IllustrationListUnit .subsetitem-List > li {
    padding-bottom: 10px;
    display: flex;
}

.album-IllustrationListUnit .subsetitem-Title > p{
    flex: 1;
}

.album-IllustrationListUnit .subsetitem-Infos {
    margin: 0;
}

.album-Text {
    flex: 1;
}

.album-Thumbnail {
    margin-right: 10px;
    text-align: center;
    flex: none;
}

