/*******************************************************************************
* balayage-
*******************************************************************************/

.balayage-CoreTree {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}

.balayage-CoreTree > .tree-Node:last-child {
    background-image: url("../icons/tree/line-repeat.png");
}

.balayage-CoreTree > .tree-Node:last-child > .tree-Leaf {
    background-image: url("../icons/tree/leaf.png");
}

.balayage-SubdirBranch {
    padding: 0;
    margin-top: 10px;
}

.balayage-SubdirName {
    font-style: italic;
}

.balayage-SubdirTitle {
    padding-top: 2px;
}

.balayage-SubdirTitle.balayage-Empty {
    color: #888;
}

.balayage-SubdirTree {
    padding: 0;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}


/*******************************************************************************
* balayage-contentstate-
*******************************************************************************/

.balayage-contentstate-ok a.pane-list-ContentLink {
    color: #000;
}

.balayage-contentstate-xml_error a.pane-list-ContentLink {
    color: #FF0000;
}


/*******************************************************************************
* balayage-state-
*******************************************************************************/

.balayage-state-contains_errors .pane-list-EntryTitle, .balayage-state-contains_errors .pane-list-Key, .balayage-state-contains_errors.balayage-SubdirName {
	color: #FF9900;
}

.balayage-state-disabled .pane-list-EntryTitle, .balayage-state-disabled .pane-list-Key {
	color: #FF0000;
}

.balayage-state-ok .pane-list-EntryTitle, .balayage-state-ok.balayage-SubdirName {
	color: #000;
}

.balayage-state-ok.balayage-SubdirName.balayage-Empty {
	color: #888;
}

.balayage-state-disabled .balayage-HiddenIfDisabled {
    display: none;
}