/*******************************************************************************
* .collections-
*******************************************************************************/

.collections-Branch {
    margin-top: 15px;
    margin-left: 5px;
    padding: 0;
}

.collections-Group {
    padding-bottom: 10px;
}

.tree-Node:last-child .collections-Group {
    padding-bottom: 0;
}

.collections-Group > summary {
    font-size: medium;
    padding-top: 1px;
    color: #2e3436;
}

.collections-MasterInfo {
    font-size: x-small;
    margin-top: 8px;
    color: #666;
    padding-bottom: 5px;
}

.collections-SubsetKey {
    font-size: smaller;
    color: #666;
}

.collections-SubsetLink {
    display: block;
    position: relative;
    top: 3px;
    font-size: small;
}

a.collections-SubsetLink, a.collections-SubsetLink:visited {
    color: #000;
}

a.collections-SubsetLink:hover {
    color: #e00000;
}

.collections-SubsetLink .subset-ItemCount {
    font-size: smaller;
    color: #666;
}

.collections-SubsetLink .subset-ItemCount.subset-None {
    color: orange;
}

.collections-Tree {
    margin-top: 5px;
    padding: 0;
    margin-bottom: 15px;    
}

.collections-SubsetLeaf {
    margin-bottom: 5px;
}


/*******************************************************************************
* .collections-category-
*******************************************************************************/

.collections-category-Summary {
    background-color: #d0d0d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #818181;
    min-height: 20px;
    font-size: small;
    color: #2e3436;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.collections-category-Title {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}


/*******************************************************************************
* .collections-iso-
*******************************************************************************/

.collections-iso-Body {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: 4px;
}

.collections-iso-Head {
    font-size: small;
    color: #2e3436;
    line-height: 16px;
}

.collections-iso-Unit {
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}