/*******************************************************************************
* .configuration-
*******************************************************************************/

.configuration-GroupList {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 210px;
}

.configuration-GroupList .unit-Body {
    font-size: small;
}

.configuration-Info {
    font-style: italic;
}

.configuration-Logo {
    vertical-align: middle;
}

.configuration-TreeBoxes {
    position: relative;
    padding-right: 230px;
}

.configuration-Warning {
    color: orange;
}
