/*******************************************************************************
* .corpus-croisement-
*******************************************************************************/

.corpus-croisement-GroupList > li {
    list-style: none;
}

.corpus-croisement-GroupTitle {
    font-size: large;
}

.corpus-croisement-ItemList {
    font-size: small;
}

.corpus-croisement-SubsetTitle .subset-Title {
    font-size: medium;
}


/*******************************************************************************
* .corpus-fields-
*******************************************************************************/

.corpus-fields-CommandArea {
    grid-area: command;
}

.corpus-fields-CommandArea .unit-Unit {
    min-width: 75%;
}

.corpus-fields-Grid {
    display: grid;
    grid-template-areas: "command list";
    grid-template-columns: 66% 33%;
}

.corpus-fields-List {
    font-size: smaller;
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 25px;
}

.corpus-fields-List li {
    margin-bottom: 10px;
}

.corpus-fields-ListArea {
    grid-area: list;
}

.corpus-fields-Type {
    font-style: italic;
    color: #555;
    font-size: 0.9em;
    display: block;
    margin-left: 25px;
    margin-top: 6px;
}


@media (max-width: 767px) {
    
    .corpus-fields-Grid {
        display: block;
    }
}


/*******************************************************************************
* .corpus-log-
*******************************************************************************/

.corpus-log-DuplicateTable {
    border-collapse: collapse;
}

.corpus-log-DuplicateTable th {
    padding-right: 10px;
    font-size: 1.125rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.corpus-log-DuplicateTable td {
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    padding: 5px;
}

