#dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


/*********************************
 * #dashboard_body
 *******************************/

#dashboard_body {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#dashboard_body_main {
    background-color: #fff;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    flex-grow: 1;
}

#dashboard_body_nav {
    background-color: #e5e5e5;
    overflow: auto;
    width: 200px;
    flex-shrink: 0;
}


/*********************************
 * #dashboard_header
 *******************************/

#dashboard_header {
    flex-shrink: 0;
    width: 100vw;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: #444;
    display: grid;
    grid-template-areas:
            "burger title toolbar session";
    grid-template-columns: max-content max-content 1fr max-content;
    grid-gap: 25px;
    align-items: center;
}

#dashboard_header_burger {
    grid-area: burger;
    box-sizing: border-box;
    width: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    padding-left: 4px;
    padding-top: 1px;
    padding-right: 4px;
    padding-bottom: 5px;
    margin: 0;
    background-color: inherit;
}

#dashboard_header_burger:hover {
    cursor: pointer;
}

#dashboard_header_burger span {
    display: block;
    margin-top: 4px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
}

#dashboard_header_toolbar {
    grid-area: toolbar;
    margin: auto;
    display: flex;
    align-items: center;
}

#dashboard_header_session {
    grid-area: session;
    display: flex;
    align-items: center;
}

#dashboard_header_session a, #dashboard_header_session a:visited {
    color: white;
    margin-left: 15px;
}

#dashboard_header_session a:hover {
    color: orange;
}

#dashboard_header_session button {
    color: white;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 22px;
    margin-left: 15px;
}

#dashboard_header_session button:hover {
    color: orange;
    cursor: pointer;
}

#dashboard_header_title {
    grid-area: title;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}


/*********************************
 * @media
 *******************************/

@media (min-width: 900px) {
    
    #dashboard {

    }
}

@media (min-width: 1100px) {
    
    #dashboard {

    }
    
    #dashboard_body_nav {
        width: 300px;
    }

}

@media (min-width: 1400px) {
    
    #dashboard_body_nav {
        width: 400px;
    }
}

@media (max-width: 767px) {
        
    #dashboard_body {
        flex-direction: column;
        overflow: auto;
    }
    
    #dashboard_body_main {
        padding-left: 8px;
        overflow: visible;
    }
    
    #dashboard_body_nav {
        min-height: 20px;
    }
	
    #dashboard_header {
        grid-template-areas:
                "burger title session"
                "toolbar toolbar toolbar";
        grid-template-columns: max-content 1fr max-content;
        grid-row-gap: 0;
        grid-column-gap: 10px;
    }

}

@media print {
    
    #dashboard_header {
        display: none;
    }
    
    #dashboard_body_main {
        margin-left: 0;
        padding-top: 0;
    }

    #dashboard_body_nav {
        display: none;
    }    
}
