/*******************************************************************************
* .diagram-
*******************************************************************************/

.diagram-Corpus {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

.diagram-Diagram {

}

.diagram-GroupBlock {
    margin-bottom: 180px;
}

.diagram-GroupTitle {
    font-size: x-large;
    margin-top: 70px;
    margin-bottom: 70px;
}

.diagram-Links {
    font-size: x-small;
    margin-top: 5px;
    text-align: center;
    color: #2e3436;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #818181;
    padding: 5px;
}

.diagram-Links a, .diagram-Links a:visited {
    color: #2e3436;
}

.diagram-Links a:hover {
    text-decoration: underline;
}
