/*******************************************************************************
* .diagnostic-
*******************************************************************************/

.diagnostic-Category {
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.diagnostic-Category_error {
    background-image: url("../icons/16x16/diagnostic-error.png");
}

.diagnostic-Category_redirection {
    background-image: url("../icons/16x16/diagnostic-redirection.png");
}

.diagnostic-Category_servererror {
    background-image: url("../icons/16x16/diagnostic-servererror.png");
}

.diagnostic-Category_valid {
    background-image: url("../icons/16x16/diagnostic-valid.png");
}

.diagnostic-Category_unchecked {
    background-image: url("../icons/16x16/diagnostic-unchecked.png");
    animation-name: rotation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.diagnostic-Error {
    color: red;
}

.diagnostic-FicheList {
    margin-top: 0;
    font-size: smaller;
}

.diagnostic-Fields {
    font-size: smaller;
}

.diagnostic-Fiches.global-button-Link {
    margin-right: 0;
    margin-bottom: 0;
    min-height: inherit;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 1px;
}

.diagnostic-Fiches.global-button-Link .global-button-Text {
    margin-right: 2px;
}

.diagnostic-Link {
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.diagnostic-Link_broken .global-button-Icon {
    background-image: url("../icons/16x16/link-broken.png");
}

.diagnostic-Link_error .global-button-Icon {
    background-image: url("../icons/16x16/link-error.png");
}

.diagnostic-Link_redirection .global-button-Icon {
    background-image: url("../icons/16x16/link-redirection.png");
}

.diagnostic-Link_servererror .global-button-Icon {
    background-image: url("../icons/16x16/link-error.png");
}

.diagnostic-Link_valid .global-button-Icon {
    background-image: url("../icons/16x16/link-valid.png");
}

.diagnostic-None {
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}

.diagnostic-Prefix {
    color: #666;
}

.diagnostic-Running {
    font-size: small;
    display: block;
    color: #2e3436;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*******************************************************************************
* .diagnostic-cell-
*******************************************************************************/

.diagnostic-cell-Button {
    vertical-align: middle;
}

.diagnostic-cell-Report {
    font-size: small;
    line-height: 1.2;
    vertical-align: middle;
    word-break: break-all;
}

.diagnostic-cell-Url {
    vertical-align: middle;
    line-height: 1.2;
    word-break: break-all;
}