/*******************************************************************************
* .document-
*******************************************************************************/

.document-Buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.document-Client {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 4px;
    margin-right: 4px;
}

.document-Iframe {
    min-width: 75vw;
    min-height: 65vh;
    border: none;
    padding-bottom: 1px;
}

.document-NamingInfo {
    font-style: italic;
    font-size: 0.9em;
}

.document-Unit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.document-Unit .unit-Body {
    flex-grow: 1;
    overflow: auto;
}

.document-Unit .unit-Header {
    background-color: transparent;
}


/*******************************************************************************
* .document-extension-
*******************************************************************************/

a.document-extension-Link, a.document-extension-Link:visited {
    color: black;
    text-decoration: underline;
}

.document-extension-Added, .document-extension-Added a.document-extension-Link {
    color: green!important;
}

.document-extension-Changed, .document-extension-Changed a.document-extension-Link {
    color: blue!important;
}

.document-extension-Removed, .document-extension-Removed a.document-extension-Link {
    color: red!important;
    text-decoration: line-through;
}


/*******************************************************************************
* .document-upload-
*******************************************************************************/

.document-upload-Buttons {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5px;
    clear: both;
}

.document-upload-DragAndDropInfo {
    font-style: italic;
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 15px;
}

.document-upload-Input {
    margin-bottom: 0;
}

.document-upload-Input .global-FileInput {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.document-upload-Or {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style: italic;
}

.document-upload-Unit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.document-upload-Unit.document-upload-IframeUnit {
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

.document-upload-Unit .unit-Body {
    flex-grow: 1;
    overflow: auto;
}

.document-upload-Unit.document-upload-IframeUnit .unit-Body {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
}

.document-upload-Unit .unit-Header {
    background-color: transparent;
}

.document-upload-Url {
    display: block;
    width: calc(100% - 10px);
}