div.CodeMirror pre.CodeMirror-line {font-size: 115%; padding-top: 3px; padding-bottom: 3px; line-height: 1.3em}
div.CodeMirror pre.CodeMirror-line.bdf_zonediv {font-size: 100%}
div.CodeMirror pre.CodeMirror-line.bdf_zonediv .cm-ficheblock-zone-firstchars{font-size: 105%}


/*******************************************************************************
* .edition-
*******************************************************************************/

.edition-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edition-Header.subset-ItemHeader {
    margin-bottom: 0;
}

.edition-Page {
    height: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
}

.edition-Page .unit-SimpleUnit {
    padding-top: 0;
    padding-bottom: 0;
}

.edition-Page .unit-SimpleUnit p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.edition-Submit {
    margin-left: 10px;
    flex-shrink: 0;
}

.edition-Toolbar {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    flex-wrap: wrap;
    background-color: #e5e5e5;
    align-items: start;
}

.edition-Toolbar .tools-Details {
    margin-top: 0;
}

.edition-FicheframeToolbar {
    position: absolute;
    top: calc(100% + 10px);
    right: 30px;
    z-index: 10;
}

.edition-FicheframeFieldedit {
    position: absolute;
    top: 10px;
    left: 13px;
    z-index: 20;
}

.edition-Unit {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
}

.edition-Unit .command-Submit {
    margin-bottom: 20px;
}

/*******************************************************************************
* .edition-form-
*******************************************************************************/

.edition-form-Entries {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.edition-form-Page .edition-Unit {
    padding: 0;
    position: relative;
}


/*******************************************************************************
* .edition-indexation-
*******************************************************************************/

.edition-indexation-Page .edition-Unit {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    overflow: auto;
}

.subset-ItemHeader + .edition-Unit {
    margin-top: 12px;
}

.edition-indexation-Page .unit-SimpleUnit {
    margin-bottom: 10px;
    margin-top: 10px;
}


/*******************************************************************************
* .edition-result-
*******************************************************************************/

.edition-result-Page .edition-Unit {
    padding-left: 10px;
}

.edition-result-Page .unit-SimpleUnit {
    margin-bottom: 0;
    margin-top: 0;
}

.edition-result-Summary {
    height: 27px;
    padding-top: 5px;
    padding-bottom: 6px;
    box-sizing: border-box
}

.edition-result-SummaryContent {
    display: inline-block;
    vertical-align: middle;
}


/*******************************************************************************
* .edition-toc-
*******************************************************************************/

.edition-toc-Bar {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.edition-toc-Link {
    margin-right: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    padding: 3px 5px;
    background-color: #fff;
}