/*******************************************************************************
* .ficheform-
*******************************************************************************/

.ficheform-Buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 20px;
    text-align: right;
    line-height: 1.0;
}

.ficheform-Choice {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    margin-top: 2px;
}

.ficheform-Choice > * {
    margin-left: 3px;
    margin-right: 3px;
}

.ficheform-Comment {
}

.ficheform-Comment h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom-color: #a0a0a0;
    font-size: 1.35rem;
}

.ficheform-Comment:first-child h2 {
    margin-top: 40px;
}

.ficheform-Comment h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.ficheform-Comment hr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a0a0a0;
    border-bottom-width: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.ficheform-DragAndDropInfo {
    font-style: italic;
    margin-bottom: 40px;
}

.ficheform-InputLength {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    text-align: right;
    font-size: 0.7em;
    text-align: right;
    color: #2e3436;
}

.ficheform-MandatoryIcon {
    color: red;
    font-weight: bold;
    cursor: default;
}

.ficheform-MaxReached {
    color: blueviolet;
}

.ficheform-MaxExceeded {
    color: red;
}

.ficheform-Next {
    margin-top: 10px;
}

.ficheform-New {
    color: green;
}

.ficheform-Ordered > *:first-child .ficheform-UpHidden {
    display: none;
}

.ficheform-Ordered > *:last-child .ficheform-DownHidden {
    display: none;
}

.ficheform-Ordered > *:first-child .ficheform-UpInvisible {
    visibility: hidden;
}

.ficheform-Ordered > *:last-child .ficheform-DownInvisible {
    visibility: hidden;
}

.ficheform-SelectedLabel {
    font-style: italic;
}

.ficheform-SmallButton {
    border: none;
    background: transparent;
    padding: 0;
    color: #9abdea;
}

.ficheform-SmallButton:hover {
    color: red;
}

.ficheform-SubfieldsTable label {
    font-size: smaller;
}

.ficheform-SubfieldsTable td {
    vertical-align: top;    
}

.ficheform-SubfieldsTable .ficheform-Rowspan {
    vertical-align: middle;
}

.ficheform-ZoomedArea {
    background-color: #fafafa;
    color: #818181;
}


/*******************************************************************************
* Autre
*******************************************************************************/

.ui-autocomplete {
    font-size: smaller;
}

textarea.ficheform-Full, input.ficheform-Full {
    width: 100%;
    box-sizing: border-box;
}


/*******************************************************************************
* .ficheform-directinput-
*******************************************************************************/

.ficheform-directinput-Row {
    display: flex;
    align-items: center;
}

.ficheform-directinput-Label {
    font-size: small;
    color: #747474;
    margin-right: 4px;
}

.ficheform-directinput-Input {
    flex-grow: 1;
}


/*******************************************************************************
* .ficheform-document-
*******************************************************************************/

.ficheform-document-Added {
    color: blue;
}

.ficheform-document-Added .ficheform-document-Extensions a, .ficheform-document-Added .ficheform-document-Extensions a:visited {
    color: blue;
}

.ficheform-document-Basename {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: small;
    word-break: break-all;
}

.ficheform-document-Block {
    padding-right: 20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #888888;
    padding-left: 3px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ficheform-document-Block > * {
    margin-right: 3px;
    margin-left: 3px;
}

.ficheform-document-Buttons {
    display: inline-flex;
}

.ficheform-document-NameChanged {
    color: blue;
}

.ficheform-document-Created {
    color: green;
}

.ficheform-document-Removed, .ficheform-document-Removed .ficheform-document-Extensions a {
    color: red !important;
    text-decoration: line-through;
}


.ficheform-document-Extensions {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: small;
}

.ficheform-document-Extensions a, .ficheform-document-Extensions a:visited {
    text-decoration: underline;
    color: black;
}

.ficheform-document-Uri {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: small;
}

.ficheform-document-Extensions  a.ficheform-document-VersionAdded, .ficheform-document-Extensions a.ficheform-document-VersionAdded:visited {
    color: green;
}

.ficheform-document-Extensions a.ficheform-document-VersionChanged, .ficheform-document-Extensions a.ficheform-document-VersionChanged:visited {
    color: blue;
}

.ficheform-document-Extensions  a.ficheform-document-VersionRemoved, .ficheform-document-Extensions a.ficheform-document-VersionRemoved:visited {
    color: red;
    text-decoration: line-through;
}

.ficheform-document-FileCell label {
    font-size: smaller;
    margin-top: 20px;
}

.ficheform-document-FileCell > * {
    display: block;
    margin-bottom: 10px;
}

.ficheform-document-Tools {
    margin-bottom: 10px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #888888;
    padding-left: 3px;
}


/*******************************************************************************
* .ficheform-illustration-
*******************************************************************************/

.ficheform-illustration-AddButtons {
    margin-bottom: 10px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #888888;
    padding-left: 3px;
}

.ficheform-illustration-Block {
    display: inline-block;
    margin-right: 20px;
    min-width: 64px;
    min-height: 48px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #888888;
    padding-left: 3px;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
    margin-top: 5px;
}

.ficheform-illustration-Buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}

.ficheform-illustration-Changed {
    color: green;
}

.ficheform-illustration-FileCell label {
    font-size: smaller;
    margin-top: 20px;
}

.ficheform-illustration-FileCell > * {
    display: block;
    margin-bottom: 10px;
}

.ficheform-illustration-Image {
    margin-right: 20px;
    min-height: 32px;
}

.ficheform-illustration-Info {
    font-size: smaller;
    font-style: italic;
}

.ficheform-illustration-Uri {
    display: block;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: small;
    margin-right: 20px;
    margin-top: 4px;
}


/*******************************************************************************
* .ficheform-paste-
*******************************************************************************/

.ficheform-paste-Container {
    border-collapse: collapse;
}

.ficheform-paste-Container td {
    vertical-align: top;
    width: 40vw;
    padding: 0;
}

.ficheform-paste-Input {
    height: 50vh;
    position: relative;
    overflow: auto;
}

.ficheform-paste-Input .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-color: #818181!important;
    border-width: 1px;
}

.ficheform-paste-Label {
    background-color: #d0d0d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #818181;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #818181;
    font-size: small;
    color: #2e3436;
    margin-bottom: 0;
    font-weight: normal;
    margin-right: 8px;
    margin-left: 8px;
}


.ficheform-paste-Target {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-color: #818181;
    border-width: 1px;
    border-style: solid;
    background-color: #fcfcfc;
    overflow: auto;
}


/*******************************************************************************
* .ficheform-satellite-
*******************************************************************************/

.ficheform-satellite-Block {
    margin-top: 80px;
    margin-bottom: 80px;
}

.ficheform-satellite-Title {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #818181;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #818181;
    margin-left: -20px;
    margin-right: -20px;
    font-weight: normal;
    font-size: medium;
    color: #2e3436;
    margin-bottom: 20px;
}


/*******************************************************************************
* .ficheform-search-
*******************************************************************************/

.ficheform-search-Anchor {
   position: relative;
}

.ficheform-search-Cell {
   grid-column: 3;
}

.ficheform-search-Container {
   display: flex;
   align-items: center;
}

.ficheform-search-LastButton {
    margin-right: 10px;
}

.ficheform-search-DirectInput {
    position: relative;
    width: 140px;
    padding-right: 45px;
}

.ficheform-search-Form {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.ficheform-search-Form:hover .global-PlaceholderOnFocus::placeholder {
    color: inherit;
}

.ficheform-search-Here {
    color: #888;
}

.ficheform-search-List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ficheform-search-List li {
    padding: 8px 8px;
    font-size: small;
    margin: 0;
}

.ficheform-search-List a {
    color: #000;
}

.ficheform-search-List li:nth-child(even) {
    background-color: #f3f3f3;
}

.ficheform-search-List li.ficheform-search-Selected {
    background-color: #bbeeff;
}

.ficheform-search-Info {
    padding: 8px 8px;
    font-size: small;
    font-style: italic;
}

.ficheform-search-Popup {
    position: absolute;
    overflow: auto;
    width: max-content;
    max-width: 100%;
    min-width: 50%;
    max-height: 15rem;
    z-index: 101;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    box-shadow: 0 8px white, 8px 8px white, -8px 8px white;    
}

input[type="text"].ficheform-search-Input {
    border-top: none;
    border-left:none;
    border-right: none;
    border-radius: 0;
    flex-grow: 1;
    margin-left: 4px;
}


/*******************************************************************************
* .ficheform-section-
*******************************************************************************/

.ficheform-section-Area {
    margin-right: 20px;
    margin-left: 20px;
}

.ficheform-section-Area textarea {
    display: block;
    width: calc(100% - 25px);
    box-sizing: border-box;
    margin-left: 1px;
}

.ficheform-section-Area .CodeMirror {
    width: 100%;
    box-sizing: border-box;
}

.ficheform-section-AreaToolbar {
    float: right;
    width: 20px;
}

.ficheform-section-Buttons {
    display: flex;
    flex-wrap: wrap;
}

.ficheform-section-Buttons .global-button-Standard {
    margin: 0;
}

.ficheform-section-Entry {
    margin-top: 20px;
    margin-bottom: 30px;    
}

.ficheform-section-Label {
    margin-bottom: 10px;
}

.ficheform-section-PreviewIframe {
    border: none;
    min-width: 75vw;
    min-height: 60vh;
}

.ficheform-section-PreviewOverlay .overlay-Component_content {
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

.ficheform-section-Toolbar {
    background-color: #fafafa;
    padding: 4px;
    min-height: 27px;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    justify-content: space-between;
}

.ficheform-section-Toolbar.ficheform-section-Active {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #e5e5e5;
}

.ficheform-section-SyntaxSwitch {
    display: inline-flex;
    align-items: center;
}


/*******************************************************************************
* .ficheform-standard-
*******************************************************************************/

.ficheform-standard-Cell {
    grid-column: 3;
    padding-right: 45px;
    position: relative;
    margin-bottom: 5px;
    box-sizing: content-box;
    line-height: 1.3;
}

.ficheform-Auto, .ficheform-standard-Cell.ficheform-Auto {
    max-width: max-content;
}

.ficheform-Medium, .ficheform-standard-Cell.ficheform-Medium {
    width: 300px;
}

.ficheform-Small, .ficheform-standard-Cell.ficheform-Small {
    width: 140px;
}

.ficheform-XSmall, .ficheform-standard-Cell.ficheform-XSmall {
    width: 40px;
}

.ficheform-standard-Cell table {
    margin-top: 0;
}

.ficheform-standard-Colon {
    grid-column: 2;
    line-height: 1.3;
}

.ficheform-standard-Entry {
    display: grid;
    grid-template-columns: 250px 20px 1fr;
    align-items: start;
    margin-top: 7px;
    margin-bottom: 15px;
    position: relative;
}

.ficheform-standard-Label  {
    grid-column: 1;
    grid-row: 1 / span 5;
    overflow-wrap: anywhere;
    line-height: 1.3;
}


/*******************************************************************************
* .ficheform-fichetable-
*******************************************************************************/

.ficheform-fichetable-ButtonArea {
    display: flex;
    flex-direction: column;
}

.ficheform-fichetable-ButtonLine {
    display: flex;
    flex-direction: row;
}

.ficheform-fichetable-Checkbox {
    display: none;
}

.ficheform-fichetable-Number {
    text-align: right;
}

.ficheform-fichetable-Remove td {
    text-decoration: line-through;
}

.ficheform-fichetable-Remove td:first-child {
    text-decoration: none;
}

.ficheform-fichetable-Table {
    border-collapse: collapse;
    margin-bottom: 2px;
}

.ficheform-fichetable-Table td {
    padding-top: 0.3em;
    padding-bottom : 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 1px solid #a0a0a0;
    vertical-align: baseline;
    font-size: small;
}

.ficheform-fichetable-Table tr:nth-child(odd) {
    background-color: #f9f9f9;
}


/*******************************************************************************
* @media
*******************************************************************************/

@media (max-width: 767px) {
    
    .ficheform-standard-Entry {
        display: block;
    }
    
    .ficheform-standard-Cell {
        margin-top: 5px;
    }
    
    .ficheform-standard-Entry {
        margin-bottom: 25px;
    }
    
    .ficheform-section-Area {
        margin-left: 0;
        margin-right: 0;
    }
    
}

@media (max-width: 991px) {
    
    .ficheform-standard-Entry {
        grid-template-columns: 200px 15px 1fr;
    }
}


/*******************************************************************************
* Surcharge
*******************************************************************************/

.global-button-Transparent.action-section-AreaIncrease:hover,
.global-button-Transparent.action-section-AreaDecrease:hover,
.global-button-Transparent.action-ficheform-Poids_off:hover,
.global-button-Transparent.action-ficheform-Poids_on:hover {
    cursor: default;
}