/*******************************************************************************
* .ficheframe-
*******************************************************************************/

.ficheframe-FicheEdit {
    margin-bottom: 4px;
    display: flex;
    justify-content: end;
}

.ficheframe-Toc {
    display: flex;
    flex-flow: column;
    background-color: #fff;
    padding-left: 4px;
    padding-top: 4px;
}

.ficheframe-toc-Link {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    padding: 3px 5px;
    background-color: #fff;
}

.ficheframe-toc-Link.ficheframe-toc-Active {
    background-color: #ddd;
}