/*******************************************************************************
* .fiches-
*******************************************************************************/

.fiches-EmptyUnit.unit-SimpleUnit {
    font-size: small;
    color: #2e3436;
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
}

a.fiches-DisplayLink, a.fiches-DisplayLink:visited {
    color: #000;
}

a.fiches-DisplayLink.fiches-Discarded, a.fiches-DisplayLink.fiches-Discarded:visited {
    color: #666;
    text-decoration: line-through;
}

a.fiches-DisplayLink:hover, a.fiches-DisplayLink.fiches-Discarded:hover {
    /*color: #1f5166;*/
    color: red;
}

.fiches-Toolbar .tools-Details {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 8px;
}

/*******************************************************************************
* .fiches-corpus-
*******************************************************************************/

.fiches-Corpus {
    background-color: #fff;
    border-color: #25617a;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

.fiches-Corpus > details > summary {
    color: #fff;
    background-color: #25617a;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 14px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.fiches-Corpus > details > summary .subset-ItemCount {
    color: #fff;
}

.fiches-corpus-TableDetails.tools-Details {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.fiches-Corpus .subsetitem-List > li {
    padding-left: 32px;
    background-image: url("../icons/16x16/fiche-read.png");
    background-repeat: no-repeat;
    background-position: 8px 15px;
}
