.fqleditor-AvailableEntries {
    margin-bottom: 10px;
    text-align: center;
    background-color: #e5e5e5;
    position: sticky;
    top: 31px;
    display: flex;
    z-index: 10;
    padding: 5px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #818181;
    border-bottom-width: 1px;
}

.fqleditor-AvailableEntries .global-button-Link {
    margin-bottom: 0;
}

.fqleditor-Buttons {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}

.fqleditor-Client {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fqleditor-MultipleSelect {
    min-height: 50vh;
}

.fqleditor-Subquery {
    padding: 5px 10px;
    align-self: start;
    font-size: 0.9rem;
}

.fqleditor-Subquery .unit-Unit{
    margin-top: 0;
}

.fqleditor-Subquery .fqleditor-Summary, .fqleditor-Subquery .fqleditor-AvailableEntries {
    z-index: 5;
}

.fqleditor-Summary {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px 0 0;
    border-style: solid;
    min-height: 20px;
    font-size: small;
    position: sticky;
    top: 0;
    z-index: 10;
}

.fqleditor-Summary .global-button-Icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.fqleditor-SummaryTitle {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.fqleditor-Unit .global-button-Transparent {
    vertical-align: baseline;
}


/*******************************************************************************
* .fqleditor-overlay-
*******************************************************************************/

.fqleditor-overlay-Blocker.overlay-Component_blocker {
    justify-content: flex-start;
}

/*******************************************************************************
* .fqleditor-subsets-
*******************************************************************************/

.fqleditor-subsets-GroupTitle {
    display: block;
    font-weight: bold;
    font-size: x-small;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 8px;
}

.fqleditor-subsets-GroupDiv {
    margin-left: 15px;
    margin-bottom: 10px;
}

.fqleditor-subsets-Label {
    display: block;
    margin-bottom: 4px;
}

.fqleditor-subsets-OptionItem {
    margin-bottom: 4px;
}

.fqleditor-subsets-OptionList {
    margin-bottom: 15px;
}