/*******************************************************************************
* geocodage-
*******************************************************************************/

.geocodage-Adress {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.geocodage-AdressInput {
    margin-left: 5px;
    margin-bottom: 8px;
}

.geocodage-AdressInput > input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.geocodage-AdressInput > div {
    margin-top: 5px;
}

.geocodage-Buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.geocodage-Client {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.geocodage-GeocodageAttributions {
    font-size: small;
    font-style: italic;
    margin-top: 0;
    color: #2e3436;    
}

.geocodage-Label {
    font-size: small;
    color: #2e3436;
}

.geocodage-Map {
    cursor: pointer!important;
    flex-grow: 1;
}


/*******************************************************************************
* leaflet- (surcharge)
*******************************************************************************/

.leaflet-dragging .geocodage-Map {
	cursor: move!important;
	cursor: -webkit-grabbing!important;
	cursor:    -moz-grabbing!important;
}
