.history-FieldTitle {
    text-align: center;
}

.history-DiffArea {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

.history-FieldValue {
    border-style: solid;
    border-color: #ddd;
    border-width: 2px 1px 1px 2px;
    text-align: left;
    background-color: #fafafa;
    padding: 5px;
    display: inline-block;
    white-space: pre-wrap; 
}

.history-RevisionTable {
	font-size: small;
	margin-top: 20px;
}

.history-RevisionTable th {
	text-align: left;
	padding-left: 15px;
}

.history-RevisionTable td {
	padding-left: 30px;
	padding-right: 15px;
}

.history-RevisionTable td.history-ButtonCell {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.history-RevisionTable td.history-RevisionNameCell {
    text-align: center;
}

.history-RevisionButton {
    width: 100%;
}

.history-RevisionButton .global-button-Text{
    width: 100%;
    text-align: center;
}

.history-RevisionTable td.history-RadioCell {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.history-BeforeRow, .history-Row.history-BeforeRow:hover, .history-BeforeTitle {
	background-color: #ffe9e9;
}

.history-AfterRow, .history-Row.history-AfterRow:hover, .history-AfterTitle {
	background-color: #ddeeff;
}

.history-DiffTitle {
	float: left;
	width: 50%;
}

.history-DiffTitle h1 {
	text-align: center;
}

.history-fieldPanel {
	clear: left;
}

.history-fieldPanel .mergely-column {
    border: none;
}

.history-DiffInfo {
	font-size: small;
	text-align: center;
	margin-bottom: 25px;
}

.history-NoneInfo {
	font-style: italic;
	margin-top: 20px;
}

.history-Row:hover {
    background-color: #ffffdd;
}
	