/*******************************************************************************
* .illustration-
*******************************************************************************/

.illustration-Buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.illustration-Client {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 4px;
    margin-right: 4px;
}

.global-body-Transparent .illustration-Client {
    margin-left: 0;
    margin-right: 0;
}

.illustration-CurrentAction.global-button-Transparent {
    border-color: red;
}

.illustration-Iframe {
    min-width: 75vw;
    min-height: 65vh;
    border: none;
    padding-bottom: 1px;
}

.illustration-Image {
    border-style: dashed;
    border-width: 1px;
    border-color: #888888;
}

.illustration-Label {
    font-size: small;
    color: #2e3436;
    margin-right: 4px;
}

.illustration-Main {
    flex-grow: 1;
    overflow: auto;
}

.illustration-NotInteger {
    color: red;
}

.illustration-Overlay .overlay-Component_content {
    padding-bottom: 0;
}


/*******************************************************************************
* .illustration-change-
*******************************************************************************/

.illustration-change-CropBounds {
    font-size: small;
    margin-right: 8px;
}

.illustration-change-Infos {
    display: none;
}

.illustration-change-Infos.illustration-CurrentInfos {
    display: block;
    background-color: white;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.illustration-change-Infos.illustration-CurrentInfos form {
    display: flex;
    align-items: center;
}

.illustration-change-Infos .global-button-Standard {
    margin-bottom: 0;
    margin-right: 0;
}

.illustration-change-Infos input {
    margin-right: 12px;
}

.illustration-change-InfosPanel {
    min-height: 50px;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.illustration-change-Main {
    text-align: center;
    margin-left: 30px;
    margin-right: 5px;
    padding: 2px;
    flex-grow: 1;
    overflow: auto;
}

.illustration-change-Tools {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    padding-top: 40px;
}


/*******************************************************************************
* .illustration-upload-
*******************************************************************************/

.illustration-upload-Buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.illustration-upload-DragAndDropInfo {
    font-style: italic;
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 15px;
}

.illustration-upload-Info {
    font-style: italic;
    margin-top: 0;
    font-size: small;
}

.illustration-upload-Input {
    margin-bottom: 0;
}

.illustration-upload-Input .global-FileInput {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.illustration-upload-Or {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-style: italic;
}

.illustration-upload-Unit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.illustration-upload-Unit.illustration-upload-IframeUnit {
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

.illustration-upload-Unit .unit-Body {
    flex-grow: 1;
    overflow: auto;
}

.illustration-upload-Unit.illustration-upload-IframeUnit .unit-Body {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
}

.illustration-upload-Unit .unit-Header {
    background-color: transparent;
}

.illustration-upload-Url {
    display: block;
    width: calc(100% - 10px);
}


/*******************************************************************************
* .illustration-uploadconfirm-Mini
*******************************************************************************/

.illustration-uploadconfirm-Mini {
    text-align: center;
}


/*******************************************************************************
* .imgareaselect-
*******************************************************************************/

.imgareaselect-border1 {
    background: url("../icons/border-v.gif") repeat-y left top;
}

.imgareaselect-border2 {
    background: url("../icons/border-h.gif") repeat-x left top;
}

.imgareaselect-border3 {
    background: url("../icons/border-v.gif") repeat-y right top;
}

.imgareaselect-border4 {
    background: url("../icons/border-h.gif") repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {
}
