/*******************************************************************************
* .index-
*******************************************************************************/

.index-Body {
    margin-top: 70px;
}

.index-Exit {
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 1px;
    background-color: transparent;
}

.index-Exit:hover, .index-Exit:focus {
    color: #f90;
    text-decoration: none;
}

.index-Flow {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
}

.index-Group {
    margin: 20px 0;
    box-sizing: border-box;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: -1px 1px 5px #c9c9c9;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 20px;
}

.index-Presence {
    font-size: 16px;
    line-height: 1.5em;
    column-width: 280px;
    flex-grow: 1.0;
}


.index-Search {
    width: 350px;
    flex-shrink: 1.0;
    padding: 15px 15px;
}

.index-Logo {
    margin: auto;
    display: block;
}

.index-Menubar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background-color: #444;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-Title {
    text-align: center;
    font-weight: normal;
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 60px;
}

.index-User {
    font-size: 0.8em;
}


/*******************************************************************************
* .index-fichotheque-
*******************************************************************************/

.index-fichotheque-Entry:nth-child(2n) {
    background-color: #f9f9f9;
}

.index-fichotheque-Entry {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    break-inside: avoid;
}

.index-fichotheque-Icon32 {
    flex-shrink: 0;
    flex-grow: 0;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.index-fichotheque-IconPlaceHolder {
    flex-shrink: 0;
    flex-grow: 0;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-color: #e5ebfb;
    
}

.index-fichotheque-Link {
    
}

.index-fichotheque-List {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*******************************************************************************
* .index-search-
*******************************************************************************/

.index-search-Container {
    display: flex;
    background-color: #e5e5e5;
    height: 100%;
}

.index-search-List {
    width: 300px;
    margin-right: 10px;
    font-size: 0.8rem;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    border-top-left-radius: 5px;
    background-color: #fff;
}

.index-search-Iframe {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: #fff;
    height: calc(100% - 30px);
}

.index-search-Iframe.index-search-WithBorder {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    border-top-left-radius: 5px;
    background-color: #fff;
}

.index-search-IframeFieldedit {
    position: absolute;
    top: 45px;
    left: 1px;
    z-index: 10;
}

.index-search-IframeToolbar {
    position: absolute;
    top: 45px;
    right: 10px;
    z-index: 10;
}

.index-search-OverlayContent {
    height: 90vh;
    max-height: 100vh;
    width: 90vw;
    background-color: #e5e5e5;
}

.index-search-Tools {
    height: 30px;
    text-align: right;
    padding-right: 10px;
}

.index-search-Viewer {
    flex-grow: 1.0;
    position: relative;
}


/*******************************************************************************
* .index-search-form-
*******************************************************************************/

.index-search-form-Block {
    display: flex;
    padding: 10px;
}

.index-search-form-Button {
    flex-shrink: 0;
}

.index-search-form-ButtonBlock {
    padding: 10px;
    text-align: right;
}

.index-search-form-Input {
    flex-grow: 1;
    margin-right: 10px;
}

.index-search-form-Input input {
    width: 100%;
}

.index-search-form-Select {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

/*******************************************************************************
* .index-search-list-
*******************************************************************************/

.index-search-list-Corpus {
    margin-bottom: 16px;
}

.index-search-list-Corpus > summary {
    color: #fff;
    background-color: #25617a;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 14px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.index-search-list-Corpus > summary .index-search-FicheCount {
    color: #fff;
    font-size: 90%;
}

.index-search-list-Entries {
    margin-bottom: 40px;
}

.index-search-list-Entries ul {
    margin: 0;
    padding: 0;
}

.index-search-list-Entry {
    padding-left: 28px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-image: url("../icons/16x16/fiche-read.png");
    background-repeat: no-repeat;
    background-position: 5px 8px;
    list-style: none;
}

.index-search-list-Entry:nth-child(2n) {
    background-color: #f9f9f9;
}

.index-search-list-Entry a, .index-search-Entry a:visited {
    color: #2e3436;
}

.index-search-list-Entry a:hover {
    color: red;
}

.index-search-list-Fichotheque {
    font-size: 1.1rem;
    padding-left: 5px;
    margin-top: 20px;
}

.index-search-list-Title {
    text-align: center;
    font-weight: normal;
    font-size: 1.1rem;
    padding: 5px;
    /*color: #fff;
    background-color: #25617a;*/
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #818181;
}

@media screen and (min-width: 1200px) {
	
    .index-search-List {
            width: 500px;
    }
	
}






