/*******************************************************************************
* login-
*******************************************************************************/

.login-Block {
    text-align: center;
    margin-top: 50px;
}

input[type="text"].login-Input, input[type="password"].login-Input  {
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: #555555;
    border-bottom-style: solid;
    border-radius: 0;
}

.login-Icon {
    background-image: url("../../images/icon.png");
}

.login-Logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-Subtitle {
    margin-top: 30px;
    font-size: small;
    font-weight: bold;
}

.login-Text {
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.login-Title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.login-Title:first-child {
    margin-top: 20px;
}

.login-Unit {
    display: inline-block;
    text-align: left;
}

.login-Unit.unit-Unit {
    min-width: inherit;
}

.login-Unit .unit-Body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    text-align: center;
}

.login-Unit .grid-Table {
    display: inline-grid;
    text-align: left;
}

.login-Unit .grid-Table > .grid-Row > *, .login-Unit .grid-Table > .grid-Row > *:first-child {
    margin-top: 0;
    margin-bottom: 10px;
}

.login-Warning {
    color: red;
}

@media (max-width: 480px) {
    
    .login-Unit.unit-Unit {
        min-width: 65%;
    }
    
    .login-Unit .grid-Table {
        display: block;
    }
    
    .login-Unit .grid-Table > .grid-Row > *, .login-Unit .grid-Table > .grid-Row > *:first-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .login-Unit .grid-Table .grid-Row {
        margin-bottom: 25px;
    }
    
    .login-Text {
        margin-top: 40px;
    }
}

