/*******************************************************************************
* .mailing-
*******************************************************************************/

.mailing-AttachmentList {
    list-style: none;
    margin-left: 35px;
    padding: 0;
    margin-bottom: 40px;
}

.mailing-AttachmentList li {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mailing-SelfBcc {
    font-size: small;
    margin-top: 5px;
    margin-left: 10px;
}

.mailing-Document {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: small;
}

.mailing-Fiche {
    font-size: small;
}

.mailing-InputParagraph {
    margin-bottom: 30px;
}

.mailing-InputParagraph > label {
    display: block;
    margin-bottom: 10px;
    
}

.mailing-InputParagraph input[type="text"], .mailing-InputParagraph textarea {
    display: inline-block;
    width: calc(100% - 50px);
}

.mailing-Size {
    font-size: x-small;
}

.mailing-WrongAddress .grid-LabelCell {
    color: blue;
}

.mailing-Version {
    font-family: "DejaVu Sans Mono", monospace;
}

.mailing-VersionBranch {
    padding: 0;
    margin-top: 10px;
}
