/*******************************************************************************
* .main
*******************************************************************************/

#main {
    box-sizing: border-box;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #818181;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    overflow: hidden;
}

#main_menu {
    width: 100vw;
    background-color: #e5e5e5;
    margin-top: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#main_body {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

#main_body_tool {
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    flex-direction: column;
    width: 14px;
}

#main_body_list {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

#main_body_edition {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    position: relative;
}

#main_body_list, #main_body_edition {
    border-top-left-radius: 5px;
}

#main_body_list_iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
}

#main_body_edition_iframe {
    flex-grow: 1;
    margin: 0;
    border: none;
}

#main_body_edition_iframe.main-WebContent {
    padding-left: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    border-top-left-radius: 5px;
    background-color: #fff;
}

#main_body_edition_toolbar {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
}

#main_body_edition_fieldedit {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 20;
}

@media (min-width: 768px) {
    #main_body_list {
        width: 330px;
    }
}

@media (min-width: 992px) {
    #main_body_list {
        width: 440px;
    }
}


@media (min-width: 1400px) {
    
    #main_body_list {
        width: 550px;
    }
}


/*******************************************************************************
* .main-button-
*******************************************************************************/

.main-button-Small {
    height: 14px;
    width: 14px;
    padding: 0;
    margin: 0;
    padding-bottom: 1px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1px;
}

.main-button-Small span {
    line-height: 10px;
}

.main-button-Small:hover {
    border-color: red;
    cursor: pointer;
}
