/*******************************************************************************
* .memento-
*******************************************************************************/

.memento-Branch {
    padding: 0;
    margin-top: 10px;
}

.memento-Branch.tree-Top:before {
    height: 3px;
}

.memento-Summary {
    background-color: #d0d0d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #818181;
    min-height: 20px;
    font-size: small;
    color: #2e3436;
    position: sticky;
    top: 0;
    z-index: 10;
}

.memento-Text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: small;
    color: #2e3436;
    line-height: 1.35;
    overflow-wrap: anywhere;
}

.memento-Text dt {
    margin-top: 20px;
}

.memento-Text dd {
    margin-top: 10px;   
    margin-bottom: 10px;
    margin-left: 15px;
}

.memento-Text code, .memento-Text var, .memento-Text samp, .memento-Text kdb {
    font-size: 110%;
}

.memento-Title {
    font-size: smaller;
    color: #2e3436;
    padding-top: 1px;
    line-height: 1.4;
}

.memento-Unit {
    margin-top: 20px;
}

.memento-Tree {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.memento-Unit .unit-Body {
    padding-bottom: 15px;
    padding-left: 10px;
}