/*******************************************************************************
* .menu-
*******************************************************************************/

.menu-ActionBlock {
    margin-left: 15px;
}

.menu-Container.menu-NoScript {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.menu-Container .global-button-Link {
    margin-right: 0;
    margin-bottom: 0;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-EmptySpace {
    display: block;
    height: 24px;
}

.menu-LogoBlock {
    margin-left: 15px;
    margin-right: 15px;
}

.menu-LogoBlock img {
    display: block;
}
.menu-FicheBlock {
    margin-left: 20px;
}

.menu-SessionBlock {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 48px;
}


/*******************************************************************************
* .menu-action-
*******************************************************************************/

.menu-action-Select {
    padding-left: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-image: url("../icons/16x16/menu-actions.png");
}

.menu-action-Select optgroup {
    margin-top: 8px;
    margin-bottom: 8px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}


/*******************************************************************************
* .menu-fiche-
*******************************************************************************/

.menu-fiche-CreationForm form {
    display: flex;
    align-items: center;
}

.menu-fiche-DirectAccess {
    height: 24px;
    box-sizing: border-box;
    padding-top: 3px;
    font-size: small;
    display: flex;
    align-items: center;
    color: #2e3436;
    margin-left: 4px;
}

.menu-fiche-DirectAccess input {
    margin-left: 4px;
    max-height: 21px;
}