/*******************************************************************************
* .misc-fichesgeo-
*******************************************************************************/

.misc-fichesgeo-Map {
    height: 600px;
}

.misc-fichesgeo-Page .unit-Body {
    padding: 0;
}


/*******************************************************************************
* .misc-iso-
*******************************************************************************/

.misc-iso-Table {
    border-collapse: collapse;
    width: 100%;
}

.misc-iso-Table tr:nth-child(even) {
    background-color: #eff0f1;
}

.misc-iso-Table td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
}
.misc-iso-Table td:first-child {
    padding-left: 20px;
    padding-right: 10px;
    font-family: "DejaVu Sans Mono", monospace;
}

.misc-iso-Unit .unit-Body {
    padding: 0;
}


/*******************************************************************************
* .misc-stats-
*******************************************************************************/

.misc-stats-Number {
    text-align: right;
}

.misc-stats-Table {
    border-collapse: collapse;
}

.misc-stats-Table td {
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    padding: 5px;
}
