/************************************************
 * .multi-
 ***********************************************/

.multi-Button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: medium;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.multi-CollectionTitle {
    margin-top: 30px;
    font-size: 1.125rem;
    margin-bottom: 10px;
}



.multi-ExcludeSubset {
    color: #f00;
    text-decoration: line-through;
}

.multi-GlobalDetails {
    padding-bottom: 5px;
    margin-left: 10px;
}

.multi-Hidden {
    display: none;
}

.multi-IncludeSubset {

}

.multi-Intertitle {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.multi-Items_all.multi-Checked {
    color: #0d0;
}

.multi-Items_none.multi-Checked {
    color: #f00;
}

.multi-Items_selection.multi-Checked {
    color: #f90;
}

.multi-Node {
    margin-left: 20px;
}


/************************************************
 * .multi-fichotheque-
 ***********************************************/

.multi-fichotheque-Icon32 {
    flex-shrink: 0;
    flex-grow: 0;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.multi-fichotheque-IconPlaceHolder {
    flex-shrink: 0;
    flex-grow: 0;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-color: #e5ebfb;
}

.multi-fichotheque-Inactive {
    text-decoration: line-through;    
}

.multi-fichotheque-List .pane-list-EntryHeader {
    font-size: medium;
    line-height: 1.4;
}

.multi-fichotheque-List .tools-Details {
    margin-top: 0;
    padding-bottom: 20px;
    margin-left: 30px;
}

.multi-fichotheque-List .multi-fichotheque-Name {
    display: block;
}

.multi-fichotheque-List .multi-fichotheque-Title {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.multi-fichotheque-Name {
    color:#666;
    font-size: small;
}

.multi-fichotheque-NotInit {
    margin-top: 0;
    padding-bottom: 20px;
    margin-left: 42px;
    font-style: italic;
    color: #2e3436;
}

.multi-fichotheque-Title {
    
}


/************************************************
 * .multi-form-
 ***********************************************/

.multi-form-EmptyToolbar {
    background-color: #fff;
}


/************************************************
 * .multi-node-
 ***********************************************/

.multi-node-Group {
    font-style: italic;
    font-weight: bold;
    font-size: small;
}

.multi-node-Subset {
    margin-bottom: 0;
}

.multi-node-ItemsBlock {
    margin-left: 20px;
}

.multi-node-Items {
    margin-top: 3px;
    font-size: small;
}



/************************************************
 * .multi-user-
 ***********************************************/

.multi-user-Common {
    color: #ccc;
}

.multi-user-Info {
    margin-bottom: 3px;
    margin-top: 3px;
}

.multi-user-Level {
    text-align: center;
    /*margin: auto;
    display: block;
    padding: 3px;
    width: 2em;*/
    /*border-width: 1px;
    border-style: solid;*/
    font-size: 1.2em;
    flex-grow: 1.0;
}

.multi-user-Level:hover {
    cursor: default;
}

.multi-user-Level_admin {
    color: #5983b0;
    font-size: 1.1em;
}

.multi-user-Level_here {
    color: #bbaa00;
}

.multi-user-Level_inactive {
    color: #999;
}

.multi-user-Level_nouser {
    color: #dd0000;
}

.multi-user-Level_readonly {
    color: #ff9900;
}

.multi-user-Level_user, .multi-user-Level_active {
    color: #4ede0d;
}

.multi-user-LevelSpan {
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    padding: 4px 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    width: 30px;
    text-align: center;
}

.multi-user-Status {
    font-size: small;
}

.multi-user-Symbol {
    font-size: 1.2em;
}

.multi-PersonList_readonly .multi-user-Name {
    color: gray;
}

.multi-PersonList_inactive .multi-user-Name {
    color: gray;
    text-decoration: line-through;
}


/************************************************
 * .multi-personmanager-
 ***********************************************/

.multi-personmanager-Active {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    background-color: #fff;
}

.multi-personmanager-Body {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.multi-personmanager-Body h2 {
    margin-top: 30px;
}

.multi-personmanager-Body .command-Submit {
    margin-top: 30px;
}

.multi-personmanager-CommandMessage {
    color: green;
    margin-top: 30px;
    text-align: center;
}

.multi-personmanager-Details {
    margin-top: 50px;
    margin-bottom: 50px;
}

.multi-personmanager-Details > div {
    margin-top: 15px;
    padding-left: 25px;
}

.multi-personmanager-FichothequeName {
    font-weight: bold;
}

.multi-personmanager-Fieldset {
    margin-top: 25px;
    margin-bottom: 0;
}

.multi-personmanager-Head {
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.multi-personmanager-SearchInputs {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    align-items: center;
    flex-wrap: wrap;
}

.multi-personmanager-SearchInputs .global-button-Standard {
    /*margin-bottom: 0;*/
}

.multi-personmanager-SearchInput {
    margin-right: 10px;
    line-height: 150%;
    margin-bottom: 4px;
}

.multi-personmanager-Status {
    border-collapse: collapse;
    font-size: smaller;
    padding-left: 25px;
    margin-top: 35px;
}

.multi-personmanager-Status th {
    text-align: left;
    padding-bottom: 5px;
    padding-right: 5px;
}

.multi-personmanager-Status td {
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    padding: 5px;
}


/************************************************
 * .multi-stats-
 ***********************************************/

.multi-stats-CellWithTools {
    display: flex;
    justify-content: space-between;
}

.multi-stats-Name {
    font-size: small;
    color: #666;
}

.multi-stats-Presence {
    text-align: center;
    font-size: medium;
}

.multi-stats-Presence_here {
    color: #0c0;
}

.multi-stats-Presence_notinit {
    color: #bbaa00;
}

.multi-stats-Name {
    font-size: small;
    color: #666;
}

.multi-stats-Symbol {
    text-align: center;
    cursor: default;
    font-size: 1.2em;
    flex-grow: 1.0;
}


.multi-stats-Table {
    font-size: small;
}

.multi-stats-Tools {
    width: 24px;
}


