/************************************************
 * .multiini-
 ***********************************************/

.multiini-Fichotheque {
    margin-top: 30px;
    margin-bottom: 30px;
}

.multiini-Main {
    text-align: center;
}

.multiini-Main .unit-Unit {
    text-align: left;
    display: inline-block;
}
