/*******************************************************************************
* pioche-
*******************************************************************************/

.pioche-Buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pioche-Client {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 4px;
    margin-right: 4px;
}

.pioche-Empty {
    color: #f00;
}

.pioche-Label {
    font-size: small;
    color: #2e3436;
    margin-right: 5px;
}

.pioche-Search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.pioche-Search .global-button-Standard {
    vertical-align: middle;
}

.pioche-SelectArea {
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    
}

.pioche-SelectArea select {
    min-width: 100%;
    border-style: none;
    background-color: #fff;
}

.pioche-Main {
    flex-grow: 1;
    overflow: auto;
}

.pioche-Tabs .global-button-Standard {
    margin-right: 1px;
    margin-bottom: 1px;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pioche-Tabs .global-button-Text {
    font-size: x-small;
    margin-left: 2px;
    margin-right: 2px;
}

.pioche-Title {
    margin-top: 15px;
    margin-bottom: 5px;
}