/*******************************************************************************
* .preview-
*******************************************************************************/

.preview-BackToEditor {
    position: absolute;
    display: block;
    right: -43px;
    border: none;
    width: 40px;
    padding-right: 2px;
    padding-left: 2px;
    text-align: right;
}

.preview-BackToEditor:hover {
    cursor: pointer;
}

.preview-Body {
    margin: 0;
    padding: 0;
}

.preview-Container {
    height: calc(100vh - 4px);
    overflow: auto;
    position: relative;
    background-color: #e5e5e5;
    
}

.preview-Highlight {
    background-color: #d7d4f0;
}


.preview-Reminder {
    position: absolute;
    display: block;
    left: 0;
    width: 2px;
    height: 5px;
    background-color: green;
}

.preview-Section {
    background-color: #fff;
    position: relative;
    border-right-color: #ddd;
    border-right-style: solid;
    border-right-width: 1px;
    margin-right: 45px;
    padding-right: 10px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height:calc(100% - 25px);
}
