/*******************************************************************************
* resource-
*******************************************************************************/

.resource-Branch {
    padding-left: 0;
    margin-top: 0;
    margin-left: 20px;
}

.resource-Entry {
    height: 22px;
    padding-top: 4px;
    box-sizing: border-box;
    padding-left: 20px;
}

.resource-Folder.tree-Node > details {
    padding-left: 0;
}

.resource-IFrame {
    width: 100%;
    border: none;
    min-width: 80vw;
    min-height: 50vh;
}

.resource-Tree {
    padding-left: 10px;
    background-image: url("../icons/tree/background.png");
    font-size: small;
    line-height: 1;
    white-space: nowrap;
    margin: 0;
}

.resource-Tree .tree-Node {
    padding: 0;
}


/*******************************************************************************
* resource-iframe-
*******************************************************************************/

.resource-iframe-Body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.resource-iframe-FileInput {
    flex-grow: 1;
}

.resource-iframe-FileInput .global-FileInput {
    width: calc(100% - 15px);
    display: block;
    box-sizing: border-box;
    margin-left: 5px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}


/*******************************************************************************
* resource-origin-
*******************************************************************************/

.resource-origin-Dist > div > a, .resource-origin-Dist > span {
    color: #888;   
}

.resource-origin-Etc > div > a,  .resource-origin-Etc > span {
    color: #a50;
}

.resource-origin-Unknown > div > a, .resource-origin-Unknown > span {
    color: #f00;
}

.resource-origin-VarOnly > div > a, .resource-origin-VarOnly > span {
    color: #080;
}

.resource-origin-VarOver > div > a, .resource-origin-VarOver > span {
    color: #03f;
}

