.restore-Table {
	font-size: small;
	margin-top: 20px;
}

.restore-Table th {
	text-align: left;
	padding-left: 15px;
}

.restore-Table td {
	padding-left: 30px;
	padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.restore-Table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.restore-Table .global-button-Standard {
    margin-bottom: 0;
}
