/*******************************************************************************
* role-
*******************************************************************************/

.role-EmptyAlert {
 font-style: italic;   
}

.role-Levels {
    font-size: small;
    margin-left : 40px;
}


/*******************************************************************************
* role-permission-
*******************************************************************************/

.role-permission-admin {
    color: green;
}

.role-permission-custom {
	color: blue;
}

.role-permission-none {
    color: red;
}

.role-permission-standard {
    color: black;
}


/*******************************************************************************
* role-subset-
*******************************************************************************/

.role-subset-Table {
    border-collapse: collapse;
    margin-left: 40px;
}

.role-subset-Table td {
    border-width: 1px;
    border-color: #2e3436;
    border-style: solid;
    font-size: small;
}


