/*******************************************************************************
* .selectionindexation-
*******************************************************************************/

.selectionindexation-Grid {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    width: 100%;
    align-items: center;
}

.selectionindexation-Corpus {
    grid-column: 1  / span 3;
    text-align: center;
    margin-top: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #818181;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.selectionindexation-Fiche {
    grid-column: 2;
    padding: 3px;
    font-size: small;
}

.selectionindexation-Fiche label.selectionindexation-Checked {
    color: #009900;
}


.selectionindexation-FicheIndexee {
    text-align: right;
}

.selectionindexation-FicheIndexee label {
    color: #ee0000;
}

.selectionindexation-Fiche.selectionindexation-FicheIndexee label.selectionindexation-Checked {
    color: #ee0000;
    text-decoration: line-through;
}

.selectionindexation-AddCheck {
    grid-column: 1;
    background-color: #88ff88;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.selectionindexation-DelCheck {
    background-color: #ff8888;
    grid-column: 3;
    padding: 5px;
}


/*******************************************************************************
* .selectionindexation-toolbar-
*******************************************************************************/

.selectionindexation-toolbar-AddButtons {
}

.selectionindexation-toolbar-AddTitle {
    font-size: small;
    text-align:left;
    background-color: #88FF88;
    padding: 5px;
}

.selectionindexation-toolbar-DelButtons {
    text-align:right;
}

.selectionindexation-toolbar-DelTitle {
    font-size: small;
    text-align:right;
    color: white;
    background-color: #FF8888;
    padding: 5px;
}

.selectionindexation-toolbar-Table {
    width: 100%;
    margin-top: 40px;
}

.selectionindexation-toolbar-Table td {
    width: 50%;
}
