/*******************************************************************************
* .selectform-
*******************************************************************************/
.selectform-AndOr {
    text-align: right;
    font-size: x-small;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selectform-AndOr > * {
    margin-left: 4px;
}

.selectform-Container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "corpus field croisement";
}

.selectform-Area {
    margin-left: 1.3vw;
    margin-right: 1.3vw;
}

.selectform-Area_corpus {
    grid-area: corpus;
}

.selectform-Area_field {
    grid-area: field;
}

.selectform-Area_croisement {
    grid-area: croisement;
}

.selectform-Area_fiche {
    grid-area: fiche;
}

@media (max-width: 890px) {
    
    .selectform-Container {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: max-content 1fr;
        grid-template-areas: "corpus field"
                             "corpus croisement";
    }
}

@media (max-width: 570px) {
    
    .selectform-Container {
        display: block;
    }
}

.selectform-Detail {
    margin-top: 5px;
    margin-left: 25px;
}

.selectform-GroupTitle {
    display: block;
    font-weight: bold;
    font-size: x-small;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 4px;
}

.selectform-GroupDiv {
    margin-left: 15px;
}

.selectform-Input {
    width: 100%;
    display: block;
}

.selectform-Label {
    display: block;
    margin-bottom: 4px;
    font-size: small;
}

.selectform-NewMotcleCondition {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.selectform-MotcleLogicalOperator {
    font-size: x-small;
    text-align: center;
    margin-top: 15px;
}

.selectform-Period .global-DateInputs {
    display: block;
}

.selectform-Submit {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.selectform-Submit > * {
    margin-right: 6px;
}

.selectform-Submit > button {
    margin-bottom: 0;
    margin-left: 6px;
}

.selectform-Unit.unit-Unit {
    display: block;
}

.selectform-ThesaurusSelect {
    font-size: small;
    width: 100%;
    display: block;
    margin-left: 3px;
}

.selectform-ThesaurusSelect optgroup {
    font-size: x-small;
}

.selectform-ThesaurusSelect option {
    font-size: small;
}


/*******************************************************************************
* .selectform-fieldset-
*******************************************************************************/

.selectform-fieldset-Corpus {
    background-color: #ffdfdf;
    border-color: #ff8383;
}

.selectform-fieldset-DiscardFilter {
    background-color: #ffdfdf;
    border-color: #ff8383;
}

.selectform-fieldset-DiscardFilter legend {
    font-size: x-small;
}

.selectform-fieldset-DiscardFilter select {
    font-size: x-small;
}

.selectform-fieldset-FicheCondition {
    background-color: #ffdfdf;
    border-color: #ff8383;
}

.selectform-fieldset-MotcleCondition {
    background-color: #dbfdff;
    border-color: #068edc;
}

.selectform-fieldset-Users {
    background-color: #dfffdf;
    border-color: #83ff83;
}