/*******************************************************************************
* .sphere-
*******************************************************************************/

.sphere-Admin {
    color: #5983b0;
}

.sphere-Admin:hover {
    cursor: help;
}

.sphere-Inactive .subsetitem-Title p {
    color: gray;
    text-decoration: line-through;
}

.sphere-NotAvailableInfo {
    color: gray;
}

.sphere-Readonly .subsetitem-Title p {
    color: #850;
}

.sphere-RedacteurListTitle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.sphere-RedacteurListUnit.unit-Unit .unit-Title {
    padding-bottom: 8px;
}

.sphere-RedacteurListUnit.unit-Unit .unit-Body {
    padding: 0;
}

.sphere-RedacteurListUnit .subsetitem-Title p {
    padding-left: 20px;
    text-indent: -20px;
}
