/*******************************************************************************
* tableexport-
*******************************************************************************/

.tableexport-EmptyAlert {
    font-style: italic;   
}

.tableexport-NotEditable {
    font-style: italic;   
}

.tableexport-SpanMessage {
    color: #FF9900;
}

.tableexport-TableTest table {
    border-collapse: collapse;
}

.tableexport-TableTest td {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    vertical-align: top;
    padding: 2px;
}

.tableexport-Tree {
    padding: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}


/*******************************************************************************
* tableexport-contentstate-
*******************************************************************************/

a.pane-list-ContentLink {
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    border-color: transparent;
    border-radius: 2px;
    color: #000;
}


.tableexport-contentstate-empty a.pane-list-ContentLink {
    border-color: #999999;
}

.tableexport-contentstate-empty_errors a.pane-list-ContentLink {
    border-color: #FF9900;
}

.tableexport-contentstate-ok a.pane-list-ContentLink {
    border-color: transparent;
}

.tableexport-contentstate-ok_errors a.pane-list-ContentLink {
    border-color: #FF9900;
}

.tableexport-contentstate-unknown_name a.pane-list-ContentLink {
    border-color: #FF0000;
}

.tableexport-contentstate-unknown_subset a.pane-list-ContentLink {
    border-color: #FF0000;
}


/*******************************************************************************
* tableexport-overlay-
*******************************************************************************/

.tableexport-overlay-BothSelect {
    height: 250px;
}

.tableexport-overlay-SubsetTable {
    width: 100%;
    margin-left: 0;
}

.tableexport-overlay-SubsetTable td {
    width: 50%;
    text-align: center;
    vertical-align: baseline;
    border: 1px solid black;
}

.tableexport-overlay-SubsetTable th {
    width: 50%;
    text-align: center;
    vertical-align: baseline;
    border: 1px solid black;
}

.tableexport-overlay-UniqueSelect {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


/*******************************************************************************
* tableexport-state-
*******************************************************************************/

.tableexport-state-contains_errors .pane-list-EntryTitle, .tableexport-state-contains_errors .pane-list-Key {
	color: #FF9900;
}

.tableexport-state-disabled .pane-list-EntryTitle, .tableexport-state-disabled .pane-list-Key {
	color: #FF0000;
}

.tableexport-state-empty .pane-list-EntryTitle, .tableexport-state-empty .pane-list-Key {
	color: #999999;
}

.tableexport-state-ok .pane-list-EntryTitle {
	color: #000;
}
