/*******************************************************************************
* .thesaurus-
*******************************************************************************/

.thesaurus-ChildTree {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
}

.thesaurus-ChildLeaf {
    margin-bottom: 20px;
}

.thesaurus-FilterDetails {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.thesaurus-FilterDetails .global-DetailPanel {
    font-size: small;
    color: #2e3436;
    padding-top: 1px;
    margin-left: 15px;
}

.thesaurus-FilterDetails .global-button-Text {
    font-size: x-small;
}

.thesaurus-FilterDetails .global-button-Standard {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 3px;
    height: auto;
}

.thesaurus-FilterResult {
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}

.thesaurus-GoBlock {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 20px;
}

.thesaurus-GoBlock .action-Go {
    margin-left: 4px;
}

.thesaurus-GoLabel {
    font-size: x-small;
}

.thesaurus-Group {
    font-style: italic;
}

.thesaurus-LongLabel {
    display: block;
    margin-top: 3px;
}

.thesaurus-MotcleListTitle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.thesaurus-MotcleListUnit.unit-Unit .unit-Title {
    padding-bottom: 8px;
}

.thesaurus-MotcleListUnit.unit-Unit .unit-Body {
    padding: 0;
}

.thesaurus-MotcleListUnit .subsetitem-Title p {
    text-indent: 20px hanging;
}

.thesaurus-MotcleListUnit .subsetitem-List .tools-Details > summary {
    font-size: x-small;
}

.thesaurus-MotcleListUnit .subset-satellite-CorpusTitle {
    font-size: x-small;
}

.thesaurus-Obsolete {
    text-decoration: line-through;
}
