/*******************************************************************************
* transformation-
*******************************************************************************/

.transformation-CorpusList {
    vertical-align: top;
}

.transformation-Empty {
    color: #888;
}

.transformation-ExtensionTitle {
    margin-left: 5px;
    font-family: "DejaVu Sans Mono", monospace;
    margin-top: 20px;
}

.transformation-ExtensionBlock {
    margin-left: 10px;
}

.transformation-Group {
    margin-left: 15px;
}

.transformation-GroupTitle {
    color: #2e3436;
    margin-top: 20px;
    margin-left: 5px;
}

.transformation-TemplateBlock {
   margin-bottom: 15px;
   margin-left: 15px;
}

.transformation-TemplateBlock  .pane-list-DeployBlock_sub {
    margin-bottom: 25px;
}

.transformation-TemplateTitle {
    margin-left: 0;
    margin-bottom: 5px;
}

.transformation-TestIframe {
    width: 70vw;
    height: 60vh;
}

.transformation-TitleBlock {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.transformation-Tree {
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.transformation-UpdateIframe {
    width: 100%;
    border: none;
    min-width: 80vw;
    min-height: 50vh;
}


/*******************************************************************************
* transformation-contentstate-
*******************************************************************************/

.transformation-contentstate-ok a.pane-list-ContentLink {
    color: #000;
}

.transformation-contentstate-xml_error a.pane-list-ContentLink {
    color: #FF0000;
}


/*******************************************************************************
* transformation-iframe-
*******************************************************************************/

.transformation-iframe-Body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.transformation-iframe-FileInput {
    flex-grow: 1;
}

.transformation-iframe-FileInput .global-FileInput {
    width: calc(100% - 15px);
    display: block;
    box-sizing: border-box;
    margin-left: 5px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}


/*******************************************************************************
* transformation-state-
*******************************************************************************/

.transformation-state-Empty span, .transformation-state-Empty .pane-list-Key {
    color: #888!important;
}

.transformation-state-Error span, .transformation-state-Error .pane-list-Key {
    color: #f00;
}

.transformation-state-Ok {
}

.transformation-state-Warning span, .transformation-state-Warning .pane-list-Key {
    color: #f90;
}


/*******************************************************************************
* transformation-templatestate-
*******************************************************************************/

.transformation-templatestate-error .pane-list-EntryTitle, .transformation-templatestate-error .pane-list-Key,
.transformation-templatestate-unknown_template_type .pane-list-EntryTitle, .transformation-templatestate-unknown_template_type .pane-list-Key {
    color: #f00;
}

.transformation-templatestate-ok .pane-list-EntryTitle {
    color: #000;
}

.transformation-templatestate-with_warnings .pane-list-EntryTitle, .transformation-templatestate-with_warnings .pane-list-Key {
    color: #f90;
}
