/*******************************************************************************
* .zoomedit-
*******************************************************************************/

.zoomedit-Body {
    flex-grow: 1;
    position: relative;
}

.zoomedit-Body .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zoomedit-Client {
    height: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
    padding-right: 4px;
    padding-left: 4px;
}

.zoomedit-Toolbar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}


/*******************************************************************************
* .zoomedit-buttons-
*******************************************************************************/

.zoomedit-buttons-Ficheblock {
    margin-left: 4px;
    display: flex;
    flex-wrap: wrap;
}

.zoomedit-buttons-Ficheblock .global-button-Standard {
    margin-right: 0;
    margin-left: 0;
}

.zoomedit-buttons-Window {
    margin-left: 4px;
}


/*******************************************************************************
* CodeMirror
*******************************************************************************/

div.CodeMirror pre.CodeMirror-line {font-size: 115%; padding-top: 3px; padding-bottom: 3px; line-height: 1.3em}
div.CodeMirror pre.CodeMirror-line.bdf_zonediv {font-size: 100%}
div.CodeMirror pre.CodeMirror-line.bdf_zonediv .cm-ficheblock-zone-firstchars{font-size: 105%}
