<a href="{{> fichothequeUrl}}edition?page=fiche-change&amp;corpus={{: corpusName}}&amp;id={{: ficheId}}{{if pageResultOptions}}&amp;page-result-options={{> pageResultOptions}}{{/if}}&amp;goto={{: goto}}" {{if editTarget}}target="{{: editTarget}}"{{/if}} class="global-button-Standard action-FicheEdit" id="ficheframe_button_fieldedit" >
    <span class="global-button-Icon"></span>
</a>
