{{if ficheInfo.editable}}
<div class="ficheframe-FicheEdit">
    <a href="{{> ficheInfo.fichothequeUrl}}edition?page=fiche-change&amp;corpus={{: ficheInfo.corpus}}&amp;id={{: ficheInfo.id}}{{if pageResultOptions}}&amp;page-result-options={{> pageResultOptions}}{{/if}}" {{if editTarget}}target="{{: editTarget}}"{{/if}} class="button-Circle action-FicheEdit" title="{{> ~loc('_ link.edition.fichechange_long')}}" id="ficheframe_button_ficheedit">
    <span class="global-button-Icon"></span>
</a>
</div>
{{/if}}
{{if toc.length > 0}}
<div class="ficheframe-Toc">
    {{for toc}}
    <a href="{{: ~root.ficheInfo.path}}#{{: id}}" id="linkto:{{: id}}" class="global-button-Link ficheframe-toc-Link" {{if ~root.tocTarget}}target="{{: ~root.tocTarget}}"{{/if}}>
        <span class="global-button-Text">{{> text}}</span>
    </a>
    {{/for}}
</div>
{{/if}}

