<div class="pane-list-Unit pane-list-Unique">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.exportation.scrutariexportlist')}}</p>
        <span class="global-Glue"></span>
        <button id="listpane_button_newscrutariexport" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.exportation.newexport')}}">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    <div id="listpane_body" class="pane-list-Body">
        <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
    </div>
</div>
