<div data-role="entry" data-name="{{: name}}" class="pane-list-Entry">
    <div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
        <span>
            <span class="pane-list-Key">[{{: name}}]</span>
            <span data-role="entry-title">{{> title}}</span>
        </span>
        <span class="global-Glue"></span>
        <button data-action="metadata" type="button" class="global-button-Transparent action-Metadata" title="{{> ~loc('_ link.global.change')}}">
            <span class="global-button-Icon"></span>
        </button>
        <button data-action="run" type="button" class="global-button-Transparent action-Run" title="{{> ~loc('_ link.exportation.run')}}">
            <span class="global-button-Icon"></span>
        </button>
        <button data-action="scrutariexportremove" type="button" class="global-button-Transparent action-Delete" title="{{> ~loc('_ link.global.delete')}}">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
