<input type="hidden" name="cmd" value="SelectionDefCreation">
<input type="hidden" name="json" value="selectiondef">
<p>
    {{> ~loc('_ label.selection.newselectionname')}}{{colon /}}
    <input type="text" name="newselection" value="" size="30">
</p>
<p>
    <label><input type="checkbox" name="fill" value="current">{{> ~loc('_ label.selection.fill_current')}}</label>
</p>

{{include tmpl="pane:commandkey_overlay"/}}
