{{if fiches.count == 0}}
<p>{{> ~loc('_ info.selection.empty')}}</p>
{{else}}
{{for fiches.entries}}
<details>
    <summary>{{> title}} ({{: array.length}})</summary>
    <ul>
    {{for array}}
        <li>{{: id}} – {{> title}}</li>
    {{/for}}
    </ul>
</details>
{{/for}}
{{/if}}
