td.Bdf {
    
}

td.RoleTitle {
    parent-style-name: Bdf;
    text-align: start;
    border-right: "0.002cm solid #000000";
    font-weight: bold;
}

td.SubsetTitle {
    parent-style-name: Bdf;
}

td.Status {
    parent-style-name: Bdf;
    border-left: "0.002cm solid #000000";
    border-right: "0.002cm solid #000000";
    border-top: "0.002cm solid #000000";
    border-bottom: "0.002cm solid #000000";
    text-align: center;
}

td.Admin {
    parent-style-name: Status;
    background-color: "#5983b0";
    color: "#ffffff";
}

td.Custom {
    parent-style-name: Status;
    background-color: "#ffde59";
}

td.None {
    parent-style-name: Status;
    background-color: "#d62e4e";
    color: "#ffffff";
}

td.Standard {
    parent-style-name: Status;
    background-color: "#bbe33d";
}

col.Subsets {
    column-width: "8cm";
}

col.Role {
    column-width: "3.5cm";
}

