td.Bdf {
    
}

td.ColumnHeader {
    parent-style-name: Bdf;
    font-weight: bold;
}

td.Login {
    parent-style-name: Bdf;
    font-weight: bold;
}

td.Status {
    parent-style-name: Bdf;
    border-left: "0.002cm solid #ffffff";
    border-right: "0.002cm solid #ffffff";
    border-top: "0.002cm solid #ffffff";
    border-bottom: "0.002cm solid #ffffff";
    text-align: center;
}

td.Admin {
    parent-style-name: Status;
    background-color: "#5983b0";
    color: "#ffffff";
}

td.User {
    parent-style-name: Status;
    background-color: "#bbe33d";
    
}

td.Readonly {
    parent-style-name: Status;
    background-color: "#ff9900";
    
}

td.Inactive {
    parent-style-name: Status;
    background-color: "#cccccc";
}

td.Custom {
    parent-style-name: Status;
    background-color: "#ffde59";
}

td.None {
    parent-style-name: Status;
    background-color: "#d62e4e";
    color: "#ffffff";
}

td.Standard {
    parent-style-name: Status;
    background-color: "#bbe33d";
}

col.Email {
    column-width: "8cm";
}

col.Roles {
    column-width: "5cm";
}

col.Subset {
    column-width: "3cm";
}