td.Bdf {
    
}

td.Status {
    parent-style-name: Bdf;
    border-left: "0.002cm solid #000000";
    border-right: "0.002cm solid #000000";
    border-top: "0.002cm solid #000000";
    border-bottom: "0.002cm solid #000000";
}

td.Admin {
    parent-style-name: Status;
    background-color: "#5983b0";
    color: "#ffffff";
    text-align: center;
}

td.User {
    parent-style-name: Status;
    background-color: "#bbe33d";
    text-align: center;
}

td.Readonly {
    parent-style-name: Status;
    background-color: "#ff9900";
    text-align: center;
}

td.Inactive {
    parent-style-name: Status;
    background-color: "#cccccc";
    text-align: center;
}

td.ColumnsLabel {
    parent-style-name: Bdf;
    padding-right: "0.5cm";
    text-align: end;
    background-color: "#25617a";
    color: "#ffffff";
}

td.RowsLabel {
    parent-style-name: Bdf;
    padding-left: "0.5cm";
    background-color: "#25617a";
    color: "#ffffff";
}

td.Diagonal {
    parent-style-name: Bdf;
    diagonal-tl-br: "0.74pt solid #ffffff";
    background-color: "#25617a";
}

td.ElementName {
    parent-style-name: Bdf;
    padding-left: "0.3cm";
    font-weight: bold;
}

td.ElementTitle {
    parent-style-name: Bdf;
    padding-left: "0.3cm";
    font-style: italic;
}

td.TopElementName {
    parent-style-name: ElementName;
    border-right: "0.002cm solid #000000";
}

td.TopElementTitle {
    parent-style-name: ElementTitle;
    border-right: "0.002cm solid #000000";
}

td.SphereName {
    parent-style-name: Bdf;
    text-align: center;
    border-right: "0.002cm solid #000000";
}

col.FixedColumn {
    column-width: "4cm";
}



