td.Bdf {
    
}

td.ColumnHeader {
    parent-style-name: Bdf;
    font-weight: bold;
}

td.Title {
    parent-style-name: Bdf;
    font-weight: bold;
    font-size: "14pt";
    font-style: "italic";
}
