<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: templateKey}}:{{: path}}" data-template-key="{{: templateKey}}" data-content-path="{{: path}}">
    <input type="hidden" name="cmd" value="TemplateContentChange">
    <input type="hidden" name="template" value="{{: templateKey}}">
    <input type="hidden" name="path" value="{{: path}}">
    <input type="hidden" name="json" value="transformation-templatedescription">
    <div class="pane-form-Head pane-HiddenInStock">
        <h1 class="pane-form-Title" data-stock-role="title">
            {{if split.subsetName}}
                <span class="cm-component-subset">{{: split.subsetCategory}}</span><span class="cm-quote">_{{: split.subsetName}}</span>/{{: split.templateName}}/{{: path}}
            {{else}}
                <span class="cm-component-field">{{: split.transformationKey}}</span>/{{: split.templateName}}/{{: path}}
            {{/if}}
        </h1>
        <div class="pane-form-Toolbar pane-HiddenInStock">
            <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.save')}}</span>
            </button>
            {{if withDeleteButton}}
            <button id="{{: formId}}_button_delete" type="button" class="global-button-Standard action-Delete" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.delete')}}</span>
            </button>
            {{/if}}
            {{if withTestButton}}
            <button id="{{: formId}}_button_test" type="button" class="global-button-Standard action-Test" data-state-enable="!change-current" data-role="testbutton" data-shortcut-tooltip="F1">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.test')}}</span>
            </button>
            {{/if}}
            {{if withOdFileTestButton}}
            <button id="{{: formId}}_button_odcontenttest" type="button" class="global-button-Standard action-Test" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.transformation.odfiletest', 'content.xml')}}</span>
            </button>
            <button id="{{: formId}}_button_odstylestest" type="button" class="global-button-Standard action-Test" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.transformation.odfiletest', 'styles.xml')}}</span>
            </button>
            {{/if}}
            <span class="global-Glue"></span>
            <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
            </button>
        </div>
    </div>
    <div class="pane-form-UniqueTextBody">
        <textarea cols="50" rows="3" id="{{: formId}}_content" name="content" class="pane-form-TextArea">{{> content}}</textarea>
    </div>
</form>