<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: templateKey}}" data-template-key="{{: templateKey}}" data-timer-type="form">
    <input type="hidden" name="cmd" value="TemplateDefChange">
    <input type="hidden" name="jsontype" value="json">
    <input type="hidden" name="json" value="transformation-templatedescription">
    <input type="hidden" name="template" value="{{: templateKey}}">
    <div class="pane-form-Head pane-HiddenInStock">
        <h1 class="pane-form-Title" data-stock-role="title">
            {{if split.subsetName}}
                <span class="pane-form-Key">[<span class="cm-component-subset">{{: split.subsetCategory}}</span><span class="cm-quote">_{{: split.subsetName}}</span>/{{: split.templateName}}]</span>
            {{else}}
                <span class="pane-form-Key">[<span class="cm-component-field">{{: split.transformationKey}}</span>/{{: split.templateName}}]</span>
            {{/if}}
            <span data-role="metadata-title">{{> title}}</span>
        </h1>
        <div class="pane-form-Toolbar pane-HiddenInStock">
            <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ submit.exportation.templatedefchange')}}</span>
            </button>
            <span class="global-Glue"></span>
            <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
            </button>
        </div>
    </div>
    <div class="pane-form-MetadataBody">
        
        {{include tmpl="pane:details_labels"/}}
        
        {{include tmpl="pane:details_attributes"/}}
        
        {{include tmpl="pane:commandkey_form"/}}
    </div>
</form>