<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: tableExportName}}/{{: path}}" data-table-export-name="{{: tableExportName}}" data-content-path="{{: path}}">
    <input type="hidden" name="cmd" value="TableExportContentChange">
    <input type="hidden" name="tableexport" value="{{: tableExportName}}">
    <input type="hidden" name="path" value="{{: path}}">
    <input type="hidden" name="jsontype" value="json">
    <input type="hidden" name="json" value="tableexport">
    <div class="pane-form-Head pane-HiddenInStock">
        <h1 class="pane-form-Title" data-stock-role="title">{{: tableExportName}}/<span class="cm-component-subset">{{: subsetCategory}}</span><span class="cm-quote">_{{: subsetName}}</span><span class="cm-bracket">.txt</span>{{if title}} <span class="cm-comment">({{> title}})</span>{{/if}}</h1>
        <div class="pane-form-Toolbar">
            <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.tableexport.save')}}</span>
            </button>
            <button id="{{: formId}}_button_delete" type="button" class="global-button-Standard action-Delete" {{if readOnly}}disabled="disabled"{{else}} data-state-enable="!change-current"{{/if}}>
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.delete')}}</span>
            </button>
            <button id="{{: formId}}_button_test" type="button" class="global-button-Standard action-Test" data-state-enable="!change-current" data-role="testbutton" data-shortcut-tooltip="F1">
                <span class="global-button-Icon"></span>
                <span class="global-button-Text">{{> ~loc('_ link.global.test')}}</span>
            </button>
            <span class="global-Glue"></span>
            <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
                <span class="global-button-Icon"></span>
            </button>
        </div>
    </div>
    <div class="pane-form-UniqueTextBody">
        <textarea cols="50" rows="3" id="{{: formId}}_content" name="content" class="pane-form-TextArea">{{> content}}</textarea>
    </div>
</form>