<form action="{{: action}}" method="POST" id="{{: formId}}" class="pane-form-Container" data-stock-role="handler" data-role="content-reference" data-content-key="{{: tableExportName}}" data-table-export-name="{{: tableExportName}}" data-timer-type="form">
    <input type="hidden" name="cmd" value="TableExportDefChange">
    <input type="hidden" name="json" value="tableexport">
    <input type="hidden" name="tableexport" value="{{: tableExportName}}">
<div class="pane-form-Head pane-HiddenInStock">
    <h1 class="pane-form-Title" data-stock-role="title"><span class="pane-form-Key">[{{: tableExportName}}]</span> <span data-role="metadata-title">{{> title}}</span></h1>
    <div class="pane-form-Toolbar">
        <button id="{{: formId}}_button_save" type="submit" class="global-button-Standard action-Save" disabled="disabled" data-state-enable="change-current" data-role="savebutton" data-shortcut-tooltip="MOD+S">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ submit.exportation.tableexportdefchange')}}</span>
        </button>
        <span class="global-Glue"></span>
        <button id="{{: formId}}_button_stock" type="button" class="global-button-Standard action-stock-Add" title="{{> ~loc('_ link.stock.add_current')}}" data-state-enable="!change-current">
            <span class="global-button-Icon"></span>
        </button>
    </div>
</div>
<div class="pane-form-MetadataBody">
    
    {{include tmpl="pane:details_labels"/}}
    
    <details class="unit-Unit pane-form-Unit" open>
        <summary class="pane-form-Summary action-Admin"><span class="global-button-Icon"></span><span class="pane-form-SummaryTitle">{{> ~loc('_ title.exportation.tableexportparameters')}}</span></summary>
        <div class="unit-Body">
            <div class="grid-Table">
                <fieldset class="grid-Row grid-choice-Fieldset">
                    <legend class="grid-choice-Legend grid-Ignore">
                        <span class="grid-LabelCell">{{> ~loc('_ title.exportation.langmode')}}</span>
                        <span class="grid-ColonCell">{{colon /}} </span>
                    </legend>
                    <div class="grid-choice-Content grid-Ignore">
                        <span class="grid-choice-InputCell">
                            <input id="{{: formId}}_none" type="radio" value="" name="langmode"{{if langMode.current === ""}} checked{{/if}}>
                        </span>
                        <span class="grid-choice-LabelCell">
                            <label for="{{: formId}}_none">{{> ~loc('_ label.exportation.langmode_none')}}</label>
                        </span>
                        <span class="grid-choice-InputCell">
                            <input id="{{: formId}}_working" type="radio" value="working" name="langmode"{{if langMode.current === "working"}} checked{{/if}}>
                        </span>
                        <span class="grid-choice-LabelCell">
                            <label for="{{: formId}}_working">{{> ~loc('_ label.exportation.langmode_working')}}</label>
                        </span>
                        <span class="grid-choice-InputCell">
                            <input id="{{: formId}}_supplementary" type="radio" value="supplementary" name="langmode"{{if langMode.current === "supplementary"}} checked{{/if}}>
                        </span>
                        <span class="grid-choice-LabelCell">
                            <label for="{{: formId}}_supplementary">{{> ~loc('_ label.exportation.langmode_supplementary')}}</label>
                        </span>
                        <span class="grid-choice-InputCell">
                            <input id="{{: formId}}_custom" type="radio" value="custom" name="langmode" data-deploy-role="radio" data-deploy-target="#{{: formId}}_custom_details"{{if langMode.current === "custom"}} checked{{/if}}>
                        </span>
                        <span class="grid-choice-LabelCell">
                            <label for="{{: formId}}_custom">{{> ~loc('_ label.exportation.langmode_custom')}}</label>
                        </span>
                        <div class="global-DetailPanel grid-choice-DetailCell {{if langMode.current !== "custom"}}hidden{{/if}}" id="{{: formId}}_custom_details">
                            <div class="grid-Table">
                                <p class="grid-Row">
                                    <label for="{{: formId}}_custom_input" class="grid-LabelCell">
                                        {{> ~loc('_ label.exportation.langcustom')}}
                                    </label>
                                    <span class="grid-ColonCell">{{colon /}} </span>
                                    <span class="grid-InputCell">
                                         <input id="{{: formId}}_custom_input" type="text" name="langlist" size="30" value="{{> langMode.customLangs}}">
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </details>

    {{include tmpl="pane:details_attributes"/}}
    
    {{include tmpl="pane:commandkey_form"/}}

</div>
</form>