<section id="{{: historyId}}" class="unit-Unit">
    <header class="unit-Header">
        <h1 class="unit-Title action-History"><span class="global-button-Icon"></span><span class="unit-TitleSpan">{{> ~loc('_ title.misc.history')}}</span></h1>
    </header>
    <div class="unit-Body">
        <div id="{{: historyId}}_revisions">
        </div>
        <div id="{{: historyId}}_diff">
        </div>
    </div>
</section>
