<tr data-role="content" data-revision-name="{{: revisionName}}">
    <td></td>
    <td colspan="4">
        <dl>
        {{for fieldArray}}
        <dt>{{: title}}</dt>
        <dd><pre class="history-FieldValue">{{> value}}</pre></dd>
        {{/for}}
        </dl>
    </td>
</tr>
