<section id="{{: historyId}}_diff_content" class="history-DiffArea hidden">
    <div class="history-DiffTitle" data-role="before-title">
        <h1 class="history-BeforeTitle">{{> ~loc('_ label.history.revisionname')}}{{colon /}} <span data-cellcopy="revisionname"></span></h1>
        <p class="history-DiffInfo">
            <span data-cellcopy="revisionuser"></span> –
            <span data-cellcopy="revisionday"></span> –
            <span data-cellcopy="revisiontime"></span>
        </p>
    </div>
    <div class="history-DiffTitle" data-role="after-title">
        <h1 class="history-AfterTitle">{{> ~loc('_ label.history.revisionname')}}{{colon /}} <span data-cellcopy="revisionname"></span></h1>
        <p class="history-DiffInfo">
            <span data-cellcopy="revisionuser"></span> –
            <span data-cellcopy="revisionday"></span> –
            <span data-cellcopy="revisiontime"></span>
        </p>
    </div>
    <div id="{{: historyId}}_diff_fieldlist">
        
    </div>
</section>