{{if history.revisionArray.length === 0}}
<p class="history-NoneInfo">{{> ~loc('_ info.history.none')}}</p>
{{else}}
<table class="history-RevisionTable">
    <tr>
    <th>{{> ~loc('_ label.history.revisionname')}}</th>
    <th>{{> ~loc('_ label.history.revisionuser')}}</th>
    <th>{{> ~loc('_ label.history.revisionday')}}</th>
    <th>{{> ~loc('_ label.history.revisiontime')}}</th>
    <th>{{> ~loc('_ label.history.revisionsource')}}</th>
    </tr>
    {{for history.revisionArray ~history=history ~lastIndex=(history.revisionArray.length - 1)}}
    <tr data-index="{{: #getIndex()}}" class="history-Row {{if #getIndex() ==0}}history-AfterRow{{else #getIndex() ==1}}history-BeforeRow{{/if}}">
        <td data-cell="revisionname" class="history-RevisionNameCell">
            <button data-action="show" class="global-button-Standard history-RevisionButton" data-revision-name="{{: name}}" data-index="{{: #getIndex()}}">
                <span class="global-button-Text">{{> ~locRevision(name)}}</span>
            </button>
        </td>
        {{for editArray[0]}}
        <td data-cell="revisionuser">
            {{if user}}
                {{for ~history.userMap[user]}}
                    {{: login}}[{{: sphere}}] – {{> fullname}}
                {{else}}
                    {{: user}}
                {{/for}}
            {{/if}}
        </td>
        <td data-cell="revisionday">{{localDate: time}}</td>
        <td data-cell="revisiontime">{{localTime: time}}</td>
        <td data-cell="revisionsource">{{: source}}</td>
        {{/for}}
        <td class="history-RadioCell">
        {{if #index <  ~lastIndex}}
            <input type="radio" name="after" data-revision-name="{{: name}}" data-index="{{: #getIndex()}}" {{if #getIndex() ==0}}checked{{/if}}></td>
        {{/if}}
        </td>
        <td class="history-RadioCell">
        {{if #index > 0}}
            <input type="radio" name="before" data-revision-name="{{: name}}" data-index="{{: #getIndex()}}"{{if #getIndex() ==1}} checked{{/if}}>
        {{/if}}
        </td>
    </tr>
    {{/for}}
    {{if history.revisionArray.length > 1}}
    <tr>
        <td colspan="5"></td>
        <td colspan="2" class="history-ButtonCell">
        <button id="{{: historyId}}_button_showdiff" class="global-button-Standard">{{> ~loc('_ link.history.diff')}}</button>
        </td>
    </tr>
    {{/if}}
</table>
{{/if}}