<div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
    <img src="{{: name}}/dyn-pub/images/icon32.svg" height="32" width="32" class="multi-fichotheque-Icon32">
    <span>
        {{if title}}
        <span data-role="entry-title" class="multi-fichotheque-Title">{{> title}}</span>
        {{/if}}
        <span class="multi-fichotheque-Name">[{{: name}}]</span>
    </span>
    <span class="global-Glue"></span>
    <a href="{{: name}}/session" target="_blank" class="global-button-Transparent action-Login" title="{{> ~loc('_ link.multi.go')}}">
        <span class="global-button-Icon"></span>
    </a>
</div>
<details class="tools-Details">
    <summary>{{> ~loc('_ title.global.commands')}}</summary>
    <div class="tools-List">
        <button data-action="duplicate" type="button" class="global-button-Link action-Duplicate">
            <span class="global-button-Icon"></span>
            <span class="global-button-Text">{{> ~loc('_ link.multi.duplicate')}}</span>
        </button>
    </div>
</details>
