<div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
    <span class="multi-fichotheque-IconPlaceHolder"></span>
    <span>
        {{if title}}
        <span data-role="entry-title" class="multi-fichotheque-Title">{{> title}}</span>
        {{/if}}
        <span class="multi-fichotheque-Name multi-fichotheque-Inactive">[{{: name}}]</span>
    </span>
    <span class="global-Glue"></span>
</div>
<div class="multi-fichotheque-NotInit">
    {{> ~loc('_ info.multi.fichotheque_inactive')}}
</div>
