<div class="pane-list-EntryHeader pane-list-ToolIncluded" data-role="entry-header">
    <span class="multi-fichotheque-IconPlaceHolder"></span>
    <span>
        {{if title}}
        <span data-role="entry-title" class="multi-fichotheque-Title">{{> title}}</span>
        {{/if}}
        <span class="multi-fichotheque-Name">[{{: name}}]</span>
    </span>
    <span class="global-Glue"></span>
    <button data-action="init" type="button" class="global-button-Transparent action-Init" title="{{> ~loc('_ link.multi.init')}}">
        <span class="global-button-Icon"></span>
    </button>
</div>
<div class="multi-fichotheque-NotInit">
    {{> ~loc('_ info.multi.fichotheque_notinit')}}
</div>