<div class="pane-list-Unit pane-list-Unique">
    <div class="pane-list-Head">
        <p class="pane-list-HeadTitle">{{> ~loc('_ title.multi.fichothequelist')}}</p>
        <span class="global-Glue"></span>
        <button id="listpane_button_newfichotheque" type="button" class="global-button-Transparent action-New" title="{{> ~loc('_ link.multi.newfichotheque')}}">
            <span class="global-button-Icon"></span>
        </button>
    </div>
    <div id="listpane_body" class="pane-list-Body">
        <div class="multi-GlobalDetails">
            <details class="tools-Details">
                <summary>{{> ~loc('_ title.multi.commands')}}</summary>
                <div class="tools-List">
                    <button id="listpane_button_metadata" type="button" class="global-button-Link action-Metadata">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.multi.metadata')}}</span>
                    </button>
                    <button id="listpane_button_newfichotheque2" type="button" class="global-button-Link action-New">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.multi.newfichotheque')}}</span>
                    </button>
                    <button id="listpane_button_initall" type="button" class="global-button-Link action-Init">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.multi.initall')}}</span>
                    </button>
                    <button id="listpane_button_listreload" type="button" class="global-button-Link action-Refresh">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.global.reload')}}</span>
                    </button>
                </div>
            </details>
        {{if withCentralSpheres}}
            <details class="tools-Details">
                <summary>{{> ~loc('_ title.multi.centralspheres')}}</summary>
                <div class="tools-List">
            {{for centralSphereArray}}
                <a href="multi-sphere?sphere={{: name}}" class="global-button-Link" target="_blank">
                    <span class="global-button-Text">{{> title}} [{{: name}}]</span>
                </a>
            {{/for}}
                </div>
            </details>
        {{/if}}
        {{if personManagementAllowed}}
            <details class="tools-Details">
                <summary>{{> ~loc('_ title.multi.personmanagement')}}</summary>
                <div class="tools-List">
                    <a href="multi-admin?stream=synthesis" class="global-button-Link action-Ods">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.multi.spheresynthesis')}}</span>
                    </a>
                    <button id="listpane_button_personmanager" type="button" class="global-button-Link action-Sphere">
                        <span class="global-button-Icon"></span>
                        <span class="global-button-Text">{{> ~loc('_ link.multi.personsearch')}}</span>
                    </button>
                </div>
            </details>
        {{/if}}
        </div>
        <div id="listpane_fichothequelist" class="multi-fichotheque-List">
            <span class="pane-list-Running">{{include tmpl="bdf:running"/}}</span>
        </div>
    </div>
</div>
